[2021-06-18 14:37] henryyue2010 opened #1588 "unable to receive email verification after creating account"
I tried to config smtp.gmail.com: 587 or 465 in uaa.yml

both port do not work

Anyone knows how to config a smtp server or how to skip the email verification in the process of authorization?

Thank you.

[2021-06-18 15:59] strehle commented on #1588
as uaa admin you can set the email verified, see
https://docs.cloudfoundry.org/api/uaa/version/75.2.0/index.html#verify-user
this is if user was created via invite or API.

if user was created as shadow user via OIDC then ensure that claim email_verified = true is set in id_token from IDP authentication

[2021-06-20 09:14] henryyue2010 opened #1590 "anyone had deployed the UAA server with other services in a docker-compose to the cloud?"
I can get multi container applications work locally, but can't make it work after deploying to the kubernates hosting like Okteto

I get problems the the UAA server can't recognize the gateway request. Anyone know how to make UAA server work on the cloud platform? Thank you very much.

[2021-06-20 13:12] #1590 closed, assigned to nobody

[2021-06-20 13:12] henryyue2010 commented on #1590
I figured it out

[2021-06-30 04:51] strehle commented on #1584
Solved

[2021-06-30 04:51] #1584 closed, assigned to nobody

[2021-07-02 19:27] #1514 closed, assigned to bruce-ricard

[2021-07-03 06:14] strehle commented on #1334
in login.yml, see
https://github.com/cloudfoundry/uaa/blob/develop/uaa/src/main/webapp/WEB-INF/spring-servlet.xml#L380-L397
e.g.
login.prompt.username.text
login.prompt.password.text

[2021-07-03 06:14] #1334 closed, assigned to nobody

[2021-07-03 06:18] strehle commented on #1284
see here following properties will be exposed via JMX
https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/resources/spring/data-source.xml#L65
getMaxIdle,getMaxActive,getNumIdle,**getNumActive**

[2021-07-03 08:09] strehle commented on #1515
see https://github.com/cloudfoundry/java-buildpack/issues/886
if the env variable does not work please ask on https://github.com/cloudfoundry/java-buildpack
CF UAA is defined in bosh / k8s env with a JDK 11 and Tomcat 9.x

[2021-07-03 08:10] strehle commented on #1519
should work in last versions

[2021-07-03 08:10] #1519 closed, assigned to nobody

[2021-07-03 08:11] strehle commented on #1520
see https://github.com/cloudfoundry/uaa/issues/1519

[2021-07-03 08:11] #1520 closed, assigned to nobody

[2021-07-03 08:15] strehle commented on #1557
uaa uses flyway to create db tables but the DB itself needs to be created , so yes it is expected behaviour.
see here for uaa ci pipeline the docker setup
https://github.com/cloudfoundry/uaa/blob/develop/ci/image/Dockerfile#L162-L166

[2021-07-07 17:46] #1531 closed, assigned to nobody

[2021-07-07 19:48] #1557 closed, assigned to nobody

[2021-07-07 19:53] strehle commented on #1345
@torsten-sap is this solved now ?

[2021-07-08 06:02] strehle commented on #1281
@viovanov issue is valid, would you propose a PR for it ?
e.g. StringSubstitutor could be used https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/java/org/cloudfoundry/identity/uaa/impl/config/YamlProcessor.java

https://gist.github.com/amr/897109c2c9a5d3b317e6a97fe74f321f

[2021-07-08 14:46] strehle commented on #488
currently no "Remeber me" Option, but meaningful to us
@torsten-sap  FYI

[2021-07-08 14:49] strehle commented on #1345
not fixed until https://github.com/cloudfoundry/uaa-release/pull/303 is made available

[2021-07-12 13:42] torsten-sap opened #1602 "UAA allows to create external IdPs (SAML/OIDC) with the origin key "ldap""
### What version of UAA are you running?

75.4.0

### How are you deploying the UAA?

I am deploying the UAA

- using cf-deployment

### What did you do?

Prerequisite: LDAP is not configured as authentication method

Create an external IdP (SAML/OIDC) via the REST APIs and use origin "ldap".

### What did you expect to see? What goal are you trying to achieve with the UAA?

Request should fail as

[2021-07-13 09:22] strehle commented on #1516
@kumar-asista currently no option for this.

So it would be a new feature. I think there are different approaches currently out, e.g. creating in a new idz/zone/tenant already same client with same id and secret but this is currently done by clients itself (uaac automation).

[2021-07-13 09:23] strehle commented on #1480
I know that this feature is often requested, therefore I simply answer, please propose it via PR and then we can discuss it, because I agree, community asks for this

[2021-07-13 09:25] strehle commented on #1459
There is no roadmap, but I know about UAA forks which provides this already - so if you have also forked it , just create a PR

[2021-07-13 09:27] strehle commented on #1448
UAA currently does not have real public clients. We have confidential clients with known secrets, e.g. famous cf client

So I this ticket as 2 feature requests
a) support public clients ( maybe in combination with PKCE ;) )
b) support rotation in refresh flow for public clients

[2021-07-13 09:31] strehle commented on #1437
this issues seems to be related to your infrastructore. your network and your docker setup needs to be able to https://oidc10.uaa-acceptance.cf-app.com, yes but if this is the case then tests succeed

[2021-07-13 09:32] #1437 closed, assigned to nobody

[2021-07-13 09:34] strehle commented on #1289
The page is customized already because this is the SAP (forked) color, so you have to ask these colleagues

[2021-07-13 09:34] #1289 closed, assigned to nobody

[2021-07-13 09:38] strehle commented on #540
I see there is bigger interesst on this topic.
Currently UAA only has 1 or infinit.... so something like n inbetween is useful.

Could someone from the watchers list propose a PR ?

[2021-07-15 16:01] #1036 closed, assigned to nobody

[2021-07-16 15:11] Harish717 opened #1610 "Not able to update default identity-zone(uaa) with PUT /identity-zones/{id}"
### What version of UAA are you running?
75.2.0

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

### What did you do?
I'm trying to enable mfa on default identityzone (uaa) with PUT API call.
PUT http://localhost:8081/uaa/identity-zones/uaa

Authorizatoin :

"access_token": "eyJhbGciOiJIUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0OjgwODAvdWFhL3Rva2VuX2tleXMiLC

[2021-07-17 07:39] strehle commented on #1610
See here
https://github.com/cloudfoundry/uaa/blob/8609315fadb8243ab38ed261a8bcfb34095de96e/uaa/src/main/webapp/WEB-INF/spring/multitenant-endpoints.xml#L56

That is no bug but wanted behavior

[2021-07-17 08:04] Harish717 commented on #1610
May I know the reason for not allowing updates to default Identity-zone(uaa). We are building UI for UAA API's  and customer wants to have control over enabling/disabling MFA on default identiy-zone at UI level.  I know we can do it through uaa.yml configuration, but Is there a way to enable/disable MFA on default identity zone through API's?

[2021-07-17 15:18] strehle commented on #1610
This check was added many years ago, I was not involved, see
https://github.com/cloudfoundry/uaa/commit/5ba3b73adebabc48fe82bfecd483da0d14ab4520
But the default / system zone with name uaa is always updated from YAML config, e.g. uaa.yml.

And mfa switch is : login.mfa.enabled
https://github.com/cloudfoundry/uaa/blob/develop/uaa/src/main/webapp/WEB-INF/spring-servlet.xml#L474

In CF you have alway

[2021-07-18 16:19] strehle commented on #1345
fixed with
https://bosh.io/releases/github.com/cloudfoundry/uaa-release?version=75.5.0
re-open if not fixed

[2021-07-18 16:19] #1345 closed, assigned to strehle

[2021-07-21 07:17] peterellisjones commented on #1239
Hi folks -- thanks for your support with this issue. I can confirm that the problem is fixed with the latest release (I expect you fixed it many releases ago but I forgot to check :) )

[2021-07-21 07:17] #1239 closed, assigned to nobody

[2021-07-27 12:49] strehle commented on #1588
hi,
closes this because in last version we have added a TLS property.
https://github.com/cloudfoundry/uaa-release/pull/305/files

All SMTP/Email properties for bosh , see
https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/spec#L425-L450

If you further problems in setup, provide an error message,

best regards

[2021-07-27 12:49] #1588 closed, assigned to nobody

[2021-07-30 17:45] peterhaochen47 opened #1620 "SAML login fails with `InResponseToField` validation error"
### What version of UAA are you running?

v75.5.0

### How are you deploying the UAA?

I am deploying the UAA

- as part of a commercial Cloud Foundry distribution

### What did you do?

1. Configure UAA with a SAML external IDP
2. Log into UAA via the SAML provider using the latest Chrome browser

### What did you expect to see? What goal are you trying to achieve with the UAA?
See the UAA login

[2021-08-02 08:46] #1492 closed, assigned to strehle

[2021-08-03 01:35] viovanov commented on #1281
@strehle unfortunately I can't find the time to help, sorry - I'm not working with UAA currently

[2021-08-04 12:51] mvach opened #1628 "using slashes in client ids is broken"
The UAA does allow (via rest api) to create clients who do have slash in the id.
But these clients can then later neither read nor deleted since the slash is then used as part of the resource.

e.g. https://10.0.3.12:8443/oauth/clients/foo/bar'

If we url encode the client id to foo%2Fbar then the UAA returns http-400 while creating the client.

[2021-08-05 06:56] tkurylek opened #1636 "Client creation endpoint does not accept two secrets to support rotation"
In the [UAA API Documentation for Client Create endpoint](https://docs.cloudfoundry.org/api/uaa/version/75.5.0/index.html#create-6), it is mentioned that two secrets can be used (delimited with a space) for a single client.

However if two secrets, delimited with space character are used, the UAA does not split them and neither of them works.

### What version of UAA are you running?

What output

[2021-08-05 14:31] strehle commented on #1636
Hi, Thanks for pointing this. The documentation promises here things which are not in the code.
So with your call you get a secret (which is valid) : "secret1 secret2" but no 2 secrets.

I suggest I fix the documentation about the create and you add following.

1. Create your client as you did
2.  curl 'http://localhost/oauth/clients/NWDGM7/secret' -i -X PUT \
    -H 'Content-Type: application/jso

[2021-08-05 14:35] strehle commented on #1628
Hi ,
I think we have to forbid / and \, or do you expect to have this in client_id ?

The UAA API uses the client id in request path and with spring upgrade to 5.x ? such pathes must not contain URL encoded characters, but with that / must not be in client_id.

OK ?

[2021-08-05 15:15] strehle commented on #1534
Hi,
this is currently not in focus, we have added Github als oauth provider , but this was contributed, so if you have needs for it, suggest you open a PR.
Or describe the Oauth2 provider you use. Most of them support in meanwhile OpenID connect and id_tokens

[2021-08-05 15:16] #1284 closed, assigned to nobody

[2021-08-05 16:27] strehle opened #1640 "Support a copy to clipboard for passcode"
### What version of UAA are you running?

Latest , or 75.6.0

### How are you deploying the UAA?

./gradlew --no-daemon -Dspring.profiles.active=default,debug --no-daemon run

### What did you do?

Login via browser and navigate to /passcode

### What did you expect to see? What goal are you trying to achieve with the UAA?

See a new passcode with a - (hyphen) in there and double click with mouse

[2021-08-05 19:47] gregorwolf commented on #1640
Seems that [server/src/main/resources/templates/web/passcode.html](https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/resources/templates/web/passcode.html) is the needed template. To avoid changes on the creation process for the passcode I would suggest to add a button to copy the passcode directly to the clipboard. A good example can be found in the MDN Web Docs: [Writing to the cl

[2021-08-06 06:27] strehle commented on #1640
Before : Only with a mouse click on the code it can happen (depending on characters, e.g. - ) that we only get parts to the selection and then you have to select again.

![passcode_with-incode](https://user-images.githubusercontent.com/11627201/128465960-d97ca507-72f0-425a-b536-9bd6b0b8380e.png)

After: Click on the Link and you have the code (independent on characters) in your clipboard

<img wid

[2021-08-06 06:36] tkurylek commented on #1636
Hi @strehle

This is how we currently work around this issue. But it would be better if there would be a possibility to create a client with two secrets via a single HTTP call. This would make the client creation transactional. With two HTTP calls it's very problematic to ensure data consistency.

[2021-08-06 06:37] gregorwolf commented on #1640
Nice.

[2021-08-06 07:37] strehle commented on #1640
Another option to fix it - only with an icon. I try to find a UI expert because I am no UI expert and then one option / PR could be use. PR with Icon : https://github.com/cloudfoundry/uaa/pull/1643

![passcode_withcopytoClipboardIcon](https://user-images.githubusercontent.com/11627201/128474455-f589fcbe-4cf7-4ea9-a757-059ac7d89948.png)

[2021-08-06 07:45] gregorwolf commented on #1640
One example for such an UI can be found when you create an access token at https://github.com/settings/tokens. There the copy icon is directly beside the code:

![Screenshot 2021-08-06 at 09 44 07](https://user-images.githubusercontent.com/2639535/128475485-32526835-39b5-4e0e-aef6-454112e1f720.png)

[2021-08-06 09:15] Harish717 commented on #1610
It would be of great help, if the same information added to the UAA API documentation https://docs.cloudfoundry.org/api/uaa/version/75.6.0/index.html#updating-an-identity-zone
It would save a lot of time for new users of UAA

[2021-08-06 12:28] strehle commented on #1640
#1643

![image](https://user-images.githubusercontent.com/11627201/128510388-9959672c-9509-4745-9013-a634b74a0b5d.png)

[2021-08-06 12:30] gregorwolf commented on #1640
The red looks a bit strage. But I like the mono-spaced font.

[2021-08-06 12:53] strehle commented on #1640
#1643 updated , use samp instead of code . I dont want edit/change styles, from e.g.
https://github.com/cloudfoundry/uaa/blob/develop/uaa/src/main/webapp/resources/oss/stylesheets/application.css#L519-L528

![image](https://user-images.githubusercontent.com/11627201/128513315-f68c7f1e-9c45-4885-aee4-590ec0d9604a.png)

[2021-08-06 14:23] strehle commented on #1636
Hi @tkurylek

ok, but then I would like to have an extra parameter for the create call, because even if documentation is promising 2 secrets, the problem is that clients with such setting now have a different secret and inside a secret a " " , "," is not forbidden .
So I ask you to propose a PR for the 2nd secret in create.

The rest controller ist in
https://github.com/cloudfoundry/uaa/blob/devel

[2021-08-06 14:26] strehle commented on #1498
Hi @metacubed ,
you already contributed so please provide a PR

[2021-08-06 14:27] #1371 closed, assigned to nobody

[2021-08-06 14:29] strehle commented on #1440
HI @mbalsam82 ,
tried this but could not reproduce it.
Do you use HMAC or RSA signing key ? I tried with 2nd RSA

[2021-08-07 03:34] metacubed commented on #1498
@strehle Can you point me to the class(es) which generate this error response? We'll need to set the media-type header on those handlers.

[2021-08-07 07:20] strehle commented on #1498
@metacubed

Users endpoint
https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/java/org/cloudfoundry/identity/uaa/scim/endpoints/ScimUserEndpoints.java#L195

Groups
https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/java/org/cloudfoundry/identity/uaa/scim/endpoints/ScimGroupEndpoints.java#L136

I assume missing is a produces attribute in requestmapping to restrict conten

[2021-08-07 07:29] #1515 closed, assigned to nobody

[2021-08-07 14:30] strehle commented on #1610
@Harish717 please check if this
https://github.com/cloudfoundry/uaa/pull/1646/files
would be ok with you?

[2021-08-08 07:49] Harish717 commented on #1610
Thank you @strehle

[2021-08-08 14:35] #1610 closed, assigned to nobody

[2021-08-10 14:37] Harish717 commented on #1610
Hi @strehle

I want to know is there way to enable mfa only for a specific identity provider. By default I could see it's enabling or disabling MFA for ["uaa","ldap"].It's hardcoded in UAA code that -
public static final List<String> DEFAULT_MFA_IDENTITY_PROVIDERS = Arrays.asList("uaa", "ldap");

[2021-08-10 20:28] metacubed commented on #1498
@strehle I think the actual endpoints are fine, it's just the Spring MVC exception handlers that are not configured correctly. I can't find where they are defined in the UAA code.

[2021-08-11 16:48] Harish717 opened #1648 "Not able to update identity providers list in mfaConfig of UAA identity zone"
### What version of UAA are you running?

75.2.0

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

### What did you do?

Since we can not update default identity zone (uaa) through update API. I'm trying to enable MFA on default identity zone (uaa) through uaa.yml file. I want to limit enabling MFA only to "uaa" alone but by default it's enabling MFA for 'u

[2021-08-13 06:44] tkurylek commented on #1636
Hi @strehle

Thanks a lot for the suggestions. I'm open to create a PR for that.

I understand that fixing this issue on client creation endpoint would break the compatibility and thus there should be an extra parameter. Could you suggest any approach to this? I was thinking about:
 - adding a header that would work as a feature flag to split the  given secrets. if the header is missing the creati

[2021-08-16 11:37] tpkiranmohan commented on #921
Is there any ways available in new versions of UAA to support this option ?

We are planning to use UAA in one of our projects. Since we are using ldap based authentication we need to give ldap credentials in yml configuration. Is there any ways to not expose the credentials?

[2021-08-17 08:26] albinadhikaramgit opened #1649 "Unable to deploy UAA locally using gradlew run"
### What version of UAA are you running?
75.6.0

### What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`?

[code]

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

### What did you do?

[code]
### What did you expect to see? What goal are you trying to achieve with the UAA?

I shoud be able to run `curl localhost:8080/uaa/info -H

[2021-08-17 12:36] mbalsam82 commented on #1440
I used RSA signing keys iirc. I created this bug a while ago when I noticed it on the develop branch. It hasn't occurred again with the latest releases, so I'd say it's **obsolete** and I'll close the issue. I still think that UAA should have better APIs to be able to rotate signing keys in a meaningful way (i.e. without having to keep them somewhere outside of UAA), but that'd be a separate issue

[2021-08-17 12:36] #1440 closed, assigned to nobody

[2021-08-17 16:26] strehle commented on #1649
Hi , these errors were reported a view times already, see https://github.com/cloudfoundry/uaa/search?q=gradlew+run+timeout&type=issues

Please check, if your machine has enough power. Another solution would be to increase start timeout, see PR which provides such an option
https://github.com/cloudfoundry/uaa/pull/1594

[2021-08-17 16:31] strehle commented on #1440
If you see a better solution please propose a PR.

currently the update of UAA Identity Zone is not allowed but other zones allow Rest calls.

[2021-08-17 17:13] strehle commented on #921
No don’t know any action here

[2021-08-17 23:36] figuernd opened #1650 "Process hangs on "Building BackwardsCompatibleDelegatingPasswordEncoder with {bcrypt} only""
### What version of UAA are you running?

75.0.0

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`?

![image](https://user-images.githubusercontent.com/14897334/129813318-afd14af0-79a6-4da5-81d4-3a4f5ce9a512.png)

### How are you deploying the UAA?

Deployed the UAA war file to Tomcat on an EC2 instance.

- using cf-release

### What did you do?

Directly booted UAA

[2021-08-19 06:56] tkurylek commented on #1636
Hi @strehle

I have created a PR (#1651) where I have extended `org.springframework.security.oauth2.provider.ClientDetails` to support `secondary_client_secret` json property. Let me know if this approach is fine with you. If not I can adjust my changes.

Cheers

[2021-08-20 04:32] Subbu3992 opened #1653 "Eclipse Jakarta Expression Language library needs version bump"
What version of UAA are you running?
75.5.0

How are you deploying the UAA?
I am deploying the UAA

using a bosh release I downloaded from bosh.io
What did you expect to see? What goal are you trying to achieve with the UAA?
Eclipse Jakarta Expression Language > 3.0.3

What did you see instead?
Eclipse Jakarta Expression Language = 3.0.3

Notes:
Eclipse Jakarta Expression Language <= 3.0.3 is pron

[2021-08-21 08:58] strehle commented on #1653
Dependency updated needed
https://github.com/spring-projects/spring-boot/blob/2.4.x/spring-boot-project/spring-boot-dependencies/build.gradle#L334-L340

3.0.4 is built but not available on maven yet,
https://github.com/eclipse-ee4j/el-ri/pull/160
https://github.com/eclipse-ee4j/el-ri/compare/3.0.3-RELEASE...3.0.4-impl

dependent issue
https://github.com/eclipse-ee4j/el-ri/issues/155

[2021-08-21 09:03] #1640 closed, assigned to nobody

[2021-08-30 09:59] mvach commented on #1628
That is oke for me.
From my perspective UAA should either allow to encode slashes or prevent using it. But allowing to create clients with / in the id and failing while getting or deleting it is broken. BTW: The only way to get rid of such clients is to delete them from the database via SQL :-(.

[2021-08-30 16:10] strehle commented on #1498
should be here as example from scim group endpoint
https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/java/org/cloudfoundry/identity/uaa/scim/endpoints/ScimGroupEndpoints.java#L572-L591
e.g. search for ExceptionHandler

[2021-08-30 17:56] metacubed commented on #1498
Those handlers all seem to be using a `ConvertingExceptionView` to convert an `ExceptionReport` to the HTTP response. When the `Accept` header is absent or `*/*`, that class tries to infer the response media type:

https://github.com/cloudfoundry/uaa/blob/3ce614a62119132aa25f78f87134b0cbe6fa43d2/server/src/main/java/org/cloudfoundry/identity/uaa/web/ConvertingExceptionView.java#L130-L133

I think

[2021-08-31 12:09] strehle commented on #1498
ok for me, hope that not too many tests needs to be adopted

[2021-09-02 21:47] schrosolver commented on #1653
I think 3.0.4 is now available on maven
https://search.maven.org/artifact/org.glassfish/jakarta.el/3.0.4/jar

[2021-09-06 16:05] #1653 closed, assigned to nobody

[2021-09-09 12:01] strehle opened #1662 "Missing lower index on users table - needed for postgres"
### What version of UAA are you running?

75.7.0 , develop

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

### What did you do?

Executed a SQL manually because we had a postgres issue in bigger landscapes
Example

select count from users where ((LOWER(username) = LOWER('mariassa') and LOWER(identity_zone_id) = LOWER('uaa')))

With a DB ide you can execut

[2021-09-09 12:03] strehle commented on #1662
@torsten-sap FYI

[2021-09-11 08:51] strehle commented on #1473
Does #1652 solve it?

[2021-09-11 08:51] #1473 closed, assigned to nobody

[2021-09-14 09:59] #1662 closed, assigned to nobody

[2021-09-14 12:09] #1636 closed, assigned to nobody

[2021-09-14 22:45] peterhaochen47 commented on #1620
We decide to close the PR #1621 (This PR is only a short-term fix) for now, and instead try to come up with a long-term fix. If anyone is immediately blocked (which we haven't heard from any OSS users), they can request to reopen this PR #1621.

[2021-09-15 10:38] strehle commented on #1648
@Harish717 please checkout related PR and validate if this solves your issue, see
description about new option in uaa.yml,
https://github.com/cloudfoundry/uaa/pull/1666#issue-996921256

[2021-09-16 06:06] #1602 closed, assigned to nobody

[2021-09-18 07:56] #1628 closed, assigned to nobody

[2021-09-22 17:36] bsekar commented on #1480
Thanks @strehle . Created [PR](https://github.com/cloudfoundry/uaa/pull/1682)

[2021-09-22 17:36] #1480 closed, assigned to nobody

[2021-10-12 20:28] HungUnicorn opened #1692 "customization by using UAA as library in gradle/maven"
### What version of UAA are you running?
4.30.0
https://mvnrepository.com/artifact/org.cloudfoundry.identity/cloudfoundry-identity-server

### How are you deploying the UAA?

I am deploying the UAA
- as an dependecy in gradle

### What do you want to do?
I want to customize some code and use UAA as a lib, which one should I take? is this one? coz the version is not up-to-date
https://mvnrepository

[2021-10-13 07:53] strehle commented on #1692
some year ago the maintainer of uaa decided to remove the tools part, e.g. client library (which was a subproject in uaa) and maven deployment, because the support load of such requests.

The uaa is bundled into uaa-release and accessible via bosh, see
https://bosh.io/releases/github.com/cloudfoundry/uaa-release?all=1
https://bosh.io/d/github.com/cloudfoundry/uaa-release?v=75.8.0

Each release get

[2021-10-13 12:37] #1692 closed, assigned to nobody

[2021-10-14 18:53] gw-lling opened #1697 "Authentication via Idp does not trigger MFA and password expiration"
### What version of UAA are you running?
75.5.2

### How are you deploying the UAA?

kubernetes

### What did you do?

- Setup MFA and `requirePasswordChange: true` for a zone.
- Setup UAA as Idp.

### What did you expect to see? What goal are you trying to achieve with the UAA?

UAA should prompt for MFA and password change regardless login directly from UAA UI or through Idp.

### What did you s

[2021-10-15 11:42] meeque opened #1698 "UAA authorization codes still too short"
This is a follow-up to PR #1615. The fix there is incomplete, UAA still uses authorization codes that are only **120 bits** strong. That is better than before the PR (which was 60 bits, though erroneously reported as 80 bits), but still [less than suggested by the oAuth2 spec](https://datatracker.ietf.org/doc/html/rfc6749#section-10.10). The standard mandates **128 bits** of randomness and suggest

[2021-10-15 14:18] strehle commented on #1697
hi , I am not sure that I understand this therefore please let me ask.

With Idp you mean you have configured a SAML or OIDC idp in UAA, correct ?

MFA is defined by default to origins ldap and uaa, see similar issue #1648
therefore I ask about if you have some IDP different which gets a different origin
https://github.com/cloudfoundry/uaa/issues/1648

About password change I am not sure but for S

[2021-10-15 14:30] strehle commented on #1650
I never start uaa in this way so I only see in your attached log, that setting java.security.egd is not done and I know from past, that missing of it caused trouble, see

https://github.com/cloudfoundry/uaa/issues/1233
https://github.com/cloudfoundry/uaa-release/issues/79

Therefore is bosh start it is set
https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/templates/bin/uaa#L30
K8s

[2021-10-15 15:11] strehle commented on #1698
Hi, thanks for the hint and thus I looked beyond the box (spring) and checked here
https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/src/8.x/src/main/java/com/nimbusds/oauth2/sdk/AuthorizationCode.java
https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/src/8.x/src/main/java/com/nimbusds/oauth2/sdk/id/Identifier.java

that we should use 32 to b

[2021-10-15 15:27] strehle commented on #1534
Hi, close this except you have a concrete oauth2 provider in mind , which is that big , like github so that it makes sense to check an integration,
pls. reopen in this case

[2021-10-15 15:27] #1534 closed, assigned to nobody

[2021-10-15 16:32] meeque commented on #1698
Sorry, I've hit the wrong button, and closed this one. After reopening, a new Pivotal Tracker issue may have been created. Sorry, for that, please ignore it.

That said, `length` **32** sounds good to me. All else left unchanged, that will result in **192 random bits**.

[2021-10-15 16:46] #1697 closed, assigned to nobody

[2021-10-21 18:23] #1649 closed, assigned to nobody

[2021-10-22 04:40] #1698 closed, assigned to nobody

[2021-10-26 11:22] strehle opened #1705 "Improve SQL for deleting revocable tokens"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2021-10-26 11:24] strehle commented on #1372
https://github.com/cloudfoundry/uaa/pull/1446#issuecomment-744879508

[2021-10-26 11:24] #1372 closed, assigned to nobody

[2021-10-28 21:59] dderdon opened #1710 "JWT header deserializer doesn't ignore not understood parameters instead it throws an exception"
In our project we configure OIDC Identity Provider for an external identity provider that responds with an `ID token` containing custom private parameter in the token header.

According to the RFC 7515 section 4 where JOSE Header is defined

It turns out that UAA doesn't ignore not understood header parameters instead it throws an exception while deserializing the header section.

I have found som

[2021-10-29 06:41] strehle commented on #1710
Hi and thanks,
in general I am with you and that should be fixed. You provided a PR already. That is perfect, however  the CLA needs to be fullfilled, see https://api.easycla.lfx.linuxfoundation.org/v2/repository-provider/github/sign/1797134/3382195/1709/#/?version=2

I will have an additional deeper look on it and include this fix into next release ( next 2-3 weeks)

[2021-11-04 08:17] torsten-sap opened #1713 "Missing index for username and identity_zone on users table (Postgres)"
### What version of UAA are you running?

75.9.0

### How are you deploying the UAA?

I am deploying the UAA
- locally only using gradlew

### What did you do?

Executed a SQL manually because we had a postgres issue in bigger landscapes

Example:
[code]

You may execute explain analyze.

### What did you expect to see? What goal are you trying to achieve with the UAA?

Expected is an indexed scan

[2021-11-04 11:23] strehle commented on #1713
@torsten-sap  since this seemed to be related to https://github.com/cloudfoundry/uaa/commit/dca40d968c42a2b5e09b84639787f9517ecc68b8
The issue #1663 solved one, now additional one, but is there still one issue missing ? because there were 3 SQL changed to lower....?

[2021-11-04 11:31] torsten-sap commented on #1713
Yes, we should also check the third one. In the best case changing the order of the recently created index might also solve the others.

[2021-11-10 06:59] #1710 closed, assigned to nobody

[2021-11-11 16:32] strehle commented on #1713
@torsten-sap  I verified with a colleague in a larger DB that existing index from
issue https://github.com/cloudfoundry/uaa/issues/1713 	and fix
https://github.com/cloudfoundry/uaa/pull/1663/files

solves also this.
If you have other findings , please re-open

[2021-11-11 17:16] #1650 closed, assigned to nobody

[2021-11-12 19:02] johnegrosjean opened #1720 "Support adding OIDC certificate to list of trusted certs"
### What version of UAA are you running?
"version":"75.6.0"

### How are you deploying the UAA?
I am deploying the UAA
- as part of a commercial Cloud Foundry distribution

### What did you do?
I've setup UAA to point to an OIDC provider, as I've done many times before.  The difference here is that the OIDC provider is using a web certificate signed by a private CA.  I've added the root CA cert to

[2021-11-12 20:35] strehle commented on #1720
for UAA tomcat you can set property ca_certs, see
https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/spec#L292-L314

[2021-11-15 17:23] #1705 closed, assigned to nobody

[2021-11-16 18:43] johnegrosjean commented on #1720
Got it, thanks!

[2021-11-16 18:43] #1720 closed, assigned to nobody

[2021-11-23 03:28] Subbu3992 opened #1728 "Spring Security Oauth2 End of Life"
What version of UAA are you running?
75.9.0

How are you deploying the UAA?
I am deploying the UAA

using a bosh release I downloaded from bosh.io
What did you expect to see? What goal are you trying to achieve with the UAA?
Spring Security Oauth2 library removed and consume Spring Security package that provides OAuth 2.0 support.

What did you see instead?
Spring Security Oauth2 = 2.5.1.RELEASE

[2021-11-24 09:09] strehle opened #1729 "K8s image outdated"
### What version of UAA are you running?

75.9.0

### How are you deploying the UAA?

I am deploying the UAA

- docker

### What did you do?

run image from
https://github.com/cloudfoundry/uaa/blob/develop/k8s/templates/values/image.yml#L3

docker run --privileged --tty --interactive --shm-size=1G --name test --rm -d cloudfoundry/uaa@sha256:4c7f2d881bc9c4a075232064e906d032c9512b03b87c06cbb2501560c

[2021-11-24 17:00] strehle commented on #1728
Hi @Subbu3992  ,

The status of this library is EOL but we have some others which are also EOL, e.g,. Spring Security SAML, opensaml2 .
The current approach would be to replace this if we have a CVE or security issue reported.

The migration guide - you mentioned - does not cover server implementations, but that is what UAA does. However UAA has got feature like PKCE which were done without such a

[2021-11-25 12:02] #1498 closed, assigned to nobody

[2021-12-01 15:25] #1243 closed, assigned to nobody

[2021-12-01 15:25] strehle commented on #1243
uaa cli must handle it

[2021-12-01 15:26] #1083 closed, assigned to nobody

[2021-12-02 04:38] TimOwen21 opened #1735 "Mapping groups to scopes using OAuth (OIDC)"
### What version of UAA are you running?
75.0.0

### How are you deploying the UAA?
As part of a commercial Cloud Foundry distribution

### What did you do?
I have UAA configured to connect to an external IdP via OAuth(OIDC); however, I can't get the groups from the IdP's Id token to map to Scopes in the UAA token. I noticed there was a 'groupMappingMode: AS_SCOPES' that could be used for SAML, bu

[2021-12-05 10:40] strehle commented on #1735
Hi, I have added a PR which provides such feature.
To me it makes sense because OIDC should replace SAML and in OIDC Idp like Azure you have a claim roles which makes sense to map it directly to a scope claim in UAA to allow external authorization management similar SAML provided it with SAML attribute mappings.

[2021-12-05 10:43] strehle commented on #1735
Example entries for  uaa.yml:
[code]

[2021-12-11 03:19] bdselle opened #1742 "Access Denied when calling /introspect"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2021-12-11 03:22] bdselle commented on #1742
I apologize I forgot to include that if I send a Basic Authorization header through it does work.

[2021-12-14 11:34] pallav-bh opened #1743 "The property mappings link for the current version seems to be down"
[https://docs.cloudfoundry.org/api/uaa/version/75.11.0/propMappings](https://docs.cloudfoundry.org/api/uaa/version/75.11.0/propMappings/) is down for the version  75.11.0

### What version of UAA are you running?
75.11.0

[2021-12-14 11:53] strehle commented on #1743
do you see : https://docs.cloudfoundry.org/api/uaa/version/75.11.0/index.html#overview

[2021-12-14 11:58] pallav-bh commented on #1743
Yes but when I click on Internal Property Mappings its giving 404 error

[2021-12-14 12:19] strehle commented on #1743
oh ok, but I think we should remove this simply @peterhaochen47  ? agree ?

[2021-12-15 00:23] peterhaochen47 commented on #1729
I'm still trying to rediscover context about how these images are managed. But currently, I see the the image reference is updated on the git branch/tag that is associated with each uaa release, eg this commit: https://github.com/cloudfoundry/uaa/commit/a04e905e69ad8f6339f040989b6862a6148b37da is on this branch https://github.com/cloudfoundry/uaa/tree/v75.11.0

And the `develop` branch one is inde

[2021-12-15 18:31] strehle commented on #1742
hi,
the bearer token you use instead of authorization header must be a client credential token
e.g. here is the integration test
https://github.com/cloudfoundry/uaa/blob/develop/uaa/src/test/java/org/cloudfoundry/identity/uaa/integration/IntrospectEndpointIntegrationTests.java

if you still have issue, please provide an example configuration with example tokens so that I can reproduce on my own.

[2021-12-15 22:15] #1743 closed, assigned to nobody

[2021-12-16 16:39] torsten-sap commented on #1713
Finding from productive CF UAA showed that there are situations where the existing index is not hit. The proposed index improved the situation significantly. Thus, reopening the issue.

[2021-12-16 16:41] torsten-sap commented on #1713
Affected queries:
`select count(*) from users where ((LOWER(username) = LOWER($1) AND LOWER(identity_zone_id) = LOWER($2)))`

`select id,version,created,lastModified,username,email,givenName,familyName,active,phoneNumber,verified,origin,external_id,identity_zone_id,salt,passwd_lastmodified,last_logon_success_time,previous_logon_success_time from users where ((LOWER(username) = LOWER($1) AND LOWER(

[2021-12-16 16:42] torsten-sap commented on #1713
Command for index creation:
`create index concurrently users_username_idz_tmp on users(LOWER(username), LOWER(identity_zone_id))`

[2021-12-16 16:43] strehle commented on #1713
@torsten-sap  thanks, so can you please create PR for that

[2021-12-16 17:59] bdselle commented on #1742
I did setup a new client in our yaml file. I used the oauth/token endpoint passing through grant_type=client_credentials. I am following the client credential grant (using the basic auth header client id/secret) to get the token back. I then take that token and put it into the Authorization header as a bearer token. I'm wondering if my client setup is incorrect in some way. I included an image of

[2021-12-18 17:45] singh-gurpreet opened #1751 "Microsoft SQL Server Support"
UAA isn't able to work with Microsoft SQL Server anymore, please help how latest version can work with MicroSoft SQL Server

Unable to obtain connection from database: Unable to load class: com.microsoft.sqlserver.jdbc.SQLServerDriver from ClassLoader:ParallelWebappClassLoader

[2021-12-18 21:26] strehle commented on #1751
It was removed in version 4.31, see
https://github.com/cloudfoundry/uaa/releases/tag/4.31.0
with
https://github.com/cloudfoundry/uaa/commit/14ed2fac2bd1450eb08133528be1267142528891

More than 2 years ago

[2021-12-19 22:21] singh-gurpreet commented on #1751
thank you @strehle how I can make it work SQL Server, we had 4.19, now time to upgrade and now there is no MicroSoft SQL Server

[2021-12-20 10:41] strehle commented on #1751
Here I found initial PR for MS SQL server support
https://github.com/cloudfoundry/uaa/pull/507

From tags it refs. versionn 4.12.x

DB support in UAA is a time consuming business as you can see with the issues and PRs from history here. There are always issues with missing indexes and/or SQL incompatiblities during the various DBs and version.
We have in meantime mysql and postgresql only.

If you

[2021-12-20 11:37] strehle commented on #1648
closed due to age

[2021-12-20 11:37] #1648 closed, assigned to nobody

[2021-12-20 13:41] strehle commented on #1373
please see discussion https://github.com/cloudfoundry/uaa/issues/1751

[2021-12-20 13:41] #1373 closed, assigned to nobody

[2021-12-20 13:47] strehle commented on #1444
see https://github.com/cloudfoundry/uaa/issues/1735

[2021-12-20 22:14] #1713 closed, assigned to strehle

[2021-12-28 11:58] strehle commented on #1742
do you have a "authorities": [ "uaa.resource" ] in your JWT ? which you set in Authorization header ? please check,
because the check is simply for authorities using spring, see
https://github.com/cloudfoundry/uaa/blob/develop/uaa/src/main/webapp/WEB-INF/spring/resource-endpoints.xml#L21

[2021-12-30 14:27] pburkholder commented on #540
I hope everyone had a good 2021! How do things look for getting this addressed in 2021?

Also to quote @cnelson:

[2022-01-11 09:58] phlawski opened #1761 "Redirect URIs with commas are badly treated upon creating Oauth2 client"
### What version of UAA are you running?

v75.12.0

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`?

[code]

### How are you deploying the UAA?

I am deploying the UAA in K8S cluster using a Docker Image crafted by me.

### What did you do?

When I am creating a new Oauth2 client using following request:

[code]

Then I am getting 200 OK response with the body:

[c

[2022-01-12 15:16] strehle commented on #1761
thanks for reporting the issue!

I have created 2 options see https://github.com/cloudfoundry/uaa/pull/1765 https://github.com/cloudfoundry/uaa/pull/1766

[2022-01-13 08:30] phlawski commented on #1761
Thanks. I'm gonna check both feature branches today or tomorrow, although, from what I see in the code,  I'm more into the second one which correctly treats provided URIs.

[2022-01-13 15:00] #1761 closed, assigned to nobody

[2022-01-13 18:15] #1735 closed, assigned to nobody

[2022-01-14 16:45] #1444 closed, assigned to nobody

[2022-01-14 16:56] strehle commented on #540
@pburkholder If you would provide a PR then this would be a good starting point .

I know that this is a compliant issue, where all the bigger orgs should have interesst to have it
@torsten-sap  FYI

[2022-01-19 05:06] pallav-bh opened #1769 "PSQLException on starting UAA"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2022-01-19 12:39] strehle commented on #1769
the sql exception comes from SQL session store - a feature which was not there in you old version, however the default in newer versions is still memory, see

https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/spec#L1289-L1295

So please check and ensure that you use memory sessions for postgresql. The session contain binary null values where postgresql stucks...

[2022-01-19 14:19] strehle opened #1772 "Shutdown of JCenter"
https://blog.gradle.org/jcenter-shutdown

So uaa needs to change its dependencies and with this

Dont know if we should keep propdepsor simple remove it because we dont need maven pom generation, however found
https://plugins.gradle.org/plugin/cn.bestwu.propdeps via search
https://plugins.gradle.org/search?term=propdeps

[2022-01-19 14:23] strehle commented on #1772
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2022-01-19 18:18] pallav-bh commented on #1769
I had not defined the property earlier so it should take the default value.
Now I added the config:
uaa:
    servlet:
        session-store: memory

but still facing the same error.

[2022-01-20 08:18] #1751 closed, assigned to nobody

[2022-01-20 08:19] strehle commented on #1742
can you please check and if you see in code an issue, please provice a PR , as mentioned I have debugged it but did not found an issue

[2022-01-20 08:21] #1728 closed, assigned to nobody

[2022-01-20 08:21] #1620 closed, assigned to nobody

[2022-01-20 08:23] strehle commented on #1065
@paroxp can you please provide a PR to this repo

[2022-01-20 08:33] strehle commented on #1769
Hi, ok, see now in your ytt case you cannot switch off database sessions, e.g.
https://github.com/cloudfoundry/uaa/blob/develop/k8s/templates/deployment.star#L19
The property is set in you log - see at begin, so I only see solution as following
a) you manage it to change locally https://github.com/cloudfoundry/uaa/blob/develop/k8s/templates/deployment.star#L19 to memory and start it
b) you fix pos

[2022-01-20 14:36] bdselle commented on #1742
Sorry for the late response. I do have the uaa.resource showing as an authority in the JWT. I will take a closer look at the code and try to debug further where the issue is.

[2022-01-21 09:44] pallav-bh commented on #1769
Changing the value of session-store https://github.com/cloudfoundry/uaa/blob/develop/k8s/templates/deployment.star#L19 to memory and starting it did the trick. It working now.

Thanks for the help. Closing the ticket.

[2022-01-21 09:44] #1769 closed, assigned to nobody

[2022-01-27 04:42] andye2004 opened #1784 "Feature Request: Device grant according RFC8628"
I'm wondering if there are any plans to support OAuth 2.0 device authorization grant ([rfc8628](https://datatracker.ietf.org/doc/html/rfc8628)), if this isn't already on the roadmap can it be added please?

[2022-01-31 08:00] strehle commented on #1784
Hi @andye2004 ,

Your request is valid, however we dont have a roadmap that you may expect and this topic is not on such a plan.
The community UAA depends on the community and thus if you have a pull reuqest then we will review and help to get this into UAA because the topic belongs to feature which makes sense inside UAA.

[2022-02-02 11:20] pallav-bh opened #1788 "Unable to load login page getting home controller Internal error"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2022-02-03 09:39] strehle commented on #1788
Hi,
I see the error

org.springframework.security.web.firewall.RequestRejectedException: The request was rejected because the URL contained a potentially malicious String ";"

and from that I can reproduct it simply with a ; (semicolon) in URL, e.g.

http://localhost:8080/login; or in CF acceptance https://login.uaa-acceptance.cf-app.com/login;

The point is, currently I dont see where the ; is us

[2022-02-03 11:42] strehle commented on #1788
in addition.
1. I would to understand how your requests look like and from whom / where the ; is added .
2. Of course we can add in uaa a rule to allow ; if it is required: https://www.baeldung.com/spring-security-request-rejected-exception#2-stricthttpfirewall , e.g. example requirement would be https://www.baeldung.com/spring-mvc-matrix-variables

[2022-02-03 12:29] pdambrauskas opened #1790 "External group mapping to JWT scopes (SAML) does not work as expected"
Hello, I have uaa group mapping configured as follows:
[code]

Also I've added external groups to `externalGroupsWhitelist` on my SAML provider.
When trying to log in, I can see `White listed external SAML groups:'[external_id1, external_id2]'` logged.
So I came to the conclusion that groups are mapped correctly (https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/java/org/cloudfoundr

[2022-02-07 08:50] pdambrauskas commented on #1790
Never-mind, turns out I used wrong origin when configuring group mappings.

[2022-02-07 08:50] #1790 closed, assigned to nobody

[2022-02-22 08:51] Subbu3992 opened #1799 "Flyway core library requires version bump"
What version of UAA are you running?
75.15.0

How are you deploying the UAA?
I am deploying the UAA

using a bosh release I downloaded from bosh.io
What did you expect to see? What goal are you trying to achieve with the UAA?
Flyway > 8.4.2

What did you see instead?
Flyway = 5.2.4

Notes:
Flyway ≤ 8.4.2 is prone to H2 Console allows remote attackers to execute arbitrary code via a jdbc:h2:mem JDB

[2022-03-19 08:08] strehle commented on #1280
Thanks for reporting, this will be fixed with next release.
The full JWS list, e.g. https://datatracker.ietf.org/doc/html/rfc7518#section-3.1 still is open

[2022-03-23 08:24] strehle opened #1816 "No option to specify token signing algorithm, e.g. HS512, RS512 or PS256"
### What version of UAA are you running?

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`?

75.16.0 or develop

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradle

### What did you do?

Setup UAA with asymetric key in order to create FAPI compliant tokens, e.g. https://openid.net/specs/openid-financial-api-part-2-wd-02.html

The

[2022-03-23 14:41] robl-sap opened #1817 "Missing encoding of RelayState for SAML SLO"
### What version of UAA are you running?

75.16.0 or develop

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

### What did you do?

Added SAML IdP, logged in, then triggered SP initiated SLO.

### What did you expect to see? What goal are you trying to achieve with the UAA?

SLO contains encoded RelayState.

### What did you see instead?

RelayState is not

[2022-03-24 10:20] #1817 closed, assigned to nobody

[2022-03-29 08:44] #1280 closed, assigned to strehle

[2022-03-30 07:23] SeifMostafa commented on #944
@cf-gitbot any updates here?!

[2022-04-01 10:22] madpipeline opened #1829 "UAA start-up fails"
### What version of UAA are you running?
75.15.0

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`?
None, UAA does not start.

### How Are you building UAA?
[code]
### How are you deploying the UAA?
[code]
The uaa-template.yml file is a copy from https://github.com/cloudfoundry/uaa/blob/75.15.0/uaa/src/main/resources/uaa.yml with uncommented sections.

The DB section

[2022-04-02 08:13] strehle commented on #1829
Thanks for reporting this. Will check it. Currently UAA has 2 hard coded deps , one is flayway
https://github.com/cloudfoundry/uaa/blob/develop/dependencies.gradle#L6-L9

So I assume in past there were issues, thus the own version definition

[2022-04-02 08:17] strehle commented on #1799
Hi,
UAA uses in-mem DB only for tests but in production we support only maria (mysql) and postgresql.
However if we face issues like https://github.com/cloudfoundry/uaa/issues/1829 I will update this .

Thank you

[2022-04-02 08:19] strehle commented on #1729
Hi Peter,
context is the setup of UAA in K8s , e.g. I setup uaa on minikube and there I see setup issue, . I see that our acceptance UAA https://uaa.uaa-acceptance-k8s.cf-app.com/info is recent enough but  does not work, https://uaa.uaa-acceptance-k8s.cf-app.com/login

[2022-04-02 08:23] strehle commented on #1093
outdated, with UAA 75.x we run this without issues in AWS / Postgres combination

[2022-04-02 08:23] #1093 closed, assigned to nobody

[2022-04-02 12:29] strehle commented on #1829
Hi,
tested latest uaa startup from scratch with postgresql 12.6., 12.10, 13.5 and found no issue because of flyway.

Flyway bean is the first connect to DB so if there is an issue, then this bean fails, so from my expierence in past I know these kind of error in case of DB connection problems.

The warning at the begin I can see, too

[2022-04-02T11:54:31.332076Z] uaa/uaa - 5702 [main] ....  INFO

[2022-04-04 11:27] strehle opened #1831 "OAuth error from IdP if mapped claim is no string"
### What version of UAA are you running?

75.18.0, develop UAA

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

Created oauth provider in uaa.yml to forward authentication requests to another OIDC provider.
The received id_token is mapped to UAA user.

### What did you do?

Exception

There was an error when authenticating against the external identity pro

[2022-04-04 12:45] madpipeline commented on #1829
If that's the case it seems my issue is not cause by Flyway but by something else, which I am still unable to identify.

[2022-04-05 12:30] madpipeline commented on #1829
It seems I didn't have the `uaa` schema created. After I created the schema, I was free of that error, and onto the next.
Shouldn't UAA create the schema if it doens't find it?

[2022-04-05 13:36] strehle commented on #1829
in postgresql the default schema is public and now I see the issue, your jdbcUrl specifies currentSchema different to public.
since the public schema in create db is always there it was never an issue for others. e.g.

`url: jdbc:postgresql://${POSTGRES_NAME}:5432/${DB}`

would solve it and use public schema always

[2022-04-05 16:07] strehle commented on #1829
I would close this issue and for later it will be found . I did not have found any other issue with similar use case, means
?currentSchema=xxx so if somebody else have same issue later on we could reverence this here.

[2022-04-05 16:37] madpipeline commented on #1829
Thank you for the clarification @strehle. I'll close the issue now.

[2022-04-05 16:37] #1829 closed, assigned to strehle

[2022-04-08 13:49] churib opened #1832 "UAA does not work with MySQL 8.0.2 or higher"
Hi,

I tried to deploy the UAA v75.17.0
using cf-release
with MySQL version 8.0.2 (AWS managed Aurora) or higher.

I got the following Exception:
`Caused by: java.sql.SQLException: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'groups g, group_membership gm where gm.group_id = g.id and gm.identity_zone_id =' at

[2022-04-09 07:00] strehle commented on #1832
Hi,
I assume that https://github.com/cloudfoundry/uaa/pull/940/files could fix it. However changing existing migrations causes new flyway execution in old DBs and thus I dont know how to solve for this DB.

I added the colleagues from VMware because UAA support both Maria/MySql and Postgresql but in reality we from SAP only know about postgresql and VMware uses mysql, there @bruce-ricard FYI.

reg

[2022-04-14 07:46] torsten-sap opened #1838 "Checkmarx findings"
### What version of UAA are you running?

75.18.0

### How are you deploying the UAA?

I am deploying the UAA using cf-deployment.

### What did you do?

Checkmarx scan.

### What did you expect to see? What goal are you trying to achieve with the UAA?

No findings.

### What did you see instead?

The scan reported some findings.

[2022-04-15 14:43] aartek opened #1839 "Receiving auth token in Authorization Code Grant with PKCE"
### What version of UAA are you running?
75.18.0

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`?
[code]

[code]

### What did you do?
Some time ago PKCE suport was added to UAA. I wanted to switch from oAuth2 Implicit Grant flow to Authorization Code Grant with PKCE. I'm able to get the `code` using browser flow, however i keep getting 401 when trying to request t

[2022-04-19 19:09] regisebersole commented on #1839
I have the same question: **_Does UAA support a public OIDC Authorization Code flow client using PKCE?_** The use-case is a browser single-page app (as described above) or a mobile application where a `client_secret` also cannot be safely stored.

For relying parties to UAA:
1. The `client_secret` is required to create a client when the `authorized_grant_type` is `authorization_code`.
2. The docum

[2022-04-22 11:30] strehle commented on #1839
Hi ,
ok, for now UAA does not support this public usage.

However I agree to add this support since UAA has now PKCE support.
Btw. The so-called public usage is supported already for the OIDC proxy scenario, because here it allows UAA to omit a secret in Idp configuration, see
https://github.com/cloudfoundry/uaa/blob/develop/docs/okta-public-oidc-provider.md

UAA has for all grant types and usages

[2022-04-22 11:36] strehle commented on #1839
If you read https://developer.spotify.com/documentation/general/guides/authorization/code-flow/ then you see there is no client_secret in post but the client is authenticated, so this example is no public use but only PKCE support and this approach is supported in UAA already

[2022-04-22 15:59] regisebersole commented on #1839
@strehle That would be great if you could add that in an upcoming release.

To confirm, different from the Spotify doc in the link, the new UAA public OIDC client's Authorization Code Flow would be as follows where only the bold text in Step 1 and Step 7 represent a feature that isn't currently in UAA, right?
1. Create/configure a **_public_ OIDC client_ with `authorized_grant_types=authorization_

[2022-04-23 21:47] regisebersole commented on #1839
@strehle as a more accessible summary than mine above, the standard **Authorization Code Flow** looks like this and **_does require a `client_secret`_**:
https://auth0.com/docs/get-started/authentication-and-authorization-flow/authorization-code-flow#how-it-works

The PKCE-enhanced Authorization Code Flow builds on top of that standard Authorization Code Flow and **_does NOT require a `client_secr

[2022-04-24 08:46] strehle commented on #1839
I know about these vendor specific definitions. auth0 is okta. they and many others - including Microsoft and SAP - does it in this way but all of them allow it if configured.

UAA will support same but similar to "autoapprove" with a flag e.g. "public" that needs to be maintained for the clients where you want use use.

[2022-05-02 08:36] D035676 opened #1870 "Event Examples for Failure situation"
Hi Colleagues,

to monitor malicious scenarios, we need to have a deep look on Events protocolling Failure situation.
Could you provide us event examples (e.g. a according JSON strings) for following Failure Events:
UserAuthenticationFailure
MfaAuthenticationFailure
IdentityProviderAuthenticationFailure
ClientAuthenticationFailure
PrincipalAuthenticationFailure
PasswordChangeFailure

best regards,

[2022-05-02 15:25] strehle commented on #1832
tested this PR https://github.com/cloudfoundry/uaa/pull/1873

[2022-05-04 13:39] strehle commented on #1870
@torsten-sap can you provide more details thus [you worked on it ](https://github.com/cloudfoundry/uaa/commit/63cfd9f13cd81f98c8b675d1c8c0904a5b306992)

[2022-05-12 15:53] D035676 commented on #1870
Hi Torsten (@torsten-sap), could you help us with examples to above use-cases?

[2022-05-12 16:18] torsten-sap commented on #1870
For IdentityProviderAuthenticationFailure you find two examples in the following PivotalTracker story:
https://www.pivotaltracker.com/n/projects/997278/stories/154404992

Keep in mind that often one failure causes another, e.g.:
* UserAuthenticationFailure -> PrincipalAuthenticationFailure
* IdentityProviderAuthenticationFailure -> PrincipalAuthenticationFailure

MfaAuthenticationFailure and Passw

[2022-05-17 10:12] strehle commented on #1839
Hi,
ready for review https://github.com/cloudfoundry/uaa/pull/1888

[2022-05-20 14:16] N00ree opened #1897 "Q: Multiple searchBase paths possible?"
Hi,

Is it possible to work with multiple `searchBase `paths in the group search filter section?

Currently I have a LDAP configuration like this:
[code]

I want to use multiple searchBase paths like this:
[code]

Is this possible?

regards

[2022-05-20 15:09] strehle commented on #1897
No not from current code, means you would have to provide a PR

[2022-05-30 14:44] Subbu3992 opened #1907 "Deployment Issue of UAA in Turkish OS - Scopes are not getting properly assigned"
### What version of UAA are you running?
75.15.0

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`?

{"app":{"version":"75.15.0"},"showLoginLinks":true,"links":{"uaa":"http://localhost:8080/uaa","login":"http://localhost:8080/uaa"},"zone_name":"uaa","entityID":"cloudfoundry-saml-login","commit_id":"d573998","idpDefinitions":{},"prompts":{"username":["text","User"],"p

[2022-06-01 20:36] briceburg opened #1908 "unable to specify base URL in the reset password link using uaa.yml"
We have UAA running behind an nginx proxy, something like:

[code]

[code]

[code]

UAA comes up fine at http://localhost:8080/uaa and I'm able to create a user.

The problem is that the emails UAA generate contain the wrong links. The reset password email has a link to:

http://uaa/uaa/reset_password?code=zzzz

(where `uaa` is the host header it's receiving from nginx -- and not the `foo.com` we

[2022-06-02 14:15] #1838 closed, assigned to nobody

[2022-06-03 18:53] mak-azad opened #1910 "Jaeger integration into UAA auth server"
### What version of UAA are you running?
The version in the Github default repo

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

### What did you do?

I tried to include Jaeger tracing into the` gradle.build` dependencies, I found that the example request curl is not sending any traces into Jaeger running at `http://localhost:16686` on the same machine.

I

[2022-06-15 10:56] strehle commented on #1910
@bruce-ricard  @torsten-sap   I dont know why this is need, so can you please judge if we should accept this

[2022-06-15 10:59] strehle commented on #1908
yes is obviously a bug in  https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/java/org/cloudfoundry/identity/uaa/util/UaaUrlUtils.java#L58-L71

So for now I tried to find time to check it in more detail, but if you have found it already and could propose a PR then this would be very helpful and speed it up

[2022-06-15 11:01] strehle commented on #1907
to be honest we run only ascii OS . so can you propose a way with docker so that I can simulate the issue, because currently I cannot see it

[2022-06-18 07:25] #1897 closed, assigned to nobody

[2022-06-18 07:25] #1772 closed, assigned to nobody

[2022-06-18 07:25] #1261 closed, assigned to nobody

[2022-06-21 09:33] #1839 closed, assigned to nobody

[2022-06-24 07:03] strehle commented on #1788
please re-open and answer if it is still an issue. The http 500 should be in meanwhile a 400

[2022-06-24 07:03] #1788 closed, assigned to nobody

[2022-06-24 11:13] strehle commented on #1178
Hi, dont know if still needed.
log configuration from uaa is here
https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/java/org/cloudfoundry/identity/uaa/impl/config/YamlServletProfileInitializer.java#L185-L204

You you could add environement to have on lo42j configuration

[2022-06-24 11:13] #1178 closed, assigned to nobody

[2022-06-24 11:19] strehle commented on #1343
Have you solved this, if not please re-open

Relation of username and email is maybe not known and was changed with https://github.com/cloudfoundry/uaa/commit/3a7749a6d327cacbc7bf93cd50a0e2dee0b935ba but for email there is an email_verified and this could lead to the situation.

code of reset is here
https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/java/org/cloudfoundry/identity/ua

[2022-06-24 11:19] #1343 closed, assigned to nobody

[2022-06-24 12:29] #1218 closed, assigned to srwaggon

[2022-06-25 07:05] strehle commented on #1448
@sebastianGit UAA will get public feature with next release so we will start with this request and therefore a question.

a) do you expect that if a client has the new allowpublic feature that its refresh tokens replaced always ?
b) do you expect that if a client has the new allowpublic feature that the refresh of its token also is possible without client_secret

[2022-06-25 10:01] strehle commented on #1908
see https://github.com/cloudfoundry/uaa/pull/1926
I use login.url yaml and check if you configured value is a URL, but if this is the case, now this is used instead of request host

[2022-06-27 06:36] anugrahsinghal opened #1927 "UAA fails deployment when having ' - ' in the path"
### What version of UAA are you running?
running the latest version

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`?

`curl: (7) Failed to connect to localhost port 8080: Connection refused`

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

### What did you do?
[code]

### What did you expect to see? What goal are you trying

[2022-06-27 06:44] anugrahsinghal commented on #1927
I have created a PR to fix the issue
#1928

[2022-06-27 18:14] #1927 closed, assigned to nobody

[2022-06-28 18:30] #1831 closed, assigned to nobody

[2022-06-29 09:06] #1908 closed, assigned to strehle

[2022-07-06 08:29] yap-karman commented on #1180
Hi, any solution for this issue please?

[2022-07-06 10:17] strehle commented on #1180
Hi solution is to give your use the needed org or space role, e.g.
See command help from cf

cf set-space-role -h

Setting env variables is something you need SpaceDeveloper or SpaceManager

This authorization is maintained and set in cloud controller. UAA only has the user as identity, but cc is controlling the authorization here

[2022-07-07 19:12] strehle opened #1933 "Support private_key_jwt for OIDC Proxy mode"
### What version of UAA are you running?

develop version / 75.21.0

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew
- using cf-deployment
- as part of a commercial Cloud Foundry distribution

### What did you do?

Configured an external OAuth2 / OpenID connect provider to proxy the authentication through UAA to external/corporate IdP
If I do this, I have s

[2022-07-26 17:27] #1832 closed, assigned to bruce-ricard, peterhaochen47

[2022-07-27 14:10] strehle commented on #1799
current flyway version now "7.15.0"

[2022-07-27 14:10] #1799 closed, assigned to strehle

[2022-07-28 14:39] #1729 closed, assigned to nobody

[2022-07-28 14:41] strehle commented on #1274
please check if issue still exists with 75.22.0 because here the flyway update should solve also your issue

[2022-07-28 14:41] #1274 closed, assigned to nobody

[2022-08-03 09:31] tack-sap opened #1983 "Update of last_logon_success_time consuming DB resources"
### What version of UAA are you running?

v75.21.0

### How are you deploying the UAA?

The UAA (uaa-release) is deployed via bosh as part of the complete cf landscape installation. We are running the UAA against a Postgresql Database.

### What did you do?

We saw that some users are requesting tokens for the same user in parallel in multiple threads. This is probably done in some automated job (

[2022-08-05 15:23] torsten-sap opened #1988 "UAA has no protection against misuse/overuse of the API endpoints"
### How are you deploying the UAA?

I am deploying the UAA
- using cf-release

### What did you do?

Load tests against REST APIs, e.g. /oauth/token with an high amount of requests. This should simulate misuse/overuse of the API endpoints (e.g. by bots/scripts)

### What did you expect to see? What goal are you trying to achieve with the UAA?

Some protection mechanism like rate limiting which ens

[2022-08-08 17:53] bruce-ricard commented on #1988
We are trying to write automated performance and load tests for the UAA, which should help catching potential issues like the one described here.

[2022-08-11 14:23] strehle commented on #1983
I see you mention a PR and in this fix and here you mention only Postgresql
So do you known that SKIP Locked is support from MYSQL too ?
https://dev.mysql.com/blog-archive/mysql-8-0-1-using-skip-locked-and-nowait-to-handle-hot-rows/

To me such an extension to have skip locked is fine, but please improve here UAA in general not only the postgresql case

[2022-08-20 17:57] #1983 closed, assigned to nobody

[2022-08-22 16:01] norman-abramovitz opened #2005 "DB version database type differences between database."
While working on migrating a client from PostgreSQL to MySQL, I encountered a few percularities.

In table groups, the version column is defined as an integer for MySQL and hssql databases but PostgreSQL has the type defined as bigint.   Would it make sense to bigint or integer all the databases to use the same size?

The case for the tables SPRING_SESSION  and SPRING_SESSION_ATTRIBUTES uppercase

[2022-08-22 16:16] strehle commented on #2005
for mysql the table names behaviour can be configured - as far as I know. Found
https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_lower_case_table_names

In other DBs , e.g. postgresql the table names are always handled case insensitive, so no issue.

About bigint. Dont know, why postgresql has / needs bigint. The type is in java set only with int, so integer is enough an

[2022-08-22 16:28] norman-abramovitz commented on #2005
Also found these differences
hsqldb/V1_5_2__initial_db.sql:  authorized_grant_types VARCHAR(256),
mysql/V1_5_2__initial_db.sql:  authorized_grant_types VARCHAR(**_255_**),
postgresql/V1_5_2__initial_db.sql:  authorized_grant_types VARCHAR(256)

hsqldb/V1_5_2__initial_db.sql:  client_secret VARCHAR(256),
mysql/V1_5_2__initial_db.sql:  client_secret VARCHAR(**_255_**),
postgresql/V1_5_2__initial_db.

[2022-09-07 21:10] dvuke opened #2018 "Unable to update an existing active Saml identity provider and give it a new metadataurl when it's prior one was no longer valid"
### What version of UAA are you running?

We're currently using 4.20 but found that the issue exists in the latest code base as well.

### What did you do?

We're attempting to update an existing active identity provider whose metadataurl no longer points to a valid URL.

Ex:

1) create a SAML identity provider with a valid metadataurl
2) take the metadata provider offline (existing definition now

[2022-09-12 15:16] strehle commented on #2005
From my side no problem. I was also surprised that we have here differences but both cells store data which does not reach the limit

[2022-09-15 18:14] D035676 opened #2025 "Missing docu for Event LoginWithInstanceSecret"
Hi,
in BTP Audit Logging we found a log with Event
LoginWithInstanceSecret
in
{
message_uuid: "c621e53d-cef0-4a83-9de1-85303776a480",
time: "2022-05-02T08:09:03.177Z",
tenant: "19f17b61-41ab-465b-9c85-d4870aaec4b7",
org_id: "92f1da92-e5b3-4cc5-8c90-964165af11c8",
space_id: "92f1da92-e5b3-4cc5-8c90-964165af11c8",
app_or_service_id: "92f1da92-e5b3-4cc5-8c90-964165af11c8",
als_service_id: "47dc5776-7

[2022-09-19 16:48] denysvitali opened #2030 "Unable to use port wildcard in redirect_uri (RFC 8252)"
### What version of UAA are you running?

[code]

Not sure what's our difference from upstream, but it shouldn't matter as the issue seems to be in the latest commit from [`76.0.0`](https://github.com/cloudfoundry/uaa/tree/76.0.0).

### How are you deploying the UAA?

N/A

### What did you do?

Tried to use the following:

[code]

### What did you expect to see? What goal are you trying to achieve

[2022-09-20 14:52] strehle commented on #2030
I will check your issue.
How do you create the entry http://127.0.0.1:*/oidc/callback ? , means via REST call , e.g. uaac or you defined it in uaa.yml for your client ?

[2022-09-20 14:55] strehle commented on #2025
Hi,
this here is the OSS UAA, I know it from @torsten-sap what you found is SAPs UAA (aka XSUAA) but the code for this is not available for public

[2022-09-20 14:55] #2025 closed, assigned to nobody

[2022-09-20 15:10] denysvitali commented on #2030
Honestly, no clue. We have a Cloud Foundry service broker that takes the JSON as an input and creates the client credentials for us.
I assume that in turn this makes a REST call to UAA, but I really don't know.

Maybe @jamesclonk can share more as it's more of his area.

[2022-09-20 21:15] adam-kafene opened #2031 "bosh login - copy button is broke and getting authentication failure with UAA"
### What version of UAA are you running?

Version: 74.5.4

### How are you deploying the UAA?

- concourse pipeline

### What did you do?

When using `bosh login` and getting redirected to the cloud foundry site to get the one time passcode, we get the following when we click the copy button:
[copy button.pdf](https://github.com/cloudfoundry/uaa/files/9611327/copy.button.pdf)

[code]

After lookin

[2022-09-21 07:12] strehle commented on #2031
Thanks for reporting. The content security policy prevents now that java script is executed...
@pabloarodas @bruce-ricard  Can we invest here to extract the script into a file so that we can call the copy or should we add an exclusion next to where saml and implicit is excluded ?

[2022-09-21 17:15] peterhaochen47 commented on #2031
I will schedule this fix.

[2022-09-21 17:23] strehle commented on #2031
Ok, I played with local UAA and therefore created now https://github.com/cloudfoundry/uaa/pull/2034 which should fix it

[2022-09-22 07:09] #2031 closed, assigned to nobody

[2022-09-22 07:41] strehle commented on #2018
@bruce-ricard @peterhaochen47 Can you please take care here, because SAML is something we dont use anymore

@dvuke there was an issue in past https://github.com/cloudfoundry/uaa/issues/1531 which was fixed with https://github.com/cloudfoundry/uaa/pull/1563 , so please can you add UAA logs from a recent UAA

[2022-09-22 07:42] strehle commented on #2005
close this now , since you should be able to proceed

[2022-09-22 07:42] #2005 closed, assigned to nobody

[2022-09-22 12:26] strehle commented on #2030
Ok, so the support was given until https://github.com/cloudfoundry/uaa/releases/tag/v75.21.0 because with spring included in spring boot 2.6.x we could pass such URIs simply to spring.
With the change to 2.7.x this was broken and in the begin we simply changed test, e.g. https://github.com/cloudfoundry/uaa/commit/9643cdd5e521c70f7b225a86fae894c1364371e8
so with https://github.com/cloudfoundry/uaa/

[2022-09-23 12:00] dvuke commented on #2018
@strehle appreciate the response; unfortunately I'm stuck on v4.20 for the time being (sorry for posting issues on dated environments, I know that' frustrating); we'll try to upgrade soon and see if it resolves any of the issues we were seeing.  if getExtendedMetadataDelegate() is failsafe in newer versions, it should be fine; but looking at the source code, calling that when a tenant has any inva

[2022-09-28 04:35] #2030 closed, assigned to strehle

[2022-09-29 06:00] D035676 opened #2046 "Semantic Event is missing"
In Audit Log Viewer we found a message without Semantic Event:
{"message_uuid":"ab92c68b-f121-438c-bca9-23bca06da595","time":"2022-09-28T12:38:32.500Z","tenant":"3e43efa3-9f32-40b4-b980-9d913bc415e6","org_id":"92f1da92-e5b3-4cc5-8c90-964165af11c8","space_id":"92f1da92-e5b3-4cc5-8c90-964165af11c8","app_or_service_id":"92f1da92-e5b3-4cc5-8c90-964165af11c8","als_service_id":"657116bb-90a6-4aa8-8b1f-f

[2022-10-10 10:10] carbonlex opened #2055 "CVEs"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2022-10-10 10:16] tack-sap commented on #2055
For me this looks like a false positive by your scanner.
The mentioned CVE was already found and fixed by the UAA several years ago. So the current UAA version is not affected by this anymore.

[2022-10-12 16:53] #2055 closed, assigned to nobody

[2022-10-13 14:36] KMahesh045 opened #2059 "Deployment of UAA in EKS is failed"
### What version of UAA are you running?

76.1.0

### How are you deploying the UAA?

I am deploying the UAA
- using a bosh release I downloaded from bosh.io
- trying to deploying the package into EKS

### What did you do?

I am trying to deploy the UAA76.1.0 in EKS and it throws the error and it is not getting deployed
but 75.22.0 is deployed successfully and its working. I am facing the issue wi

[2022-10-13 14:45] tack-sap commented on #2059
Hi,

From your provided logs I see the following as root cause for this issue:

`Caused by: java.lang.IllegalArgumentException: KeyId and Signing key should not be null or empty`

Are these properties set in your configuration? Are you using the same configuration for the version that did work?

[2022-10-13 16:38] KMahesh045 commented on #2059
@tack-sap thanks for the quick response. yes the same configurations are used in old version(75.22.0) and its working fine. I am facing this issue in 76.1.0

[2022-10-17 12:27] meck93 commented on #880
@shamus @DennisDenuto are there any plans to fix this issue or not since the `implicit` flow is deprecated?
Currently, `uaa` does not work with clients implementing the `implicit` flow according to the specification (e.g., https://github.com/damienbod/angular-auth-oidc-client)

[2022-10-17 22:53] bruce-ricard commented on #2059
From Tack's log, looks like the message is coming from this [code](https://github.com/cloudfoundry/uaa/blob/5275d299d535818153d2890b115766fb567259ae/model/src/main/java/org/cloudfoundry/identity/uaa/zone/TokenPolicy.java#L102-L105).  Which I'm guessing is loading the keys coming from [here](https://github.com/cloudfoundry/uaa-release/blob/dfc5377c4186598329d93dea501273a11edf5891/jobs/uaa/spec#L55-

[2022-10-17 22:57] bruce-ricard commented on #2046
Hi Eugen,

I'm sorry I don't understand what you are talking about. I'm not familiar with what the "Audit Log Viewer" is, or with what a "Semantic Event" is.

As you said, this log is not coming from the UAA. Why are you asking your question here?

[2022-10-17 23:06] bruce-ricard commented on #2018
Apologies, I didn't see this until today. We'll take a look.

[2022-10-17 23:08] bruce-ricard commented on #2018
It looks like you've got the issue pretty much pinned pointed in the code @dvuke . Would you be able to submit a PR to fix the issue by any chance?

[2022-10-17 23:17] bruce-ricard commented on #1910
The UAA is not a traditional Spring boot app, these kind of things will not work as easily with the UAA.

[2022-10-17 23:17] #1910 closed, assigned to bruce-ricard

[2022-10-17 23:21] bruce-ricard commented on #1907
Closing due to inactivity.

@Subbu3992 it's unlikely we'll work on this, especially without clear reproduction steps.

If you care a lot about this or want to follow up, feel free to reopen the issue.

[2022-10-17 23:21] #1907 closed, assigned to nobody

[2022-10-17 23:27] bruce-ricard commented on #488
Looking at this issue, I don't fully understand which feature it's asking for. Could you please try to quickly elaborate @strehle please?

[2022-10-18 08:34] KMahesh045 commented on #2059
@bruce-ricard yes I have. I have attached my uaa.yml file which I am using currently to run 75.22.0.
[uaa.yml.txt](https://github.com/cloudfoundry/uaa/files/9808467/uaa.yml.txt)

[2022-10-18 09:01] D035676 commented on #2046
Hi,
I didn't say that this is not coming from UAA. Actually, it is actually not clear from which component this log entry belongs.
Probably you can tell, which component writes it?
The other question is, what is the Meaning of this log, which event was protocolled?

[2022-10-18 17:59] strehle commented on #488
if you look to initial request it suggest spring security

So for me it is simply similar to
https://www.codejava.net/frameworks/spring-boot/spring-security-remember-me-examples
or
https://www.baeldung.com/spring-security-remember-me

UAA has a cookie with long lifetime, e.g.
https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/java/org/cloudfoundry/identity/uaa/login/CurrentUserCookie

[2022-10-18 18:55] strehle commented on #2059
I switched UAA between 75.22.0 and develop but with your uaa.yml I cannot start .
because of SAML keys missing, but with this

[uaa.yml.txt](https://github.com/cloudfoundry/uaa/files/9814166/uaa.yml.txt)

it works in all versions.

The keys (and structure) are from https://github.com/cloudfoundry/uaa-release/blob/develop/spec/compare/all-properties-set-uaa.yml

For our tests, local startup we and

[2022-10-20 16:40] KMahesh045 commented on #2059
Thanks all.. Its working.

[2022-10-20 16:40] #2059 closed, assigned to nobody

[2022-10-21 18:32] peterhaochen47 commented on #2031
@adampeklay In the issue you mentioned that the bug existed in Version 74.5.4, which I don't think has the copy button (or the Content-Security-Policy header that would break the button). Did you mean version for 75 or above?

[2022-10-24 07:30] #1988 closed, assigned to nobody

[2022-10-26 17:33] #1448 closed, assigned to nobody

[2022-10-26 17:38] strehle commented on #880
@meck93 I recommend to you move to authorization code with public + PKCE usage, which replaces implicit

[2022-10-26 20:13] adam-kafene commented on #2031
@peterhaochen47 This issue is about a month old, I'm sure I was accurate with the version number.  Feel free to go through the releases to find the answer to your question https://github.com/cloudfoundry/uaa-release/releases?page=1

[2022-10-27 06:17] meck93 commented on #880
Hi @strehle that was our initial idea but we thought that `uaa` didn't support public + PKCE until a few hours ago. I just saw that you've closed: https://github.com/cloudfoundry/uaa/issues/1448 (with this PR: https://github.com/cloudfoundry/uaa/pull/1969). I'll have a look at it. Thanks for your work!

[2022-10-27 06:26] strehle commented on #880
This was deliverd with https://github.com/cloudfoundry/uaa/releases/tag/v75.21.0 , e.g.
https://github.com/cloudfoundry/uaa/pull/1888

The use of public with an UAA client needs to be configured, default is off , but you can use uaac https://github.com/cloudfoundry/cf-uaac/releases

The rotation of refresh tokens was then only consequence of public usage but also no requirment,

[2022-10-28 09:34] kr8n3r opened #2086 "Allow overriding Content security header"
76.0.0 contains https://github.com/cloudfoundry/uaa/pull/1981/commits/72565fb56cd1f90af499119d32c891937f3c5a76 which disallows inline scripts.

On [GOV.UK PaaS ](https://login.cloud.service.gov.uk/login)we use javascript to improve some of the accessibility and on our customised passcode page to insert a copy code button that uses the clipboard api.

With the introduced change both of those things

[2022-10-28 14:40] strehle commented on #2086
@kr8n3r Can I move this issue to [uaa](https://github.com/cloudfoundry/uaa) ?  because the changes would be done around https://github.com/cloudfoundry/uaa/blob/develop/server/src/main/java/org/cloudfoundry/identity/uaa/security/web/ContentSecurityPolicyFilter.java#L19 .

Do you (a) have need a better passcode copy code button or (b) is this request a general request for a customzied header Conten

[2022-10-29 01:28] swalchemist opened #2081 "LimiterExpirationProcess error repeated infinitely when a UAA server goes idle"
### What version of UAA are you running?

develop branch, commit f96b007af

### How are you deploying the UAA?

- locally only using gradlew using the default config files

### What did you do?

When I have the uaa server running on my Macbook and leave the computer idle for an hour or more, several times I've returned to find this error spewing in the uaa log several times per second: `ERROR ---

[2022-10-31 12:30] kr8n3r commented on #2086
Hi @strehle, yes please move to UAA.

We run customised UAA login and passcode page and not the default ones  for branding and accessibility reasons.
Any enhancement to the default copy would not be of any use to use so a way for us to amend / supercede default CSP rules is the only option.

We customise pages [here](https://github.com/alphagov/paas-uaa-customized-boshrelease) and [here](https://g

[2022-11-02 15:43] strehle commented on #2086
Hi @kr8n3r

so from you side you simply are fine with a switch to deactivate 'unsafe-inline' .?

regards,

[2022-11-04 10:16] kr8n3r commented on #2086
Hi @strehle ,  we would either do that or add a SHA

[2022-11-08 00:34] swalchemist commented on #2086
Adding a hash would allow the code to work without needing to change the Content Security Policy, right?

[2022-11-08 01:02] swalchemist commented on #2046
What application is this log from?

I don't recognize the path `/api/v1/credentials/password`. Maybe it's from the SAP Cloud Foundry Credential Store Service?

[2022-11-08 09:54] kr8n3r commented on #2086
there is no way to add a hash as the hardcoded UAA server CSP overrides any local attempts on our side (like metatag hash addition)

[2022-11-16 17:31] strehle opened #2100 "UAA cannot start with multiple secrets in cf client"
### What version of UAA are you running?

76.3.0, but with develop same issue

### How are you deploying the UAA?

- using a bosh release I downloaded from bosh.io
- using cf-deployment

### What did you do?

setup  in cf the well known empty secret but do this after the cf client has multiple secrets already.

### What did you expect to see? What goal are you trying to achieve with the UAA?

UAA

[2022-11-16 18:05] strehle commented on #2100
Info for reproducing the issue

Add this section in your uaa.yml

[code]

then you see see in uaa.log

Caused by: java.lang.IllegalArgumentException: rawPassword cannot be null
        at org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder.matches(BCryptPasswordEncoder.java:123) ~[spring-security-crypto-5.7.4.jar:5.7.4]
        at org.cloudfoundry.identity.uaa.util.beans.BackwardsComp

[2022-11-17 10:30] #2100 closed, assigned to nobody

[2022-11-17 23:29] #1521 closed, assigned to nobody

[2022-11-17 23:30] #1742 closed, assigned to strehle

[2022-11-18 11:05] strehle commented on #2046
UAA does not fire these events, but yes that are from a SAP custom service, so please ask owner of "SAP Cloud Foundry Credential Store Service"

[2022-11-18 11:05] #2046 closed, assigned to nobody

[2022-11-23 10:29] strehle opened #2109 "Support Azure AD with OIDC Proxy using private_key_jwt authentication"
Initial isssue https://github.com/cloudfoundry/uaa/issues/1933. During https://github.com/cloudfoundry/uaa/pull/2106 found problem with interop towards Azure AD

Azure relys on this claim, e.g.
https://learn.microsoft.com/en-us/azure/active-directory/develop/active-directory-certificate-credentials
UAA uses raw keys not X509 for JWT RS256, and therefore a x5c , x5t etc cannot be calculated on a re

[2022-11-25 10:29] strehle commented on #1459
close this now because I dont see any progress , but more relevant is, that this solution for CF might be difficult, because UAA itself is not getting the mTLS request.
We have always a go router or haproxy in between and thus UAA can only check of existance of a Header which is protected by the router in between.

What UAA can do is the check of private key jwt authentication which replaces the s

[2022-11-25 10:29] #1459 closed, assigned to nobody

[2022-11-25 11:18] strehle opened #2115 "Spring Boot 3x time line"
### What version of UAA are you running?

dev

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew
- using a bosh release I downloaded from bosh.io
- using cf-release
- using cf-deployment
- as part of a commercial Cloud Foundry distribution
- other (please explain)

### What did you do?

spring boot 2.7x used

### What did you expect to see? What goal are you

[2022-11-30 22:31] swalchemist commented on #2081
Reproduced this on the `ratestatusprivate` branch commit `4450d4d6b0ca9f3ae61815349de69f816bacc625` in the same way as before.

[code]