[2017-06-22 14:59] fhanik commented on #640
https://github.com/cloudfoundry/uaa/blob/9b1a790c5a218b1c8ea0dcc15f4a751de28678ef/server/src/main/java/org/cloudfoundry/identity/uaa/oauth/UaaTokenServices.java#L897-L897

That line could indicate that there isn't an JWT signing key configured.

[2017-06-22 22:15] binoydev commented on #640
Thankyou @fhanik . I missed to enable jwt attributes in uaa.yml.
But instead of server error , jwt not configured response would be more helpful.

[2017-06-22 22:16] fhanik commented on #640
absolutely! We are lagging on the configuration validation

[2017-06-22 23:35] scbunn opened #641 "SAML group mapping"
I have UAA configured to connect to an idp (Azure) via SAML; however, I can't seem to figure out how to map groups to scopes.  When I inspect the SAML traffic I can see that Azure is sending back a groups claim that contains the GUIDs of all the groups the user belongs to.  How do I map those groups to scopes?

I have tried adding groupMappingMode: AS_SCOPES which seems to have no affect.

[2017-06-22 23:37] fhanik commented on #641
@scbunn Can you please show us your IDP configuration so that we can help you troubleshoot it.
An example of how we do it can be found in the integration tests
https://github.com/cloudfoundry/uaa/blob/99549eaeadd0e2a6484d4939c75e43cdda3cf0a6/uaa/src/test/java/org/cloudfoundry/identity/uaa/integration/feature/SamlLoginIT.java#L706

[2017-06-22 23:54] scbunn commented on #641
[code]

I look through the integration tests and see if I can figure it out

[2017-06-23 00:01] fhanik commented on #641
You need to tell the UAA what the name of the group attribute is, I believe it looks like:

    attributeMappings:
        external_groups: groups

[2017-06-23 16:15] scbunn commented on #641
I have tried various attributeMappings with no success.  According to the documentation that I can find

[code]

AS_SCOPES should take whatever groups are returned and present them as scopes.  I have also tried to do explicit mapping and still nothing :(

The group claims that come back look like

[code]

Is there a working example config of doing this somewhere?

[2017-06-23 16:59] fhanik commented on #641
We're working on documenting this. I just tested the following config. I've white listed two groups that I wanted to bring over from SAML (saml.admin and saml.user) then I set the mapping mode to AS_SCOPES

In your case, the string `groups` would be `http://schemas.microsoft.com/ws/2008/06/identity/claims/groups` and the white list would contain the groups you allow to be transferred over from SAM

[2017-06-23 17:21] crazytan opened #642 "YAML processing logic is duplicated"
In `NestedMapPropertySource.appendCache()` and `YamlProcessor.assignProperties()`, similar logic is implemented twice: a nested map gets "flattened" and put into a plain map. This makes overriding the YAML processing logic difficult, especially since the output of `YamlProcessor` is fed into `NestedMapPropertySource` and gets flattened twice.

[2017-06-23 23:00] scbunn commented on #641
@fhanik Thanks.  I believe this is working in my environment.

[2017-06-23 23:00] #641 closed

[2017-06-28 00:06] fhanik commented on #640
Closing via: https://github.com/cloudfoundry/uaa/commit/64e92de440851a4caa8cbf07f601f387ca6a399e

[2017-06-28 00:06] #640 closed

[2017-06-28 16:57] 6palace opened #643 "Cannot request sub-scopes of uaa.admin"
If a client has the uaa.admin scope/authority, but in the authorization request we only request a admin sub-scope such as clients.write or scim.write, those scopes will not be granted and the authorization request will fail. Is this intended behavior? Should uaa.admin clients have to request tokens with full admin scope?

Steps to Reproduce:
1. Create a client with authorization code grant and uaa

[2017-06-28 17:08] fhanik commented on #643
The proper way to make this work would be to make all sub scope groups be members of the `uaa.admin` group.

The UAA supports nested groups. This way, the operator has control over which scopes can be issued in the token.

[code]

[2017-06-28 17:14] 6palace commented on #643
That's smart. Do we want to add those members to the yaml bootstrap? We have customers getting confused when uaa.admin allows access to all the endpoints but isn't automatically a member of those groups.

[2017-06-28 17:17] fhanik commented on #643
I'll leave this issue open so that we can discuss the ability to define this via yaml for the default zone. Currently it is only possible via API.

[2017-06-28 17:20] 6palace commented on #643
👍 sounds good, we'll inform them of the sub-group function.

[2017-06-29 01:47] brittag commented on #627
Closing this up since this actually seems pretty specific to our deployment and how we're using UAA, rather than being a general issue.

[2017-06-29 01:47] #627 closed

[2017-06-29 05:44] PlamenDoychev commented on #635
Thanks @fhanik, This pretty much answer my question.

Regards.

[2017-06-29 05:44] #635 closed

[2017-07-02 07:39] sebastianGit opened #645 "Admin users (e.g., with scope uaa.admin) cannot change client secrets (but clients can)"
We have use cases in which an administrator must be capable of changing a clients secret. Yet, currently this is not possible for users, only for clients, as the ClientAdminEndpoint explicitly checks whether it is invoked by a client (see below).

Is it possible to change this behavior? What's the reason for the current restriction?

Implementation details:

Within the ClientAdminEndpoints class (

[2017-07-02 08:00] sebastianGit opened #646 "Simplify administration of nested groups by supporting of "memberOf" for SCIM groups"
Administration of nested group memberships could be greatly simplified if the SCIM API for groups would support an attribute like "memberOf".

Currently only reading & setting the "member" attribute of a SCIM group is possible.

Use case:
I want to have a group "containergroup" and by adding a user to the "containergroup" the user should also become a (indirect) member in "scope.a" and "scope.b".

[2017-07-04 20:04] strehle opened #647 "Missing index on table group_membership for postgres"
Hi

we noticed a high SQL execution time for uaa startup on postgress, if there are millions of groups.

The SQL statement causes the high load times is:
      select count(*) from group_membership where group_id in (select id from groups where
      identity_zone_id='uaa') and LOWER(group_id) = LOWER(?)
was running for several seconds, up to 20 sec.

After we defined an index for it

CREATE INDEX

[2017-07-05 06:31] gowrisankar22 opened #648 "User exists twice with the same user name in the uaa db."
Hi Colleagues,

I have experienced an issue that User exists twice with the same user name in the uaa db. is there any script that does detection of ducplicated users and auto removal ?

Thanks,
GS

[2017-07-05 11:23] mjsjinsu opened #649 "inactive users of UAA - LDAP integration"
Hi
In CloudFoundry UAA-LDAP integration environment.
I was wondering when we delete user or make inactive user on LDAP.
Does UAA delete shadow-user in UAADB or diable authentication on inactive users?

[2017-07-06 09:29] joelmarty opened #650 "[question] internationalization of UI"
I have question regarding the internationalization of the UAA server pages (and emails). Is there such a feature that exists today or is it mandatory to proceed by forking the UAA code to change the templates ?

I noticed that UAA uses thymeleaf as a template engine, which natively supports i18n. If any configuration hooks exists for thymeleaf, it should surely be possible to configure thymeleaf t

[2017-07-06 13:51] patricklunney opened #651 "[question]: is there a way to have a default IDP when IDP discovery is enabled?"
Hi,

Wondering if there is a way to have a default IDP when IDP discovery is enabled in the zone.
For example:
IDP 1: company1.com
IDP 2: company2.net
IDP 3: company3.com
IDP 4: mycompany.com

Is there a way to say if the entered email doesn't match 1, 2, and 3, it defaults to 4 rather than showing the IDP discovery screen listing all of the IDPs?

I tried by doing *.* in the IDP4 emailDomain conf

[2017-07-06 21:31] mwdb commented on #648
From uaa perspective a user is unique with the following keys:
- user name
- origin (->identity provider used for authentication)
- identity zone (for cf platform users always uaa)

This is enforced by the DB.

When a user authenticates using different identity providers, this will be different users.
The gap is on the cf controller side. The controller does not differentiate between origins, ther

[2017-07-07 14:55] srenatus commented on #628
I think the issuer is probably incorrect, too? Pointing a generic OIDC client at UAA, I just got

[code]

And indeed, that's what the discovery document includes:
[code]

Is this `issuer` setting in any way configurable?

[2017-07-07 15:17] patricklunney commented on #651
Thanks cf-gitbot!

[2017-07-10 13:38] srenatus opened #652 "[OIDC] Issuer URL wrong"
I believe the issue described in #425 has been not resolved:

- The seconds argument passed to `OpenIdConfiguration` is [_supposed to be the issuer_](https://github.com/cloudfoundry/uaa/blob/65a7d1ac2fefefb088de89a68633406ad9f1d3bf/model/src/main/java/org/cloudfoundry/identity/uaa/account/OpenIdConfiguration.java#L60-L61)...
- but what gets passed is [getTokenEndpoint](https://github.com/cloudfoun

[2017-07-10 14:15] gholohangw opened #653 "commons-collections 3.2.1 dependency has security vulnerabilities"
Hi,

Following pentest results that were provided to me by a client recently it came to my attention that the current version of commons-collections that UAA has as a dependency has a vulnerability that allows for remote code execution. I didn't see a raised issue for this and it looks like it's been there for a while. The issue has been fixed by 3.2.2. Would it be possible to update the version o

[2017-07-10 14:26] sebastianGit opened #654 "[question] ZONE_SWITCH_SCOPES do not include idps.write, sps.read, sps.write (similar for UAA_SCOPES)"
I just came across that ZONE_SWITCH_SCOPES do not include idps.write, sps.read, sps.write.
(see https://github.com/cloudfoundry/uaa/blob/develop/model/src/main/java/org/cloudfoundry/identity/uaa/zone/ZoneManagementScopes.java).

As far as I understand CF UAA this means that writing an IdP configuration or reading/writing an SPS configuration is not possible via the uaa zone and zone-switching head

[2017-07-10 18:01] sreetummidi commented on #651
@patricklunney It defaults to internal auth if no match is found. Is that the behavior you are seeing?

[2017-07-10 18:03] sreetummidi commented on #649
Authentication is disabled. The shadow user remains until explicitly deleted.

[2017-07-10 18:03] #649 closed

[2017-07-10 18:15] #648 closed

[2017-07-11 12:18] JohannesRudolph opened #657 "[OIDC] XOAuthAuthenticationManager username/external_id handling violates OIDC spec"
The XOAuthAuthenticationManager by default uses the OIDC `preferred_username` claim to populate the UAA username field of an UAA User.

This appears to be in direct violation of the OIDC Spec:

- **sub:** Subject - Identifier for the End-User at the Issuer.
- **preferred_username**: Shorthand name by which the End-User wishes to be referred to at the RP, such as janedoe or j.doe. This value MAY be

[2017-07-14 21:09] sreetummidi commented on #516
@twoseat This is expected behavior from the the API  as we can't guarantee the order on which concurrent operations are performed

[2017-07-14 21:09] #516 closed

[2017-07-14 21:27] sreetummidi commented on #578
iat and auth_time in seconds is governed by the OpenID spec. Coming to previous login time, its not spec driven and we decided to use milliseconds with Unix epoch to make it time zone agnostic. We have to deal with showing this information in the UAA UI and its easier to do the conversions.

[2017-07-14 21:27] #578 closed

[2017-07-14 22:58] cbguder commented on #619
@koreset alternatively, you can place the YAML you shared above in a file, and set the `UAA_CONFIG_PATH` environment variable to point at the file:

[code]

[2017-07-14 22:58] #619 closed

[2017-07-18 08:45] suhlig opened #659 "Excessive logging with userids_enabled: false"
We are running CF with UAA's `userids_enabled: false`:

[code]

With a log level of WARN, we find that the uaa.log is getting filled pretty fast with the following messages:

[code]

It appears that this comes from [UserIdConversionEndpoints.java](https://github.com/cloudfoundry/uaa/blob/master/server/src/main/java/org/cloudfoundry/identity/uaa/scim/endpoints/UserIdConversionEndpoints.java#L98-L10

[2017-07-19 11:33] sebastianGit opened #660 "Login with a SAML IdP gets significantly slowed down when adding SAML IdPs to a zone"
Currently I have the following observation when I have a single SAML IdP in an identity zone, is see 18 times the following log entry "NonSnarlMetadataManager: Adding SAML IDP zone[abc] alias[xyz]". The log entries are tiggered by clicking the "Link to the IdP" on the login page.

When I add IdPs (e.g., 50) to one zone, login (more precisly getting the redirect to the next page) is significantly s

[2017-07-19 13:22] Vermeille opened #661 "No comprehensive tutorial"
Hello,

I'm trying to understand if UAA could be used in my company, without CloudFoundry.

I've been trying to grasp the basics of UAA for days now.

I've been trying to use the sample UAA + App + API in order to get a practical approach. The only documentation I could find about it is that one: https://docs.cloudfoundry.org/concepts/architecture/uaa.html#demo-local . And it's totally not helpful

[2017-07-20 18:00] bobhlo commented on #652
Is there an ETA for the fix - https://github.com/cloudfoundry/uaa/blob/master/server/src/main/java/org/cloudfoundry/identity/uaa/account/OpenIdConnectEndpoints.java#L20?

The same issue also blocked us from creating UAA as OIDC identity providers in AWS ECR and DCOS.

[2017-07-21 15:49] mwdb opened #664 "Missing index on table group_membership for postgres (2)"
In addition to https://github.com/cloudfoundry/uaa/issues/647 another index is missing on

delete from group_membership where group_id in (select id from groups where identity_zone_id = ?)

This causes a delete of an identityzone to spend 1.4 seconds in the DB in one of our systems.

[2017-07-24 03:13] gowrisankar22 opened #665 "Cf api for find out duplicated users in UAA"
Hi Colleages,

Is there any cf api which is avaialble to findout duplicated users in uaadb.

BRs, Gowrisankar

[2017-07-24 16:41] sreetummidi commented on #661
@Vermeille We will be publishing a guide soon. Its under review.

[2017-07-24 16:41] #661 closed

[2017-07-24 16:53] sreetummidi commented on #665
@gowrisankar22 CAPI needs to be enhance their user lookup for username's across origins and this is already being worked on.

[2017-07-24 16:53] #665 closed

[2017-07-24 16:56] sreetummidi commented on #659
@suhlig Having this flag enabled is requirement for UAA which is used by CC. What is the reason for disabling the flag?

[2017-07-24 17:02] bsekar commented on #652
As per the [OIDC discovery spec](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfigurationValidation), ```The issuer value returned MUST be identical to the Issuer URL that was directly used to retrieve the configuration information. This MUST also be identical to the iss Claim value in ID Tokens issued from this Issuer```.
So, in case of UAA the `issuer` must not contain `/

[2017-07-24 21:04] #267 closed

[2017-07-24 22:44] #551 closed

[2017-07-24 22:51] sreetummidi commented on #554
@Sghazzawi We don't have plans at this time to extend UAA to be a user store for application specific user properties.

[2017-07-24 22:51] #554 closed

[2017-07-24 22:51] #558 closed

[2017-07-24 23:08] sreetummidi commented on #565
@tnwang Is this the case. Does the doc need to be updated?

[2017-07-24 23:11] sreetummidi commented on #582
@tnwang is this still relevant with the recent fixes done around cert validation

[2017-07-24 23:14] sreetummidi commented on #586
No, UAA supports both auth mechanisms being active at the same time.

[2017-07-24 23:14] #586 closed

[2017-07-24 23:17] #597 closed

[2017-07-24 23:24] sreetummidi commented on #599
@torsten-sap I understand the the spec is warranting 400 bad request but from a error usability perspective, invalid grant is misleading.  We decided to side with usability rather than the spec in this case.

[2017-07-24 23:24] #599 closed

[2017-07-24 23:27] sreetummidi commented on #607
@sachgit30 Please provide the UAA Log if you are still seeing errors

[2017-07-24 23:27] #607 closed

[2017-07-24 23:27] sreetummidi commented on #611
Being fixed with UAA 4.5.0

[2017-07-24 23:27] #611 closed

[2017-07-24 23:40] sreetummidi commented on #613
@sdoxsee Anytime you would like to link existing user accounts to a different provider, you need to perform a database migration where in you set the origin field on each user to be linked to google providers origin aka the google provider alias.

[2017-07-24 23:40] #613 closed

[2017-07-24 23:47] sreetummidi commented on #616
@jmcarp We added this validation in the UAA Bosh Release because it provides a framework for validation and not applying the spec changes to UAA.yml if the validation fails.  Are you using bosh release or standalone UAA from war file.

[2017-07-24 23:50] sreetummidi commented on #620
UAAC documentaation has been updated to address this. Please refer to the latest

[2017-07-24 23:50] #620 closed

[2017-07-24 23:52] #628 closed

[2017-07-24 23:53] sreetummidi commented on #622
@ryancutter Please provide the steps that led you see the error mentioned above

[2017-07-24 23:55] sreetummidi commented on #632
@kannangce Please follow the documentation in UAA readme to achieve this.

[2017-07-24 23:55] #632 closed

[2017-07-25 00:00] #651 closed

[2017-07-25 00:04] sreetummidi commented on #653
@tnwang was this updated in UAA 4.5.0

[2017-07-25 00:24] tnwang commented on #565
We should update the document so that people always use the latest information from `https://accounts.google.com/.well-known/openid-configuration` - it is mentioned but only for two fields. It should always be referenced for all values used, or configured as the discovery URL.

[2017-07-25 00:27] tnwang commented on #582
This is the same issue fixed by https://www.pivotaltracker.com/story/show/148849333.

[2017-07-25 00:27] #582 closed

[2017-07-25 00:32] tnwang commented on #653
Commons-collection was bumped to 3.2.2 in UAA 4.5.0. It's been on the roadmap, and should be fixed now.

[2017-07-25 00:32] #653 closed

[2017-07-25 07:36] suhlig commented on #659
@sreetummidi The flag is fine, either way. It's just that when we set it to false, the log file is filled with tons of exceptions including their stack trace, which seems surprising with a log level of `WARN`.

We were hoping that the logging can be reduced to a one-line warning only.

[2017-07-25 11:59] kannangce opened #666 "Spring placeholder in YAML is not processed"
The placeholders in config file is not parsed for all the attributes.
I am able to use placeholders for DB attributes. Ex, `username: ${DB_USERNAME:postgres}` . But I am not able to do the same for `redirect-uri` . The placeholders that I give for the attribute `redirect-uri` is not replaced with the value of the placeholders.
To explain in detail,
I the `yml` block containing a client data, I gav

[2017-07-25 14:05] fhanik commented on #659
I agree that this is an issue. Expected errors should not be logged under ERROR or WARN

[2017-07-25 14:46] fhanik commented on #633
@MatthiasWinzeler

Help me understand the use case here.

When a provider is configured as an IDP in the UAA there are two use cases.

1. IDP initiated login
Login starts on the IDP, and sends the assertion to the UAA.
In this case you'd want to use the RelayState to forward the user to an outside destination after the UAA has completed the authentication process.

2. SP initiated login
I assume t

[2017-07-25 15:01] MatthiasWinzeler commented on #633
@fhanik Yes, both assumptions are correct.

[2017-07-25 16:44] fhanik commented on #633
@MatthiasWinzeler One more question about OneLogin.

1. On a SP initiated flow, does OneLogin still send a RelayState?
2. If the SP sends a RelayState in the request, does OneLogin overwrite that value in the response?

[2017-07-26 08:04] MatthiasWinzeler commented on #633
@fhanik Quickly tested the behaviour of Onelogin on a demo instance:

1. Yes, it sends the RelayState even if the SP initiates the flow
2. No, it keeps the original RelayState if the SP sends a RelayState in the request.

[2017-07-26 09:40] Vermeille commented on #661
Many thanks!

May I be part of (or spectate) the review process?

I'd be glad to contribute and an early access to this guide would be of immense value to me.

[2017-07-26 17:52] jamesThiede opened #670 "Predix users unable to login"
The predix environment I am running is experiencing some UAA maintenance upgrades. The application is running into a situation that authentication failed for certain users, forcing them to add a valid redirect URI for their UAA instance.

[2017-07-26 17:55] fhanik commented on #670
We would suggest that you reach out to the Predix team that manages your environment. This github repo is just for the code of the open source project UAA itself. We don't manage any environments.

[2017-07-26 17:55] #670 closed

[2017-07-26 19:12] sreetummidi commented on #540
@jmcarp @LinuxBozo We will add this support in the upcoming version of UAA.

[2017-07-26 19:14] rememberlenny commented on #540
👍

[2017-07-26 23:04] fhanik commented on #633
Support added in https://github.com/cloudfoundry/uaa/commit/779adb01a5f6ab8cef11e86ac748b7b2ffa68ce8

[2017-07-27 05:46] MatthiasWinzeler commented on #633
@fhanik Thank you very much!

[2017-07-27 05:46] #633 closed

[2017-07-27 07:28] sebastianGit opened #671 "[Question] Running CF UAA with MySQL vs PostgreSQL"
Hi,

is there a recommendation for choosing MySQL or PostgreSQL as database for CF UAA?

For PostgreSQL I've seen a couple of updates in the pull requests (e.g. additional indexes).

Is there any experience w.r.t. performance and stability that you can share?

[2017-07-27 18:10] fhanik commented on #664
@mwdb I'm unable to find the query

    delete from group_membership where group_id in (select id from groups where identity_zone_id = ?)

We will still add an index to this column, and we will investigate #647 at the same time

[2017-07-27 21:44] fhanik commented on #585
@Freakin

The pipe delimited format is deprecated.

The new format looks like this
https://github.com/cloudfoundry/uaa/blob/4d5a3d10e21ca68654308ef78f944600710fc102/uaa/src/test/resources/test/bootstrap/all-properties-set.yml#L513-L524

We've added test cases to validate names with spaces. We will not be fixing the old format.

[2017-07-28 21:38] sreetummidi commented on #671
Both are supported and used in commercial deployments of UAA.

[2017-07-28 21:38] #671 closed

[2017-07-28 21:51] sreetummidi commented on #522
This issue has been addressed .

[2017-07-28 21:51] #522 closed

[2017-07-31 20:20] mwdb commented on #664
this query comes when an identity zone is deleted.

[2017-08-02 17:13] aleliaert opened #675 "[Question] What influences issuer field in generated tokens?"
We're running UAA instance as an app in CF, and have noticed that generated tokens have the 'iss' field set to `http://localhost:8080/uaa/oauth/token`.  What influences that?  We'd like to change it to something more meaningful and secure, as it appears the issuer field is checked for security purposes.

And when UAA logs its configuration upon startup, is there a way to have it not redact values?

[2017-08-02 19:29] sreetummidi commented on #675
@aleliaert The issuer field is configurable. The default is {uaa_url}/oauth/token but you can override by setting under

uaa:
     issuer:
         uri: <value>

The values are redacted in the log file for security reasons as we don't want to log the secrets and passwords from the uaa.yml

[2017-08-02 19:29] #675 closed

[2017-08-02 22:18] fhanik commented on #600
Anything after the # are no longer query parameters. It is just fragment data. ie, a string of non deterministic characters.

I'm reviewing the PR right now, https://github.com/cloudfoundry/uaa/pull/601

Can you elaborate what you mean by _the authenticated application cannot get the query parameters correctly_. Is it a server side application?

On the implicit flow, server side applications are n

[2017-08-02 22:23] fhanik commented on #600
OAuth 2 Spec shows an example as

    HTTP/1.1 302 Found
    Location: http://example.com/cb#access_token=2YotnFZFEjr1zCsicMWpAA
               &state=xyz&token_type=example&expires_in=3600

No `?` is needed in the fragment. Parameters in the fragment are delimited by `&`
We believe the UAA to be compliant with the spec.

Please reopen if you feel we have made this decision in error.

Reference
ht

[2017-08-02 22:23] #600 closed

[2017-08-02 22:50] fhanik commented on #664
https://www.pivotaltracker.com/story/show/149310593

[2017-08-02 22:50] #664 closed

[2017-08-02 22:51] fhanik commented on #647
https://www.pivotaltracker.com/story/show/148308021

[2017-08-02 22:51] #647 closed

[2017-08-04 19:22] sreetummidi commented on #540
@jmcarp UAA supports two token formats JWT and Opaque.
Are you referring to limiting the Access Tokens or Refresh Tokens per User and Client combination?

Also, I think this feature makes sense when tokens are stateful as in they are revocable because we store the state in the UAA DB

[2017-08-05 14:07] #367 closed

[2017-08-09 16:19] PavelSosin opened #677 "credlew hanged-up on Building 97% > :cargoRunLocal"
credlew run hanged-up on windows 10 with Java 8 and Tomcat 8 like in issue #504
Log tail:
Deploying [C:\Users\i016373\uaa\samples\api\build\libs\cloudfoundry-identity-api-4.5.0.war] to [C:\Users\i016373\AppData\Local\Temp\cargo\conf/webapps]...
Deploying [C:\Users\i016373\uaa\samples\app\build\libs\cloudfoundry-identity-app-4.5.0.war] to [C:\Users\i016373\AppData\Local\Temp\cargo\conf/webapps]...

[2017-08-10 17:49] sreetummidi commented on #540
@jmcarp We can't get started on this story if we don't have a clarification.
I am leaning towards only limiting the number of outstanding refresh tokens. Access tokens will be restricted only when the token format is opaque.

[2017-08-10 18:52] LinuxBozo commented on #540
Yes, what we're looking for a global restriction on the number of refresh tokens regardless of user/client combo.

[2017-08-10 22:28] sreetummidi commented on #540
sounds good

[2017-08-13 08:30] jhamon commented on #650
I18n is not an existing feature and we currently have no plans to tackle it soon, but we'd be glad to take pull requests adding international language support if you end up implementing that on your fork.

[2017-08-13 08:30] #650 closed

[2017-08-13 08:36] jhamon commented on #677
From the log it looks like you have not configured a private key in your `uaa.yml` file for the property `login.serviceProviderKey`.

[2017-08-13 08:44] jhamon commented on #666
Could you give some more details about the exact steps you are following, the behavior you expect, and the behavior you are seeing? There's not enough information in this issue for me to reproduce and troubleshoot.

If you're only seeing this issue with `redirect-uri`, I suspect it might be related to the specific url you are trying to set; for security reasons, there are some limitations on what

[2017-08-13 19:07] jhamon commented on #634
We are handling this as part of this story with several small doc fixes https://www.pivotaltracker.com/story/show/149450829

[2017-08-13 19:07] #634 closed

[2017-08-13 19:47] jhamon commented on #636
My read of the scim filtering related code in UAA is that this is not possible today. We rely on [this implementation](https://github.com/pingidentity/scim) of scim filters, so you may want to open an issue with them to discuss plans for negation in filtering. I noticed that [RFC7644](https://tools.ietf.org/html/rfc7644#section-3.4.2.2) mentions a `ne` not equals operator, but it doesn't look like

[2017-08-13 19:47] #636 closed

[2017-08-14 08:16] kannangce commented on #666
@jhamon  Added details to the question.

[2017-08-15 04:06] dkoper commented on #552
@wslack I believe that if you configure your UAA Login server to return only a "passcode" prompt and no "username" and "password" prompts, the `cf login` should behave as `cf login --sso`.
If not, then we (cf CLI team) should investigate this as a bug.

[2017-08-15 16:39] mogul commented on #552
We could do that, but we actually do want UAA configured to support username/password login for "service" accounts: Auto-brokered account credentials intended to be used for automated deployment in a particular space, but that we don't ever expect a human to use to log in.

Is there any way to make the default configurable from the server side, and add a flag to the CLI to explicitly opt into user

[2017-08-15 16:40] mogul commented on #552
Or, if we're missing some obvious way to issue robot-oriented credentials that work with the various CI/CD options out there, we'd love to hear about it!

[2017-08-16 13:58] adisutanto opened #678 "MySQL db migration script does not support utf8mb4 charset"
MySQL true UTF-8 charset is not "utf8" but is "[utf8mb4](https://mathiasbynens.be/notes/mysql-utf8mb4)".
With utf8mb4, the maximum length of varchar column index should be 191 instead of 255.
However, [V1_5_5__CreateExpiringCodeStore.sql](https://github.com/cloudfoundry/uaa/blob/master/server/src/main/resources/org/cloudfoundry/identity/uaa/db/mysql/V1_5_5__CreateExpiringCodeStore.sql) has "code"

[2017-08-16 16:20] jhamon commented on #678
This is very interesting and is something I will keep in my for future projects, but changing database encoding seems like something we are unlikely to pursue in the UAA unless we hear from a customer that it is required for their use cases. We have a lot of companies using UAA in production with a variety of databases we don't directly manage or have access to.  So I am reluctant to make changes

[2017-08-16 16:20] #678 closed

[2017-08-17 01:42] adisutanto commented on #678
Thank you for the comment, it makes sense.
This is one of the reason why I personally prefers PostgreSQL over MariaDB/MySQL, but my company decided to use MariaDB/MySQL, so I just have to accept it.

[2017-08-18 01:48] tnwang commented on #565
Closing this story as the March 27th merge had actually provided the fix in the specified document.

[2017-08-18 01:48] #565 closed

[2017-08-21 08:41] abh1kg opened #679 "UAA client create/update should accept wildcard in redirect_uri port"
[code]

Similar redirect URI patterns worked earlier but redirection with the saved clients also fail now. This hampers local development quite a lot because only a specified port can be used in the redirect URL definition

[2017-08-22 20:42] jhamon commented on #679
In a recent release of UAA we added some security restrictions around which part of the `redirect_uri` may be wildcarded. Domains, specifically, were one big area of concern because of the way subdomain routes are assigned to other CF tenants that may not be considered trusted.

We're discussing internally whether the wildcarding of ports should be allowed or not.

[2017-08-23 00:02] cbguder opened #680 "Empty response from `/ids/Users` when a single user with `origin: ldap` is requested"
Originally reported by @thausler786 here: https://github.com/cloudfoundry/cf-uaa-lib/issues/24

---

## Test Case

1. Create a user with `--origin ldap`:

```CF_CLI_EXPERIMENTAL=true cf -v create-user test1 --origin ldap```

1. Login to uaac with a scope `scim.userids`.  We did this on a uaa deployed with a cc using the `cloud_controller_username_lookup` client.

1. query for user `test1` with the

[2017-08-23 07:24] shawnhsy opened #681 "uaa behind a nginx proxy"
Try to put uaa behind a nginx proxy.
the setup is like this
uaa is deployed to serve at

, works fine.
Then, i need uaa to be access as

from outside. So, a nginx is setup like this:
[code]
when i access http://localhost/uaa/, i expect it to be proxy_passed to http://localhost:8080/, but it doesn't

[code]

[2017-08-23 07:39] Buddikawidu opened #682 "README Quickstart is difficult to understand"
Please make below paragraph more understandable "

NOTE: Recent changes removed default keys and default users from the UAA. We currently enable default keys using the LOGIN_CONFIG_URL variable and load default sample data is loaded using the default spring profile (spring.profiles.active). In the gradle script we set LOGIN_CONFIG_URL=file://$PWD/uaa/src/main/resources/required_configuration.yml

[2017-08-23 18:11] jhamon opened #683 "Hello from Github Issues"
Testing out Github integration with the #uaa channel on cloudfoundry.slack.com

[2017-08-23 18:14] #683 closed

[2017-08-24 04:19] mogul opened #684 "Unrecognized parameter for token can result in content injection"
[details redacted - team will work on it]

[2017-08-24 08:29] shradhasa commented on #677
Hi, i am also getting same error. How do we configure property login.serviceProviderKey. isn't it already configured?

[2017-08-24 14:34] sebastianGit opened #685 "[Question] Client validation kicks in if a client (here: resource server) does not have a grant type"
I have the use case that I have OAuth resource servers which should be able to call the token introspection endpoint of CF UAA (/check_token).

This requires that the resource source server must be registered at CF UAA as a client - in order to have a client-id and client-secret for authentication at the /check_token endpoint  and uaa.resource as authority.

With CF UAA 4.x validation of the clien

[2017-08-24 18:22] jhamon commented on #685
Hey, thanks for your question. Right now, yes, I think the only way to call `/check_token` is to register a client for your resource server with some authorized_grant_type even though you will not be obtaining tokens.  I think `client_credentials` makes the most sense here, even though you aren't using the client to obtain tokens; conceptually, you are making a call on your server's behalf and not

[2017-08-24 18:22] #685 closed

[2017-08-25 16:57] jhamon commented on #677
@shradhasa No, it is not configured out of the box. You must supply a key. If you are running the UAA as a standalone Java app, you need to set the key in the `uaa.yml` file. If you're deploying the bosh release of uaa, you will set a value under `login.saml.keys` in your bosh manifest. These configurations are required because the UAA acts as a SAML Service Provider and they must be set by the op

[2017-08-25 16:57] #677 closed

[2017-08-28 19:12] fhanik commented on #622
I'm unable to reproduce this behavior. If you are able to post the entire error message along with the version of UAA, please reopen the story with that information.

[2017-08-28 19:12] #622 closed

[2017-09-01 11:58] sebastianGit opened #688 "Public clients & PKCE"
Is it planned that CF UAA supports public clients (clients without any secret) using "token_endpoint_auth_method"="none" (RFC 7591) and PKCE (RFC 7636) ?

Thanks,
Sebastian

[2017-09-05 13:54] theomega opened #689 "Changing user password invalidates refresh tokens, can be disabled?"
Changing the user password invalidates all the refresh tokens (as the access tokens) for this user. I assume this is an intended behaviour (which makes sense in most cases). According to the code, the same is actually also true when changing the email-address.

We are relying on the refresh tokens to last infinite, so we are running into a road block here. Is there any thing we can do to disable t

[2017-09-05 20:05] jhamon commented on #689
Hey, we discussed this as a team today and think the current behavior is the only behavior that should be allowed. Changing passwords is often done in response to a security incident where a user believes the password may have been compromised. You can imagine a scenario where an attacker has used stolen user credentials to obtain a refresh token; it would be inappropriate to continue granting new

[2017-09-05 20:05] #689 closed

[2017-09-06 00:12] jhamon commented on #688
We have implemented some parts of RFC 7591 (specifically the `urn:ietf:params:oauth:grant-type:jwt-bearer` and `urn:ietf:params:oauth:grant-type:saml2-bearer` grant types) but we do not currently have plans to tackle the `token_endpoint_auth_method` soon. We'll take this as a feature request.

The workaround you can do today is to create a second non-public client that will only be used for callin

[2017-09-06 00:12] #688 closed

[2017-09-06 03:32] gu-bin opened #691 "Could not resolve placeholder 'login.serviceProviderKey' in value "${login.serviceProviderKey}""
I'm trying to deploy uaa (version 45) with bosh director (version 262.3).

As described in http://bosh.io/jobs/uaa?source=github.com/cloudfoundry/uaa-release&version=45, the following properties are deprecated:

[code]
So I modified them to the recommended ones:
[code]

But the uaa job failed to start, reporting error:
[code]

When I changed back to the deprecated properties, there was no problem.

[2017-09-06 18:41] tnwang commented on #691
We'll be including the fix in the next release. The old method will still work for backwards compatibility purposes. We will support the recommended options going forward to allow for SAML key rotation.

[2017-09-06 18:41] #691 closed

[2017-09-08 20:41] easeway opened #692 "Incorrectly derived base URLs in openID configuration when uaa is behind a proxy"
In my deployment, I want HTTPS termination on proxy, and uaa is running on HTTP. While getting openid configuration via https://external-dns/uaa/.well-known/openid-configuration, the returned URLs containing internal http hostname and port:

e.g. the external dns name mapped to proxy is uaa.mydomain.com, so the client is talking to
https://uaa.mydomain.com

and the openid configuration from https:

[2017-09-08 20:44] easeway commented on #692
After investigating the source code, I found the issue sits in `org.cloudfoundry.identity.uaa.account.OpenIdConnectEndpoints#getServerContextPath`

[code]

deriving base URL from the request is a bad idea, and it makes uaa work improperly behind a proxy.
Why not constructing these URLs using `issuer` as base URL? Then we can get consistent behavior.

[2017-09-10 19:15] restjohn opened #694 "error initializing uaa app on pivotal cloud foundry: KeyManager must be set"
I am attempting to deploy the UAA app to an enterprise instance of Pivotal Cloud Foundry.  I followed the [instructions](https://docs.pivotal.io/pivotalcf/1-10/concepts/architecture/uaa.html) for building and deploying the UAA app to PCF, building from the master branch.  When the app starts, the log shows an initialization error:
[code]
See the attached log for the entire exception chain.  Am I m

[2017-09-12 20:49] sreetummidi commented on #694
Have you considered using Pivotal Single Sign-On Service which provides UAA on demand.
https://docs.pivotal.io/p-identity/1-4/index.html

This is the supported path when using PCF

[2017-09-13 19:25] svaisham opened #696 "Cannot authenticate tokens using Identity Providers"
I have 2 identity zones idzone1 and idzone2. I have added an identity provider in idzone2 with urls pointing to idzone1 . The authentication still fails. How are tokens forwarded to the relevant identity providers for authentication?
This is the code for adding the identity provider to idZone2:
[code]
The following is a GET on identity-providers in idZone2:
[code]

[2017-09-13 23:28] jhamon commented on #696
You said authentication fails. Can you provide more detail on exactly what you're doing to test authentication and the error you're seeing? Their could be other considerations besides your zone2 idp configurations, depending on how you are testing this. For example, if you're trying to get a token in idzone2 and failing, there could be problems with your client configuration.

I'd also want to ver

[2017-09-14 13:46] svaisham commented on #696
I'm generating a token in idZone1 using a POST request to the endpoint https://idZone1.uaa.system.sample.io/oauth/token/ with "username" and "password" and passing this to idZone2.
I am able to log in directly to idZone1 with "username" and "password".
When I send the above idZone1 token to idZone2, it returns a 401 unauthorized.
Do we need to add more configuration to idZone1-id-provider?
I'm not

[2017-09-14 20:21] jhamon commented on #696
Tokens are not portable across zones, but you should be able to get a new token in zone2 for the user from zone1 using a client in zone2 if your idp configuration has been set up correctly.

Try this:
[code]

[2017-09-15 19:28] wolfgangkoch opened #697 ""No Group Integration" option UAA-LDAP integration does not work as expected"
### What version of UAA are you running?

UAA 3.8.0

### How are you deploying the UAA?

I am deploying the UAA
- locally only using gradlew

### What did you do?

1) I integrated an ApacheDS as an LDAP to UAA. The Group Mapping configuration was set to "No Group Integration".
2) I logged in via an user created through ApacheDS.
3) I assigned the LDAP user a group using the UAAC.
4) I logged in wi

[2017-09-16 00:32] jhamon commented on #697
Can retry this with the latest uaac? This sounds like a symptom of a bug related to the creation of group memberships that has been fixed in uaac 4.0.0.

[2017-09-16 04:45] jhamon commented on #292
I'm closing this issue since it's been quiet for 18 months. Please reopen a new issue if you have other problems or feedback.

[2017-09-16 04:47] #292 closed

[2017-09-16 05:29] #696 closed

[2017-09-16 15:05] jhamon commented on #657
This work shipped as part of the 4.6.0 release.

[2017-09-16 15:05] #657 closed

[2017-09-16 15:09] jhamon commented on #654
As of the 4.6.0 release, these scopes may now be used with zone switching.

[2017-09-16 15:09] #654 closed

[2017-09-16 15:14] #585 closed

[2017-09-18 15:47] jchesterpivotal commented on #332
We got bitten by this too. It's a frustrating experience for non-experts.

It seems to me that we did not understand:

1. That we needed to know in advance that we needed both clients and tokens with `tokens.revoke` scope, or
1. How we get out of this situation once we're stuck in it.

We don't have any clients with `uaa.admin` or `tokens.revoke`, nor any tokens with `tokens.revoke`. We're stuck w

[2017-09-18 16:48] clongbupt opened #698 "Login failed due to bad credentials error"
I am deploying the UAA using cf-release

While using cf to login, would be rejected due to Bad credentials

Some errors showed below:
[code]

Listed below there are some other errors when deploying v260 :
[code]

Versions that we've been tried:

[code]

I would see from `curl <YOUR_UAA>/info -H'Accept: application/json'`

[code]

manifest configuration related to cf login in uaa scim
[code]

[2017-09-18 19:39] fhanik commented on #332
Documentation for
https://docs.cloudfoundry.org/api/uaa/version/4.6.0/index.html#revoke-a-single-token

states

    Authorization | Bearer token with uaa.admin or tokens.revoke scope.
    You can use any token with matching token ID to revoke itself.

I guess we need to improve this message here so that the **or** in between the sentences is clearer.

[2017-09-18 19:54] kopptr commented on #332
I don't think the "or" in between the sentences is correct. Attempting to revoke a refresh token with the JTI claim, but without either of those scopes, fails with a 403 response:

[code]

We tried this with each client we have, and also tried it using `uaac curl`, and got similar results. It seems like one cannot use any token with matching token ID to revoke itself.

[2017-09-18 19:55] jhamon commented on #332
@fhanik I think the problem being described here is that the knowledge that the scope `tokens.revoke` is required to revoke tokens issued with `format=opaque` is very far removed (both in space in the documentation and in time) from the point where the client was created and decisions about what scopes the client should request were made. Our API docs leave this landmine open for people because th

[2017-09-18 20:10] fhanik commented on #332
@jhamon @kopptr

I'm confused. I would say you are both wrong or misunderstanding the documentation.

The documentation shows that you can use format=opaque in the example

    curl 'http://localhost/oauth/token/revoke/29ef79f017d0429c8f0ccbbe0b4afaf2' -i -X DELETE \
    -H 'Authorization: Bearer cc42c0a963354f9e8742e38b50cf97a2'

The token used has only `openid` nothing else

https://github.com/c

[2017-09-18 20:16] jhamon commented on #494
Closing this as the strange wording was changed as part of [this story](https://www.pivotaltracker.com/n/projects/625235/stories/147464283).

There are other values that may be passed to the authorize endpoint, but for the specific example linked in this issue (an authcode flow example) it only makes sense to use `response_type=code`. The other valid values (`token` and `id_token`) are used in the

[2017-09-18 20:16] #494 closed

[2017-09-18 20:38] jhamon commented on #332
I was restating my understanding of @jchesterpivotal's complaint, but it seems that it is possible to revoke tokens without having the `tokens.revoke` or `uaa.admin` scopes on your client. I just did a quick trial and was able to revoke a token without these scopes on my client. It requires them have knowledge of the token and jti, which they may not be holding on to.

[2017-09-18 21:34] fhanik commented on #332
@jhamon @jchesterpivotal

I'm pretty sure that you can also invoke

   /oauth/token/revoke/client/my-client-id

using *any* token issued to my-client-id without needing privileged scopes.

[2017-09-19 07:08] xiaozhu36 commented on #698
I also happened the similar issues and I tried cf-release v220 and v225.

[2017-09-19 07:53] Ineedthisforwork commented on #697
The problem is still there with version 4.5.
Any other ideas?

This is the LDAP part from the uaa.yml:
spring_profiles: ldap,default,hsqldb
ldap:
  profile:
    file: ldap/ldap-simple-bind.xml
  base:
    url: 'ldap://localhost:10390/'
    mailAttributeName: mail
    userDnPattern: 'cn={0},ou=people,dc=example,dc=com'

[2017-09-19 14:52] jhamon commented on #697
Did you try the latest uaac as I suggested earlier? A previous version of uaac had a bug where group memberships were created with `"origin": "ldap"`. These were lost / deleted the next time the user authenticates because those group memberships are not derived from information in the ldap store.

The most recent uaac fixes this bug, and sets `"origin":"uaa"` when an admin wants to assign membersh

[2017-09-19 19:03] JiahaoLi opened #700 "UAA 3.9.2 Release note error"
## What errors
There is an error in `3.9.2` release notes to show how to configure JWT Signing Key with new format in UAA.yml
### Original
[code]
### It should be?
[code]

[2017-09-19 19:59] jhamon commented on #700
[Fixed](https://github.com/cloudfoundry/uaa/releases/tag/3.9.2). Thanks!

[2017-09-19 19:59] #700 closed

[2017-09-20 05:20] bsekar commented on #416
I confirmed this behavior for all external IDP users

[2017-09-20 05:22] bsekar commented on #498
This issue has been addressed by #603

[2017-09-20 05:22] #498 closed

[2017-09-20 07:15] bsekar commented on #567
This is now supported. Addressed by #630

[2017-09-20 07:15] #567 closed

[2017-09-20 07:20] bsekar commented on #614
@6palace I believe this has been addressed by #638

[2017-09-20 07:20] #614 closed

[2017-09-20 07:22] bsekar commented on #652
This has been fixed by #672

[2017-09-20 07:22] #652 closed

[2017-09-20 07:26] Ineedthisforwork commented on #697
Thank you for your answer. I read "uaa" instead of "uaac" in your first answer. Using the new uaac fixed the problem.

[2017-09-20 07:30] Ineedthisforwork commented on #697
close #697

[2017-09-20 09:44] mpean opened #701 "Access token scope parameter expressed as an array of string instead of a list of space-delimited strings"
### What version of UAA are you running?
"app":{
"version": "4.5.0"
}

### How are you deploying the UAA?
I am deploying the UAA
- locally only using gradlew

### What did you do?

My scenario:
* I obtain my admin client token
* I create a client application with scopes [ ..., "weatherUP.favoritescities.read"]

  "scope" : [ "cloud_controller.read", "cloud_controller.write", "openid", "password.wr

[2017-09-20 13:28] wolfgangkoch commented on #697
Thank you for your quick help @jhamon !

[2017-09-20 13:28] #697 closed

[2017-09-21 18:35] sreetummidi commented on #692
The OpenID Connect well known configuration is also available @ https://{uaa_base_url}/oauth/token/.well-known/openid-configuration. This makes the required derivation if issuer possible.

[2017-09-21 18:35] #692 closed

[2017-09-22 02:43] fhanik commented on #698
this is not the username failing. This is the client_id/client_secret combination that is wrong.

Your manifest should have a client with client_id=`cf` and client_secret=`""` for `cf login` to work

[2017-09-22 02:55] jhamon commented on #701
RFC 6749 describes the value of `scope` in the response from the token endpoint. The UAA's `/oauth/token` endpoint does include a [space-delimited list of scopes](https://docs.cloudfoundry.org/api/uaa/version/4.6.0/index.html#token) as specified.

The string array that you see in the decoded JWT token is not described by the OAuth2 spec. Regarding token format, the [spec says](https://tools.ietf.o

[2017-09-22 20:32] Affy01 opened #702 "Creating a user through java-client with email id as " " passes on UAA but fails on doing a cf login with that user"
I'm creating a user in root UAA through java-client with a space as email id. I can successfully create a user but when I try to login on the UI it fails with this message.

![image](https://user-images.githubusercontent.com/12614472/30763212-29d728b8-9fb3-11e7-92f9-7a7e4071b101.png)

It fails while running a cf login command with a message
Authenticating...
The targeted API endpoint could not be

[2017-09-22 21:15] ilipkind commented on #540
@sreetummidi would you consider also number of tokens limit for client credentials flow as well. We are looking for limited number of tokens clients (one time use OAuth client) or limited TTL clients (deleted after expiration). That might be related to OAuth Dynamic Client Registration Protocol: https://tools.ietf.org/html/rfc7591 Thoughts?

[2017-09-22 22:13] jhamon commented on #540
Is this something that should be configured on the client? Or on the zone?

[2017-09-22 22:31] ilipkind commented on #540
I would configure it on a client, not zone

[2017-09-25 16:37] #701 closed

[2017-09-26 06:48] D031121 opened #703 "Better error message for failing SAML authentication"
Hi,

in our CF setup, we have connected the CF UAA to an IdP, which again is backed by another IdP instance.
Authentication is done via SAML. CF UAA only knows the first IdP, the second re-direct is outside the UAA.
The second IdP has a broader user base, and we use the first one known to UAA to "filter" users.
In this setup following scenario can happen:
A user opens the CF login page, follows th

[2017-09-26 18:01] drennalls opened #704 "Slowdown with /Users queries starting in 4.5.0"
We've noticed some slowdowns with UAA on a dev deployment of PCF where ERT was upgraded from https://docs.pivotal.io/pivotalcf/1-11/pcf-release-notes/runtime-rn.html#1.11.5 (w/UAA 4.1.0) to https://docs.pivotal.io/pivotalcf/1-11/pcf-release-notes/runtime-rn.html#1.11.12 (w/UAA 4.5.0). After the upgrade queries to `/Users` seem to take really long. For e.g. a root zone with 40+ users takes around 2

[2017-09-26 18:46] fhanik commented on #704
Thanks for the report, we will prioritize this one

[2017-09-26 18:51] ScarletTanager opened #705 "API docs for Asymetric /token_key mismatch between doc and example"
The docs at https://docs.cloudfoundry.org/api/uaa/version/4.6.0/index.html#token-key specify that no `Authorization:` header is required for a request when using asymetric keys, but the samples for both CLI and REST both show HTTP BASIC auth being used (confusingly):

[code]

I'm assuming that the doc is correct, the example is wrong, but given the apparent contradiction, could you please fix whic

[2017-09-26 21:50] fhanik commented on #704
Recently introduced metrics show this

    {
      "lastRequests": [
        {
          "uri": "/uaa/Users",
          "uriGroup": {
            "pattern": "/Users/**",
            "group": "/users",
            "limit": 10000,
            "category": "API"
          },
          "statusCode": 200,
          "requestStartTime": 1506462263235,
          "requestCompleteTime": 1506462289275,

[2017-09-26 22:06] fhanik commented on #704
Count: 5600

    "insert into groups ( id,displayName,description,created,lastModified,version,identity_zone_id ) values (?,?,?,?,?,?,?)"

Count: 5600

    "insert into groups ( id,displayName,description,created,lastModified,version,identity_zone_id ) values (?,?,?,?,?,?,?)

And the culprit is doing an `INSERT` followed by `SELECT` for each default group in the zone

[2017-09-26 22:54] fhanik commented on #704
Fixed via https://github.com/cloudfoundry/uaa/commit/c793bb07060a552c968e95be8e9ddce0766558aa

[2017-09-28 14:05] scizeron opened #706 "external OIDC providers"
Hi,

With the 4.6.0, I use UAA with some external OIDC providers. My concern is about retrieving user's info. UAA only tries to get them from the id_token.

Some providers return only the sub claim in the id_token and the user's info are only accessible though a /userinfo endpoint.

Although the OIDCIdentityProviderDefinition class contains a field userInfoUrl, it is never used, there is no additi

[2017-09-28 14:36] drennalls commented on #704
Thanks @fhanik ! How can I query those metrics you mentioned or are they only in `develop` branch ?
Also I built against `develop` and tried the same test and although it's faster is still not back to `4.4.0` levels (e.g. querying 1000 users on 4.4.0 is ~1.9s , 4.6.0 it's ~42s and on dev ~9.7s on my setup). So I was just wondering what the expectation is perf-wise going forward whether things will

[2017-09-28 15:18] scizeron commented on #706
Here is a patch of XOAuthAuthenticationManager.java including the /userInfo request if it's specified in the related OIDC configuration.

[XOAuthAuthenticationManager.txt](https://github.com/cloudfoundry/uaa/files/1341393/XOAuthAuthenticationManager.txt)

[2017-09-28 15:57] fhanik commented on #704
@drennalls - I have reopened this to further optimize it. It has to do with a feature where we added `default user groups` to zones, and now it does a N fetch of groups for every user.

In the meantime, there is a work around that will also work on 4.5.0
https://docs.cloudfoundry.org/api/uaa/version/4.6.0/index.html#list-with-attribute-filtering

if you specify the `attributes` query parameter on

[2017-09-28 19:38] fhanik commented on #704
@drennalls Caching restored in https://github.com/cloudfoundry/uaa/commit/eefd4c9648178b78eaa9529ae681ad81a4abec1c

[2017-09-28 20:50] sreetummidi commented on #679
@fhanik @jhamon @tnwang I had a discussion with the GE team yesterday. I have asked them to make the following changes in the PR.

1. Introduce the concept of whitelisting allowed redirect uri protocols at the zone level The default is HTTP and HTTPS
2. When create clients needing redirect uri, we will validate against the zone whitelist

Apart from this, this PR also contains allowing regex patte

[2017-09-28 23:31] drennalls commented on #704
@fhanik Thanks for the attribute-filtering tip :). That does really help things quite a bit when constructing the request manually, however I don't see a way to make use of it via the cf-java-client API for UAA, based on [ListUsersRequest](https://github.com/cloudfoundry/cf-java-client/blob/master/cloudfoundry-client/src/main/java/org/cloudfoundry/uaa/users/_ListUsersRequest.java) and [PaginatedAn

[2017-09-29 23:55] fhanik commented on #704
@drennalls not familiar with the cf-java-client, so not sure how to pass in query arguments.

Let me know if `develop` has restored what you were looking for. I believe 4.4.0 had an in memory cache. we now have the similar cache, the new one has expiring values to save server side resources.

[2017-10-03 21:15] RoopGuron commented on #679
@sreetummidi As we at GE are implementing the protocol whitelisting, we have noticed a break in backward compatibility caused by whitelisting. Even though its impact for GE is minimal we do want to bring this to your attention.

The protocol pattern has been for quite some time(At least since Feb this year) on the lines of
`^(http(\\*|s)?://)"    //URL starts with 'http://' or 'https://' or 'http*

[2017-10-03 21:42] ilipkind commented on #679
@sreetummidi essentially we are asking if we need to support protocol scheme http* like httpblah. Not sure what is a reason for it. Keep in mind it can be also added per zone using whitelisting. In my view supporting ^(http|https):// by default should be sufficient.

[2017-10-04 18:26] patricklunney opened #715 "How to automatically add group user_attributes to users that are added via addShadowUserOnLogin"
### How are you deploying the UAA?

I am deploying the UAA
- as part of a commercial Cloud Foundry distribution

### What did you do?

I've created a SAML IDP and tied a client to that IDP. When authenticating for the first time with a user
`uaac token authcode get -c apphub-saml2 -s test123test --scope 'openid user_attributes'`
it creates the user, but it does not add the user_attributes group to

[2017-10-04 19:07] ilipkind commented on #715
@patricklunney you can set it using zone configuration: http://docs.cloudfoundry.org/api/uaa/version/4.6.0/index.html#updating-an-identity-zone userConfig.defaultGroups

[2017-10-06 09:46] kkdatkiran commented on #488
@sreetummidi I don't understand how "Remember Me" functionality works for user logins and all, can you please let me know if there is a "Remember Me" functionality?

[2017-10-11 15:46] jamelseagraves commented on #694
I get a very similar error log output when I deploy the latest UAA version to a Tomcat server in a Docker container. In my Dockerfile, I do not use `./gradlew run`; instead, I use `./gradlew build -x test`, and then I replace the default Tomcat webapp (ROOT.war) with the newly built cloudfoundry-identity-uaa-[version].war and execute `/bin/catalina.sh run` to start the Tomcat server. Not sure why

[2017-10-11 19:36] migger opened #716 "UAA check_token is not working with spring-security-oauth2 since 2.1.0.RELEASE"
### What version of UAA are you running?

uaa-4.5.0

### How are you deploying the UAA?

I am deploying the UAA

- using cf-release
- using cf-deployment

### What did you do?

We have created a microservice with @EnableResourceServer annotation on main spring boot class. the service is using spring-security-oauth2:2.2.0.RELEASE as sub-dependency of

org.springframework.cloud:spring-cloud-starter-

[2017-10-11 21:50] dny27 opened #717 "FAILURE on trying to startup UAA locally"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2017-10-12 03:18] jhamon commented on #716
@sreetummidi @fhanik Looks like this broke starting with 2.1.1 https://github.com/spring-projects/spring-security-oauth/commit/f1a9b976389672ff94dfe697d8315256eabc5bf3

They are now validating the required `active` attribute as described in [RFC 7662](https://tools.ietf.org/html/rfc7662#section-2.2). It seems not great they introduced a breaking change in a minor version release.

Since our `/chec

[2017-10-12 15:10] shreck8754 opened #718 "groupMappingMode not saving in IdP configuration for standalone UAA"
### What version of UAA are you running?

[code]

### How are you deploying the UAA?

I am deploying the UAA locally in a Tomcat container using the standalone uaa.war file.

### What did you do?

Updated IdP to include groupMappingMode attribute. I also tried deleting/recreating the IdP with the same results.

PUT https://mysecuredomain/uaa/identity-providers/7a08aac6-a7db-431a-b2e9-1dd211400c60

[2017-10-13 13:46] pharout commented on #694
I see this same error running locally as per quick start, see https://github.com/cloudfoundry/uaa/issues/717

[2017-10-14 21:42] jamelseagraves opened #719 "Unable to request oauth token for client in non-default identity zone"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2017-10-16 10:17] anitalpatil commented on #129
I am integrating cf uaa with third party application (using sso), in third party application am unable to get token of uaa. Is there any thing settings needs to be done at uaa? becoz  am able to integrate my third party application with git.

[2017-10-16 10:29] anitalpatil commented on #362
Hello every one,

Even I am facing the problem while logging in (I am using sso).

I am integrating cf uaa with third party application (using sso), in third party application am unable to get token of uaa. Is there any thing settings needs to be done at uaa? becoz am able to integrate my third party application with git.

can any one help me in solving this issue?

[2017-10-17 15:35] LeePorte opened #720 "Single character in domain invitation issue"
### What version of UAA are you running?

v50 as per cf-release v275

### How are you deploying the UAA?

I am deploying the UAA using cf-release

### What did you do?

I attempted to add a user with the email format of `firstname.lastname@organisation.x.service.gov.uk`  using our create_user script located at https://github.com/alphagov/paas-cf/blob/master/scripts/create-user.sh

When using the s

[2017-10-18 08:51] theomega opened #721 "Issuing a change password with an invalid payload throws a NullPointerException (+500) instead of a 400"
### What version of UAA are you running?
Version: 4.6.1, Commit: 04c8408, Timestamp: 2017-10-02T00:01:33+0000

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`
[code]

### How are you deploying the UAA?
I am deploying the UAA using the official JAR from maven inside a tomcat container

### What did you do?
Changing the password on the /Users/:Uid/password endpoint wh

[2017-10-18 13:09] pharout commented on #717
We got past this (it was an issue with configuring the SAML and signing keys incorrectly) by looking at the Readme for 3.9.2 ( https://github.com/cloudfoundry/uaa/releases/tag/3.9.2 ). Documentation could be improved. Please close.

[2017-10-18 23:45] munic opened #722 "[question] SAML IdPs added via API get deactivated on UAA restart"
Hi, not sure if this is the right place, but I have a general question regarding custom IdPs that I'm adding through UAA's identity-provider API.
Each created IdP represents an IdP configuration (e.g. Okta) for a given tenant within an external system. I store each IdP with the active flag set to true. However on UAA restart, it appears that any IdP's active flag gets reverted back to false.

This

[2017-10-18 23:59] fhanik commented on #722
@munic @sreetummidi This is how it works today. I believe we created stories to change this behavior to mimic the https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/spec#L337-L343 configuration.

[2017-10-19 07:05] martinsubash opened #723 "User information from LDAP seems to be added to UAA/SCIM data model only once (when first logged in) and will not be updated afterwords."
**In CloudFoundry UAA-LDAP integration environment. I have faced the below issue.**

**User information from external security providers(LDAP) seems to be added to UAA/SCIM data model only once (when first logged in) and will not  be updated afterwords.**

Concrete Examples:
1.User data will be retrived during first login from LDAP. If, for instance, the surname is not set, it apperars as "unkown"

[2017-10-19 07:16] martinsubash opened #724 "No Status Information for LDAP Connection."
In CloudFoundry UAA-LDAP integration environment.
How i will show the  status information for the current LDAP-Connection configured in the UAA by LDAP identity provider.

**UAA Version : 3.10.0
Run by Apache server using uaa.yml configuration - Search and Bind authentication**

[2017-10-19 09:37] strehle opened #725 "Missing index on table groups for postgres"
### What version of UAA are you running?
4.7 from master branch

### How are you deploying the UAA?
I am deploying the UAA
- using cf-deployment
- into SAP Cloud Platform

### What did you do?

SQL monitor to check performance there

### What did you see ?
SQL with bad performance in postgres
select count(*) from groups where ((LOWER(displayName) = LOWER(?) and LOWER(identity_zone_id) = LOWER(?)))

[2017-10-19 09:40] strehle commented on #725
similar to #647

[2017-10-19 09:49] strehle opened #726 "many SQL requests to identity_provider table"
### What version of UAA are you running?
4.7 from master branch

### How are you deploying the UAA?
I am deploying the UAA
- using cf-deployment
- into SAP Cloud Platform

### What did you do?

SQL monitor to check performance there

### What did you see ?
Many SQLs like
select id,version,created,lastmodified,name,origin_key,type,config,identity_zone_id,active from identity_provider where identity

[2017-10-19 10:21] hpham commented on #694
@pharout  can you post your required_configuration.yml file for running on local machine?

[2017-10-19 13:33] pharout commented on #694
the minimal fix was simply to re-enable the defaults in the uaa.yml file (this is from 4.6.1 release)
[uaa.yml.txt](https://github.com/cloudfoundry/uaa/files/1398532/uaa.yml.txt)

[2017-10-19 18:13] munic commented on #722
@fhanik Thank you for your response, that makes sense. Btw, is there a UAA slack channel that I could perhaps get an invite to?

[2017-10-19 18:33] fhanik commented on #722
@munic yes, there is cloudfoundry.slack.com, channel #uaa - you can request access here https://slack.cloudfoundry.org/

[2017-10-20 13:32] pharout commented on #694
Apologies for the spam but I also (I am using windows) had to change the LOGIN_CONFIG_URL jvm arg to include a third slash before the path:

jvmArgs = "-javaagent:${jacocoLocation}=output=file,dumponexit=true,append=false,destfile=${integrationTestCoverageExecutionData} -DLOGIN_CONFIG_URL="+new File("./uaa/src/main/resources/required_configuration.yml").toURI().toURL()

[2017-10-21 18:42] jamelseagraves commented on #719
Ended up resolving my own issue. Sorry to bother. :)

[2017-10-21 18:42] #719 closed

[2017-10-26 14:06] bleach commented on #587
I just thought I'd check in on this one, because we're still finding that this trips people up regularly, particularly scenario 2; people clicking on an invite link, not finishing the signup and then coming back later and being told the invite has expired.

Is there any way around this currently? Would you accept a PR to amend the behaviour as described previously by @dcarley?

[2017-10-26 20:16] strehle commented on #725
hi, @fhanik , should I create a PR for this ? because this hurt us very much on postgres

[2017-10-26 23:07] tnwang commented on #679
Hi @ilipkind, I believe the reason http*:// was used was to allow operators to only enter whitelist URLs once and support both HTTP and HTTPS. This was for operators with very large whitelists, and http* conveniently cut their whitelist size in half compared to having to put in both http and https.

Keeping "http*" then gives us the above behavior as well as backwards compatibility, with the downs

[2017-10-30 15:40] Lawouach commented on #620
Hello @sreetummidi, could you precise what you meant here because, as far as I know, the redirect URI still refers to "https://uaa.cloudfoundry.com/redirect/cf" which is not good I guess for run.pivotal.

[2017-11-01 21:43] mogul commented on #540
Seeing this is still tagged `scheduled`: Any idea when we might see it?

[2017-11-07 18:16] fhanik commented on #716
My suggestion is that we introduce a new endpoint `/oauth/token/introspect` that implements RFC 7662 as a new feature.

`/check_token` predates RFC 7662 so it naturally does not conform to it.

[2017-11-08 06:26] strehle opened #730 "Internal hostnames not case-insensitive matched"
### What version of UAA are you running?
4.7.1 or develope

### How are you deploying the UAA?
cf push into own space

### What did you do?

created an own domain and defined in own YAML.
      zones:
        internal:
          hostnames:
            - uaa.domain.com

### What did you expect to see? What goal are you trying to achieve with the UAA?

curl -k https://uaa.domain.com/info  -> OK
curl

[2017-11-11 17:01] geekyzk opened #731 "Only using uaa api to login"
### What version of UAA are you running?

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`

{
  "app": {
    "version": "4.2.0"
  },
  "links": {
    "uaa": "https://uaa.local.pcfdev.io",
    "passwd": "/forgot_password",
    "login": "https://login.local.pcfdev.io",
    "register": "/create_account"
  },
  "zone_name": "uaa",
  "entityID": "login.local.pcfdev.io",

[2017-11-11 18:50] geekyzk commented on #731
I set a error client_id , sorry

[2017-11-11 18:50] #731 closed

[2017-11-17 19:35] tnwang commented on #723
Hi Martin,

This is expected behavior as UAA performs just-in-time provisioning for user accounts from the identity provider.

The user will not be able to authenticate or login to any applications as when they attempt to, it will update with LDAP status and lock the user out.

If you have an enterprise Identity Management system or scheduled scripts for LDAP, you can have it clean accounts out of

[2017-11-17 19:35] #723 closed

[2017-11-17 20:04] tnwang commented on #724
LDAP calls are issued on user authentication to LDAP. You can find the information about individual LDAP calls in the UAA logs.

Feel free to reopen this if you have a specific error or issue you'd like more info about.

[2017-11-17 20:04] #724 closed

[2017-11-17 23:42] tnwang commented on #579
1B would be the target behavior, however this would introduce a breaking change

[2017-11-17 23:45] tnwang commented on #730
Hi @strehle we see there's an extra O at the end of COM in https://UAA.DOMAIN.COMO/info

When we try upper casing, we see the response come back correctly. Could that be the cause?

[2017-11-18 03:18] #717 closed

[2017-11-18 03:31] tnwang commented on #715
Yes ilipkind is right - starting in 4.5.0 you can set default groups via the update identity zone API or the UAA manifest: https://github.com/cloudfoundry/uaa/releases/tag/4.5.0

ilipkind has the links to the API, and the manifest value is here:
uaa.yml: https://github.com/cloudfoundry/uaa/blob/master/uaa/src/main/resources/uaa.yml#L196-L210
uaa release spec: https://github.com/cloudfoundry/uaa-re

[2017-11-18 03:31] #715 closed

[2017-11-18 08:05] strehle commented on #730
HI @tnwang no I can see this issue with curl commands from a linux console, e.g.

curl -k https://UAA.DOMAIN.COM/info . I can see this also with a local running UAA with curl because of

https://github.com/cloudfoundry/uaa/blob/master/server/src/main/java/org/cloudfoundry/identity/uaa/zone/IdentityZoneResolvingFilter.java#L74
instead of case ignore match

[2017-11-20 14:12] 46bit opened #734 "UAA login pages are insufficiently customisable"
### What version of UAA are you running?

This is present in `v4.7.2`.

### How are you deploying the UAA?

Using `cf-release`.

### What did you do?

Tried to alter UAA's authorisation webpages.

### What did you expect to see?

We expected a built-in way to modify these pages, for instance by overridding the HTML templates in `server/src/main/resources/templates/web`.

### What goal are you tryi

[2017-11-21 05:03] martinsubash commented on #723
As per your comment, UAA will sync user account only during the first request and there after any changes to the account in LDAP can be synchronized using a separate scripts independently. Is this the proposed workaround? is there a plan in future to have an auto synchronization in UAA itself.?

[2017-11-21 20:07] tnwang commented on #723
Hi Martin,

I was unclear before. UAA will sync user accounts during the first request, and also during any subsequent login.

During the subsequent logins, all user attributes are updated again, and if the user was disabled, login will be rejected. So we have automatic synchronization via just-in-time provisioning.

If you wish to perform additional synchronization, the user APIs are available ba

[2017-11-29 16:46] theomega opened #737 "Find out if a token is a refresh or an access token"
### What version of UAA are you running?
4.6.1
What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`
```{"app":{"version":"4.6.1"},"links":{"uaa":"http://localhost:8080/uaa","passwd":"/forgot_password","login":"http://localhost:8080/uaa","register":"/create_account"},"zone_name":"uaa","entityID":"cloudfoundry-saml-login","commit_id":"04c8408","idpDefinitions":{},"prompts"

[2017-11-29 22:58] jhamon commented on #737
I don't think there is any way to do this today apart from the `-r` suffix. The tokens are clearly labeled when they are issued to clients from the `/oauth/token` endpoint. Refresh tokens are usually kept secret by the client and used to get fresh access tokens on a periodic basis.

What is the usecase you're working on where you're not sure what kind of token you have?

[2017-11-30 10:06] theomega commented on #737
We have services which talk with the UAA, these services are provided by the user with a string which the user pretends to be a token. For the service to validate that the token is really a token it is calling the /check_token endpoint. And then I run into the issue described above: If the user of the service mixes up some stuff and sends us a refresh-token instead of an access token, we can only

[2017-12-04 18:33] #705 closed

[2017-12-05 10:03] philippthun opened #740 "Possible NPE"
If `revocableHashSignature` is `null` (https://github.com/cloudfoundry/uaa/blob/391163ebad397b8f3eb5298aa01412dd94c9a176/server/src/main/java/org/cloudfoundry/identity/uaa/util/TokenValidation.java#L366) it would have caused a NullPointerException above (https://github.com/cloudfoundry/uaa/blob/391163ebad397b8f3eb5298aa01412dd94c9a176/server/src/main/java/org/cloudfoundry/identity/uaa/util/TokenVa

[2017-12-07 17:00] theomega opened #741 "/Users/[UserId] results in Duplicate Key Errors on Postgres"
### What version of UAA are you running?
4.6.1
```{"app":{"version":"4.6.1"},"links":{"uaa":"http://localhost:8080/uaa","passwd":"/forgot_password","login":"http://localhost:8080/uaa","register":"/create_account"},"zone_name":"uaa","entityID":"cloudfoundry-saml-login","commit_id":"04c8408","idpDefinitions":{},"prompts":{"username":["text","Email"],"password":["password","Password"]},"timestamp":"2

[2017-12-07 17:02] theomega commented on #737
For now we took the approach of detecting the `-r` at the end, we would be happy to have a better solution though.

[2017-12-07 17:15] camelpunch opened #742 "Cannot disable anonymous account creation without also disabling password reset"
https://github.com/cloudfoundry/uaa/issues/588 allowed users to disable self-service account creation, but it also disabled self-service password resets.

Would it be possible to make this option more fine-grained, so that we can have self-service password reset without self-service account creation?

[2017-12-08 13:40] theomega commented on #741
This is actually fixed with UAA #704. We upgraded and are happy now. Sorry to bother you.

[2017-12-08 13:40] #741 closed

[2017-12-08 13:55] theomega opened #743 "Refreshing tokens leads into a "duplicate key value violates" on postgres"
### What version of UAA are you running?
4.8.0

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`
```{"app":{"version":"4.8.0"},"links":{"uaa":"http://localhost:8080/uaa","passwd":"/forgot_password","login":"http://localhost:8080/uaa","register":"/create_account"},"zone_name":"uaa","entityID":"cloudfoundry-saml-login","commit_id":"391163e","idpDefinitions":{},"prompts

[2017-12-13 18:44] martjarvi opened #744 "UAA database upgrade fails"
### What version of UAA are you running?

4.7
### How are you deploying the UAA?

I am deploying the UAA to cloud foundry and building with Gradlew

### What did you do?

Deployed to cloud foundry from previous version 3.8 with SPRING_PROFILES_ACTIVE: ldap,default,postgresql

### What did you expect to see? What goal are you trying to achieve with the UAA?
Start the new version.

### What did you

[2017-12-13 19:54] benmoss opened #745 ""AuthenticationServiceException" exception when running parallel CATs"
We recently upgraded our UAA to uaa-release 53 and are seeing an exception being thrown from [here](https://github.com/cloudfoundry/uaa/blob/391163ebad397b8f3eb5298aa01412dd94c9a176/server/src/main/java/org/cloudfoundry/identity/uaa/util/LowConcurrencyPasswordEncoder.java#L165).

We are running a single UAA instance on GCP on a n1-standard-1 VM. We are running the CATs with `-nodes=20`, and they a

[2017-12-13 20:17] benmoss commented on #745
We were able to repro the issue outside the CATs with just `printf %s\\n {0..100} | xargs -n 1 -I{} -P 100 cf create-user user-{} pass-{}`, which will create 100 users in parallel.

[2017-12-14 00:07] n4wei opened #746 "Misleading error message when the UAA server is overloaded by too many concurrent logins"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2017-12-14 01:47] shashwathi commented on #745
@benmoss : We were able to reproduce this issue on our environment and it appears that tests fails with login errors if number of Ginkgo nodes are set to a high number(like 20)

Regards
Shash

[2017-12-19 00:50] brittag opened #750 "Inconsistent terminology for passcode: "One Time Code" and "Temporary Authentication Code""
In the UAA code that my CF deployment uses, I noticed that the command line says ["**One Time Code**"](https://github.com/cloudfoundry/uaa/search?utf8=%E2%9C%93&q=%22one+time+code%22&type=) while the website says ["**Temporary Authentication Code**"](https://github.com/cloudfoundry/uaa/search?utf8=%E2%9C%93&q=%22temporary+authentication+code%22&type=). This means we're calling the same thing two d

[2017-12-19 01:13] brittag commented on #734
Thanks for filing this! Yes, our 18F/cloud.gov team has this need too, and I agree that this is likely to be common across many organizations, especially in governments and other regulated environments.

As an example, among our other needs for customizing our login pages, we have a specific critical requirement: [AC-8 in the NIST standard for security controls](https://nvd.nist.gov/800-53/Rev4/co

[2017-12-19 01:20] pburkholder opened #751 "Highlight link for one-time passcodes"
### What version of UAA are you running?

4.7.2

### What did you do?

[code]

The `API endpoint: URL` is in bold and bright color, but the link our users actually need, https://login.cloud.world/passcode, is just regular text.

So our users copy/paste the API URL and wonder why they can't log in.

### What did you expect to see? What goal are you trying to achieve with the UAA?

The passcode URL

[2017-12-20 06:23] systemview2018 commented on #694
Just try to solve it:

Please modify the  WEB-INF/spring/saml-idp.xml

    <bean id="idpMetadataManager"
          class="org.cloudfoundry.identity.uaa.provider.saml.idp.NonSnarlIdpMetadataManager"
          depends-on="spMetaDataProviders" destroy-method="destroy">
        <constructor-arg name="configurator" ref="spMetaDataProviders" />
        <property name="refreshCheckInterval" value="${logi

[2017-12-21 06:42] dkoper commented on #552
@mogul Configuring the UAA Login server to return only a "passcode" prompt and no "username" and "password" prompts does not prevent `cf auth` and `cf login -u -p` to authenticate your service accounts with a username and password. (If they're for automated, scripted deployment we recommend `cf auth`).

[2017-12-21 10:02] theomega commented on #743
Any idea on this? Thanks!

[2017-12-21 17:37] jhamon commented on #751
@pburkholder Please open this feature request on the [cf cli](https://github.com/cloudfoundry/cli) repo.

[2017-12-21 17:37] #751 closed

[2017-12-26 17:45] tnwang commented on #745
Fixed in 53.1.

[2017-12-26 17:45] #745 closed

[2017-12-26 20:04] fhanik commented on #746
makes sense, the http status return code should be `unavailable` (503)

the message should look like

     {
        "error": "unavailable",
        "error_description": "System resources busy. Try again."
     }

[2017-12-28 04:03] ponyfleisch opened #754 "Feature request: Push builds to official docker registry"
Now that there is a build task to build a docker image (#673) would it be possible to have official builds pushed into the docker registry?

[2018-01-03 11:25] theomega opened #755 "Release the 4.8.1 war to maven"
The 4.8.1 war file is currently not released to maven. This was for previous released done by CF, can this be done again? Maybe this can be even automated...

[2018-01-03 17:59] mmielko opened #756 "How can i change context root path?"
By default context root path is /uaa. I would like to change it to /. How can i achive this?

[2018-01-03 20:59] strehle commented on #756
hi,
typically this /uaa context comes from the fact that you copy uaa.war into Tomcat webapps folder. Tomcat extracts this into folder /uaa and therefore you access the app via this context path.
If you copy uaa.war to ROOT.war then Tomcat starts this app under / (root) context.

if you use gradle the context is set in
https://github.com/cloudfoundry/uaa/blob/master/build.gradle#L295
So you can us

[2018-01-03 21:00] strehle commented on #755
@fhanik can you please deploy this and also 4.7.3 to maven central.e.g.
http://central.maven.org/maven2/org/cloudfoundry/identity/cloudfoundry-identity-server/
thanks in advance,
-markus

[2018-01-04 12:54] takeyourhatoff commented on #299
@yogeshsajanikar What was the deployment issue? I have the same error message.

[2018-01-04 15:09] fhanik commented on #299
We've seen this error when the database schema is shared between different applications and multiple applications enter data into the `schema_version` table

[code]

[2018-01-04 21:52] mmielko commented on #756
Thanks Strehle. Everything is clear now.

[2018-01-04 21:52] #756 closed

[2018-01-05 04:34] yogeshsajanikar commented on #299
This was related to certificates handling in Open JDK. Switched to Oracle Java, and the problem was resolved.

[2018-01-08 11:09] saumilsdk commented on #694
As mentioned, adding this line in saml-idp.xml solves the issue
 <property name="keyManager" ref="idpZoneAwareSamlKeyManager"/>

[2018-01-09 08:22] saumilsdk commented on #620
Please specify the document link with the specific location of this problem. I am also having same issue and can't find where exactly it is mentioned in UAAC documentation?

[2018-01-11 14:30] theomega commented on #755
Or at least the 4.8.3 now?

[2018-01-18 16:22] Chaitanya0315 opened #760 "UAA Shibboleth integration"
We are having a setup where Shibboleth acts as an IDP and UAA as SP. The authentication happens fine but the attribute sync up has been a problem.

The configuration we have on UAA :
    shib-auth:
        idpMetadata: https://************/shibboleth
        nameID: urn:oasis:names:tc:SAML:1.1:nameid-unspecified
        assertionConsumerIndex: 0
        metadataTrustCheck: true
        showSamlLog

[2018-01-18 17:26] sreetummidi commented on #760
Can you please verify that you SAML Response contains these attributes

[2018-01-18 17:30] sreetummidi commented on #760
I don't see anything visibly wrong with the set up. Can you get the user from the /Users endpoint and paste the response?

[2018-01-18 18:36] Chaitanya0315 commented on #760
We have one wrapper on top of UAA. Posting response from that service whihc gets the list of users from UAA

{
    "result": [
        {
            "id": "90137cdf-85f5-4626-8940-fdbf839fd855",
            "schemas": [
                "urn:scim:schemas:core:1.0"
            ],
            "userName": "uaaadmin",
            "name": {
                "familyName": "User",
                "givenNam

[2018-01-18 18:40] Chaitanya0315 commented on #760
This debug log indicates that the yml settings are not being picked up.

[2018-01-18 00:12:37.757] cloudfoundry-identity-server - ???? [http-nio-8888-exec-9] .... DEBUG --- ScimUserBootstrap: Registering new user account: [UaaUser {id=NaN, username=ALPHA, email=ALPHA@unknown.org, givenName=ALPHA, familyName=unknown.org}]

Pl let me know if there are any alternative solutions for this.

[2018-01-18 18:45] Chaitanya0315 commented on #760
My other surprise was the field
**emailDomain:
- example.com**

Ideally this should be picked up irrespective of what SAML returns(unless the attribute is tied up only to LDAP settings), but ....

[2018-01-18 21:13] Chaitanya0315 commented on #760
/users response

{
    "app": {
        "version": "3.13.0"
    },
    "showLoginLinks": true,
    "links": {
        "uaa": "http://localhost:8080/uaa",
        "passwd": "/forgot_password",
        "login": "http://localhost:8080/uaa",
        "register": "/create_account"
    },
    "zone_name": "uaa",
    "entityID": "cloudfoundry-saml-login",
    "commit_id": "5ceabd7",
    "idpDefinitions":

[2018-01-20 23:45] ofuangka opened #761 "UAA requires client_secret for authorization code client"
I'm trying to implement SPA authentication _without_ implicit grant using the below method:

https://www.oauth.com/oauth2-servers/oauth2-clients/single-page-apps/
and
https://aaronparecki.com/oauth-2-simplified/#single-page-apps

However, UAA seems to require authentication using the client_secret.  I suspect this is because of what Aaron Parecki's site says, i.e.

If this is accurate and UAA does

[2018-01-22 16:00] fhanik commented on #761
`authorization_code` and `implicit` grant types are identical in their functionality with the one difference that implicit grant does not require a client_secret.

If you want this flow to work without a client_secret you'd use a client with implicit grant.

Can you possibly elaborate why you'd want an authorization_code grant without a client secret? Maybe the other servers don't implement implic

[2018-01-22 17:53] fhanik opened #762 "Concurrency issue in time based expiration map"
[code]

https://cloudfoundry.slack.com/files/U0J71L7QD/F8W4FB4RX/500_stack_trace.txt

[2018-01-23 03:46] ofuangka commented on #761
Here is the complete relevant quote from Aaron Parecki's site:

I could be wrong, but it looks like implicit_grant does not require the token exchange step, which means that the application does not get the chance to verify the consistency between the stored state and returned state.  This makes it easier for malicious users to execute CSRF attacks (see here for a good explanation: https://stackov

[2018-01-23 18:22] jhamon commented on #761
As a workaround, it seems like you should be able to create an authcode client and simply leak the secret to the browser. Maybe I am overlooking something, but it seems like having a known secret would be equivalent in security to having a secretless authcode grant client.

From a support and user education perspective, maintaining a distinction between implicit and authcode guides our users towar

[2018-01-23 18:30] fhanik commented on #761
@ofuangka your links shows an exploit of an authorization_code grant without a client_secret (or a known client secret), where the code can be exchanged at a later point because the system trapped the URL.

It is inherently important to understand the implicit grant, and that it is insecure because the application/client cannot protect its credentials.

An implicit grant at least sends back the da

[2018-01-25 20:26] sreetummidi commented on #720
The error here is that there is not provider mapped to the domain : organisation.x.service.gov.uk
provider.non-existent is present in the error message
Please map the email domain on the identity provider:

For LDAP : https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/spec#L779
For any other provider like SAML or OIDC please add the emailDomain property under the provider configurat

[2018-01-25 20:26] #720 closed

[2018-01-25 20:39] sreetummidi commented on #574
Default Zone cors is managed via manifest only.  No plans to address this issue.
Other zones can be managed via API and state is persisted

[2018-01-25 20:39] #574 closed

[2018-01-25 20:40] sreetummidi commented on #455
No plans to implement this at this time.

[2018-01-25 20:40] #455 closed

[2018-01-25 20:41] sreetummidi commented on #364
Closing this as this is already being tracked as part of UAA roadmap.

[2018-01-25 20:41] #364 closed

[2018-01-25 20:42] sreetummidi commented on #363
Do not have plans to make tis configurable. PR is welcome.

[2018-01-25 20:42] #363 closed

[2018-01-25 21:04] #552 closed

[2018-01-25 21:05] sreetummidi commented on #559
No plans to fix. Please use workaround

[2018-01-25 21:05] #559 closed

[2018-01-25 21:07] sreetummidi commented on #561
Not at this time

[2018-01-25 21:07] #561 closed

[2018-01-25 21:11] sreetummidi commented on #604
This has been addressed

[2018-01-25 21:11] #604 closed

[2018-01-25 21:18] #616 closed

[2018-01-25 21:19] sreetummidi commented on #617
Will be addressed with 4.9.0 shipping next week

[2018-01-25 21:19] #617 closed

[2018-01-25 21:23] sreetummidi commented on #643
No plans to address

[2018-01-25 21:23] #643 closed

[2018-01-25 21:27] sreetummidi commented on #646
No plans to add this feature. PR welcome

[2018-01-25 21:27] #646 closed

[2018-01-25 21:31] sreetummidi commented on #660
Closing. No plans to address this immediately.

[2018-01-25 21:31] #660 closed

[2018-01-25 21:32] #666 closed

[2018-01-25 21:47] sreetummidi commented on #523
Docs here : https://docs.pivotal.io/p-identity/1-5/okta/config-okta.html
OSS docs will be updated soon

[2018-01-25 21:47] #523 closed

[2018-01-25 21:58] tnwang commented on #320
This had been fixed as part of https://www.pivotaltracker.com/story/show/115829293 in October. Closing.

[2018-01-25 21:58] #320 closed

[2018-01-25 21:59] sreetummidi commented on #404
PR is welcome. Won't be able to get this soon

[2018-01-25 21:59] #404 closed

[2018-01-25 22:03] sreetummidi commented on #587
Will be addressed with https://www.pivotaltracker.com/story/show/152524314

[2018-01-25 22:03] #587 closed

[2018-01-25 22:09] #761 closed

[2018-01-25 22:16] sreetummidi commented on #760
We do a strict match on the emaildomain. If all users in your IDP don't have a consistent email domain, please don't set that value. Remove that and try again.

Please re-open the issue if its still not addressed

[2018-01-25 22:16] #760 closed

[2018-01-25 22:33] sreetummidi commented on #755
4.7.x latest is available now

[2018-01-25 22:33] #755 closed

[2018-01-25 22:48] sreetummidi commented on #681
Our proxy settings can be found here:
https://github.com/cloudfoundry/uaa-release/blob/27506e7b30b88e6e1b42dfee34da562a652864f1/jobs/uaa/templates/bin/configure_proxy.erb

[2018-01-25 22:48] #681 closed

[2018-01-25 22:52] sreetummidi commented on #682
If you are running locally as ./gradlew run, the required properties will automatically be applies from the YML

When running in production make sure that you specify valid cert and key values in the UAA.yml for SAML Cert, Key and JWT Key

[2018-01-25 22:52] #682 closed

[2018-01-25 23:11] #332 closed

[2018-01-25 23:11] #698 closed

[2018-01-25 23:17] sreetummidi commented on #702
Unable to reproduce
error response:
{
  "error_description": "Exactly one email must be provided.",
  "error": "invalid_scim_resource",
  "message": "Exactly one email must be provided."
}

[2018-01-25 23:17] #702 closed

[2018-01-25 23:26] sreetummidi commented on #703
We won't be able to address this. We are bubbling up all SAML errors for troubleshooting purposes and documentation and this case cannot be handled in a special manner.

[2018-01-25 23:26] #703 closed

[2018-01-25 23:37] sreetummidi commented on #722
being fixed in 4.9.0

[2018-01-25 23:37] #722 closed

[2018-01-25 23:43] #679 closed

[2018-01-25 23:54] sreetummidi commented on #734
We don't have plans to support this level of customization with the UI.

[2018-01-25 23:54] #734 closed

[2018-01-25 23:56] #694 closed

[2018-01-26 00:01] #737 closed

[2018-01-26 00:02] sreetummidi commented on #725
Could you please submit a PR

[2018-01-26 00:13] mogul commented on #734
@sreetummidi can you suggest other options? Previously the login app was separate from the UI, but I don't think it's possible to make our own anymore... Is it?

[2018-01-26 00:16] sreetummidi commented on #476
We don't have plans to support this level of customization in the UI

[2018-01-26 00:16] #476 closed

[2018-01-26 02:03] #704 closed

[2018-01-26 08:13] strehle commented on #725
@sreetummidi  see https://github.com/cloudfoundry/uaa/pull/736 however not yet delivered, but we can close it ;)

[2018-01-26 08:13] #725 closed

[2018-01-29 04:41] ofuangka commented on #761
@fhanik Just wanted to clarify--I was hoping to use the authorization_code grant, not the implicit grant for a single page application.

I don't think that's true.  authorization_code requires 2 calls--one to retrieve the code, the other to exchange it for a token.  implicit requires one and only one call to retrieve the token, which makes it vulnerable to the attack linked above.  authorization_c

[2018-01-30 01:50] sreetummidi commented on #730
@strehle PRs welcome :)
We won't be able to get to it anytime soon

[2018-01-30 01:50] #730 closed

[2018-01-30 02:01] #395 closed

[2018-01-30 02:03] sreetummidi commented on #625
We don't have plans to support this in the near term

[2018-01-30 02:03] #625 closed

[2018-01-30 02:05] sreetummidi commented on #416
We won't be able to get to this anytime soon. PRs welcome

[2018-01-30 02:05] #416 closed

[2018-01-30 02:16] #762 closed

[2018-01-30 02:23] sreetummidi commented on #467
https://docs.cloudfoundry.org/api/uaa/version/4.8.0/index.html#mixed-actions
The actions are secret , delete and add

[2018-01-30 02:23] #467 closed

[2018-01-30 02:28] sreetummidi commented on #684
Closing as this is being tracked as a security issue

[2018-01-30 02:28] #684 closed

[2018-01-30 02:34] sreetummidi commented on #744
If you are still seeing this error can you try upgrading to 3.14 first and then to the latest.

[2018-01-30 02:34] #744 closed

[2018-01-30 02:36] sreetummidi commented on #743
@jhamon or @fhanik can you comment on this

[2018-01-30 02:39] sreetummidi commented on #716
New endpoint being added in UAA 4.9.0
http://docs.cloudfoundry.org/api/uaa/version/release-candidate/#introspect-token

[2018-01-30 02:39] #716 closed

[2018-01-30 02:42] sreetummidi commented on #706
Could you please submit a PR for this feature

[2018-01-30 02:42] #706 closed

[2018-01-30 02:43] sreetummidi commented on #740
@fhanik or @jhamon can you please comment

[2018-01-30 02:47] sreetummidi commented on #645
Also "only the combination of clients.secret and uaa.admin allows for change of a password."

[2018-01-30 02:47] sreetummidi commented on #313
Similar info captured in https://github.com/cloudfoundry/uaa/issues/645

[2018-01-30 02:47] #313 closed

[2018-01-30 08:02] strehle commented on #730
@sreetummidi ok, I will do that, but please reopen it, I will assign this ticket to a PR and then it goes the standard way of a usual correction

[2018-02-04 20:33] berndgoetz opened #764 "Local startup fails due to missing default servlet for serving static content"
I try to start the service locally with .\gradlew.bat run, but the startup times out and the uaa.logs contains the exception shown below. Any insights?

I'm using Gradle 4.4.1, and

java version "1.8.0_112"
Java(TM) SE Runtime Environment (build 1.8.0_112-b15)
Java HotSpot(TM) 64-Bit Server VM (build 25.112-b15, mixed mode)

`[2018-02-04 21:13:32.618] cloudfoundry-identity-server - 27936 [localhos

[2018-02-04 20:39] berndgoetz commented on #764
We can close it. I found another issue, #717 - no chance to find that one with Google as the exception text was not explicitely noted in the issue. Anyway, I 'm closing this issue. Sorry for the inconvenience.

[2018-02-04 20:39] #764 closed

[2018-02-04 22:28] berndgoetz commented on #694
I tried to do that, but it didn't work for me. Anybody else with the same problem?

[2018-02-04 22:40] berndgoetz commented on #717
That readme from 3.9.2 isn't very helpful. setting that env variable doesn't help. I checked the source code, and could not find any production code reference to that required_configuration.yml file. But in my uaa.log startup logs, I find this entry:

`YamlProcessor: Could not load map from URL [file://C:/Users/srzgob/workspaces/cf-uaa/uaa/./uaa/src/main/resources/required_configuration.yml]: C`

[2018-02-05 16:09] theomega opened #765 "Removing a group membership removes ALL memberships, destroying group hierarchies"
### What version of UAA are you running?
4.8.3

### How are you deploying the UAA?
Official Maven JAR from Maven Central

### What did you do?
#### High Level
If you have the following setup:
 - User is member of g1
 - User is member of g2
 - g1 is member of g2

And you remove the User from g2, then also(!) g1 is removed(!) from g2. Additionally, a strange error message is thrown.

#### Low Level

[2018-02-05 17:00] theomega commented on #765
I suspect this might be a bug in the uaac and not in the uaa. If I delete the membership through the API endpoints directly, I'm not able to reproduce this. This is quite servere.

[2018-02-06 07:49] pjk25 opened #766 "Apparent incompatibility with the os-conf bosh release's add_certs job"
### What version of UAA are you running?

Verson 52.4 of the uaa bosh release

### How are you deploying the UAA?

I am deploying the UAA using a bosh release I downloaded from bosh.io

### What did you do?

I'm attempting to configure Concourse auth with UAA, but concourse will not accept my cert presented by the UAA from the /token endpoint (because my ca is self-signed). I tried to use the add_

[2018-02-06 17:22] DennisDenuto commented on #766
Thanks for raising this issue. I think this should be fixed by https://github.com/cloudfoundry/uaa-release/pull/72

Closing since it is a duplicate of https://github.com/cloudfoundry/uaa-release/issues/71

[2018-02-06 17:22] #766 closed

[2018-02-08 03:10] betht1220 commented on #541
sreetummidi - Sorry for being late about half of a year haha.  I actually found out that I did not set up SSL correctly (after debugging the app).  It was fixed and worked well.  Again, so sorry for the late reply and thank you so much for your note.

[2018-02-08 16:30] strehle commented on #730
hi @sreetummidi  , you mentioned PR is welcome, see #769

[2018-02-09 13:56] smoser-ibm opened #771 "GDPR extension for UAA ??"
Hi UAA-Team,

I have a question for y'all: I am not sure that you are aware about GDPR (https://en.wikipedia.org/wiki/General_Data_Protection_Regulation).

GDPR is a law in Europe that will become effective mid-year 2018, and it includes a section about the "right to be forgotten" for Personal Information (PII).
Now one could consider an email address stored in UAA as "PII", and therefore CF might

[2018-02-09 13:59] smoser-ibm commented on #771
FWIW, this is not a EU-only issue, meaning that even a public service like PWS in the US that is storing data from European people will fall under that rule.

[2018-02-09 20:00] sreetummidi commented on #771
Hello @smoser-ibm ,
Currently delete a user removes the entire user record along with any group memberships they may have. Can you elaborate on your user deletion flow.

Thanks,
Sree

[2018-02-09 20:46] jhamon commented on #771
Just did a bit of investigation on this. It seems that user deletion only [deactivates the user](https://github.com/cloudfoundry/uaa/blob/ec713f0b4ea0da2f2f67252c8c811e073bf91cf8/server/src/main/java/org/cloudfoundry/identity/uaa/scim/jdbc/JdbcScimUserProvisioning.java#L345) when you have [configured a standalone UAA instance](https://github.com/cloudfoundry/uaa/blob/ddea1e4e490348f5737a85e8b80427

[2018-02-09 21:17] smoser-ibm commented on #771
@jhamon is it possible that this might get set in case we use a loginServer somehow ? I have to dig deeper on this next week, but I am positive that in our case the user is not deleted but marked inactive (so maybe we have scim.delete.deactivate configured somehow, as this would explain this)

[2018-02-09 22:45] sreetummidi commented on #771
@smoser-ibm We are planning to get rid of Login Server in the next major version of UAA. We want to maintain only standards based integration via SAML/LDAP/OIDC

I suggest we have a discussion on this topic and have all stakeholders from IBM involved.  I will send an email with more details

[2018-02-10 10:21] smoser-ibm commented on #771
@sreetummidi fair enough, please include Martin Smolny in that discussion.

[2018-02-12 17:00] sreetummidi commented on #509
You seem to be using a custom UAA service broker that we don't manage. The steps provided were for updating the bosh deployed UAA.  Can you provide more details on the service broker. Is this Pivotal SSO Service?

[2018-02-13 10:44] kingd0m opened #773 "cloudfoundry-identity-client-lib should not depend on org.slf4j:slf4j-log4j12"
Hello,

in my current project I get a warning by slf4j that multiple bindings are found.

By analyzing the reason I found that the cloudfoundry-identity-client-lib is using slf4j-log4j12 & slf4j-api. As of the SLF4J documentation libraries or frameworks should not declare a dependency on any SLF4J binding but only depend on slf4j-api (https://www.slf4j.org/codes.html#multiple_bindings)

If you agr

[2018-02-13 16:38] strehle opened #774 "Account Cookies"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-02-13 19:16] jhamon commented on #774
As I commented on #775, the `Current-User` cookie is needed for our implementation of OIDC session management. It is intentionally `httpOnly=false` because it must be readable by [javascripts](https://github.com/cloudfoundry/uaa/blob/a4132cbb27f5b444de2a9b85f4f157694bebd6fc/uaa/src/main/webapp/resources/javascripts/session/session.js#L53) running in the UAA's OP iframe; javascripts cannot access c

[2018-02-13 19:16] #774 closed

[2018-02-13 22:18] jhamon commented on #771
I'm going to close this issue as it seems the `scim.delete.deactivate` behavior is configurable and defaulting to the proper behavior. The future fate of the login server is unrelated to concerns about GDPR.

@smoser-ibm If you find you are not configuring `scim.delete.deactivate=true` in either `uaa.yml` or `login.yml` and you're still seeing the deactivation behavior, please open an issue with m

[2018-02-13 22:18] #771 closed

[2018-02-14 02:11] tnwang commented on #718
That commit hash doesn't seem to come up in our repo. You might be runnning an older version of UAA out of a fork. You will most likely need to update your standalone UAA.

[2018-02-14 02:11] #718 closed

[2018-02-14 05:46] smoser-ibm commented on #771
@sreetumidi @jhamon indeed I agree the "issue" is more on how our login flow works, so this ticket can be closed. Sorry for bothering. However, the concerns around login server remain and we need to talk about that - I will set up a phone call on that

[2018-02-15 02:19] tnwang commented on #774
@strehle I think we conflated two different issues in this issue and PR, which I think we can break apart and still be able to achieve the European Data Law related item you were originally after:

1. The `Saved-Account-Cookie` is directly tied to Account Chooser, so the PR can still include this fix, and we only have `Saved-Account-Cookie` when account chooser is enabled. Longer term, we are thin

[2018-02-20 07:23] prasadpete commented on #661
Is the documentation published yet please ?

[2018-02-23 11:31] making opened #777 "Support id_token in refresh_token"
### What version of UAA are you running?

[code]

### How are you deploying the UAA?

using cf-deployment 1.15.0 on bosh-lite

### What did you do?

I'm trying to integrate UAA and Kubernetes with CFCR 0.14.0 using https://github.com/cloudfoundry-incubator/kubo-release/pull/101 .

It worked to access k8s with `id_token` returned by UAA.
After the token expired, `kubctl` used `refresh_token` to ref

[2018-02-23 13:37] strehle opened #778 "Missing decode on client basic authentication"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-02-23 14:33] making opened #779 "Support groups claim in JWT"
Currently, there seems to be no way to expose group ID as a claim in JWT
https://docs.cloudfoundry.org/api/uaa/version/4.8.0/index.html#check-token

I'm trying to integrate UAA and Kubernetes (CFCR). Kubernetes supports `--oidc-groups-claim` that can be used in RBAC.
https://kubernetes.io/docs/admin/authentication/#openid-connect-tokens

It would be quite useful in RBAC of k8s to grant a `Role`/`C

[2018-02-23 18:33] tnwang commented on #779
If you are using an external identity provider with UAA, we support the `roles` claim in our ID tokens. Does that fit your use case? If the roles scope is present, the ID token will contain group memberships from the external identity provider under the `roles` claim, provided they are part of the external group whitelist.

[2018-02-24 09:51] isis-github commented on #76
I am also interested for the spring-boot version of UAA . Your help is very much appreciated!!!

[2018-02-26 06:16] stevenguan commented on #509
I don't think it is Pivotal SSO Service. I'm developing in SAP cloud platform(cloud foundry). I use UAA + "SAP ID Service" as my Authentication and Authorization server.

[2018-02-26 18:57] JohannesRudolph opened #780 "Support passcode retrieval using a UAA or origin token"
### What version of UAA are you running?
4.7.1

### How are you deploying the UAA?
I am deploying the UAA

- using cf-deployment

# Feature Request

Meshcloud helps users manage and administrate their projects across different CF and OpenStack deployments in different locations. To help users easily obtain cli access to Cloud Foundry, we'd like to exchange either a valid UAA token or a valid OIDC

[2018-02-26 22:26] aeijdenberg commented on #778
Yes, I've also [noted this in past](https://github.com/cloudfoundry/cli/pull/1176#pullrequestreview-48214051) with regards to the `cf` CLI client not correctly following the RFC in this regard, however in that PR they chose to disregard the patch we provided and instead continue the non-compliant behaviour.

[2018-02-27 03:23] making commented on #779
Thank you for your advice.
It may work as a workarround.
But group claim for internal users would be useful.

[2018-02-27 17:32] strehle commented on #778
ok, I recommend, that you reopen it. the fix should begin with uaa, but then the clients in 2nd steps, e.g. cli and uaac (see https://github.com/cloudfoundry/cf-uaac/issues/50)
@sreetummidi  UAA wants to get certified for OIDC and this behaviour should be done before a certification

[2018-03-02 05:57] GARENFEATHER opened #782 "failed to build and run locally"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-03-02 06:50] GARENFEATHER opened #783 "failed to deploy uaa app to cloud foundry"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-03-02 17:21] jhamon commented on #783
Can you share application logs from this crash?

[2018-03-02 19:13] DennisDenuto commented on #782
@GARENFEATHER We tried using the `required_configuration.yml` provided and are unable to reproduce this problem. Can you please provide the uaa.log file.
It gets written to a temp location. To find it, please try using:
`lsof | grep uaa.log | awk '{print $9}'`

[2018-03-02 19:26] GARENFEATHER commented on #782
@DennisDenuto https://github.com/GARENFEATHER/forBugReporting/blob/master/uaa.log

_Sent from my PRO 6 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2018-03-02 21:45] DennisDenuto commented on #782
Thanks for uploading the uaa log file. It looks like uaa started up successfully. This is confusing, because according to your `gradlew` output, it looks like it didn't start up properly.

Can you verify that you don't have anything else listening on the port uaa listens on. i.e. does `lsof -i -n | grep http-alt` return anything?

Can you confirm that you can run `uaa` when checking out from maste

[2018-03-03 04:43] jmcarp opened #785 "UAA should accept url-escaped client credentials via basic auth"
### What version of UAA are you running?

4.10.0

### How are you deploying the UAA?

I am deploying the UAA using BOSH

### What did you do?

Tried to obtain an access token via client credentials grant where client secret contains url-unsafe characters, using https://godoc.org/golang.org/x/oauth2.

### What did you expect to see? What goal are you trying to achieve with the UAA?

To obtain an ac

[2018-03-03 05:08] aeijdenberg commented on #785
See also https://github.com/cloudfoundry/uaa/issues/778 and https://github.com/cloudfoundry/cli/pull/1176#pullrequestreview-48214051

[2018-03-04 09:11] GARENFEATHER commented on #783
@jhamon where are the log files?

[2018-03-05 22:21] tnwang commented on #780
We are considering a feature for a default identity provider that will at least let you skip having to click Login with Meshcloud. If you are using a unique client, you can configure your IdP to be the only allowed IdP and it would redirect you automatically (but internal users will no longer be able to login to your client).

As for the CF CLI direct use case, I think that is an interesting idea.

[2018-03-06 04:34] vietanh85 opened #787 "Cannot find the src/main/resource/ldap folder"
I'm following this document (https://github.com/cloudfoundry/uaa/blob/master/docs/UAA-LDAP.md) to setup my LDAP as the database for uaa, but I got 404 error with click to this link: https://github.com/cloudfoundry/uaa/tree/master/uaa/src/main/resources/ldap
I also cannot find the src/main/resource/ldap folder in the source code.
It's look like the documentation is outdated.

**SECURITY NOTICE: If

[2018-03-06 06:41] #787 closed

[2018-03-09 17:21] DennisDenuto commented on #782
Friendly Ping @GARENFEATHER

[2018-03-09 21:25] letkemanpete78 commented on #783
@GARENFEATHER you can get to the logs by using the following command from the Cloud Foundry command line interface `cf logs NameOfApp --recent`. This will give you up to the last 150 lines of the log for that NameOfApp

Alternatively you can run `cf logs NameOfApp` while before and during the application request to get a live stream of the logs to get more log lines from your log

[2018-03-15 16:28] raphaelschmitz commented on #783
Hi @letkemanpete78

I have the same issue and here is the log:

`   2018-03-15T17:22:30.12+0100 [APP/PROC/WEB/0] OUT 	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
   2018-03-15T17:22:30.12+0100 [APP/PROC/WEB/0] OUT 	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
   2018-03-15T17:22:30.12+0100 [APP/PROC/WEB/0] OUT 	at org.apa

[2018-03-15 16:41] raphaelschmitz commented on #783
Hi @letkemanpete78

I have the same problem, but the logs looks normal.

   2018-03-15T17:29:59.52+0100 [APP/PROC/WEB/0] OUT 	at java.lang.Thread.run(Thread.java:748)
   2018-03-15T17:29:59.53+0100 [RTR/2] OUT uaa.cfapps.sap.hana.ondemand.com - [2018-03-15T16:29:29.532+0000] "GET /favicon.ico HTTP/1.1" 503 0 7 "https://uaa.cfapps.ondemand.com/login" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_0)

[2018-03-15 16:52] letkemanpete78 commented on #783
I still was unable to get this to work, so I moved on to the other lessons
which do not need these project setup.
However I would still very much like to know what the solution to this
problem is.

On Thu, Mar 15, 2018 at 12:41 PM, raphaelschmitz <notifications@github.com>
wrote:

[2018-03-15 17:07] raphaelschmitz commented on #783
HI @jhamon,

any updates or findings from your side?

best regards
Raphael

[2018-03-15 20:29] #782 closed

[2018-03-15 23:25] letkemanpete78 commented on #783
Sorry, I should clarify. I happened upon this and spoke up to let GARENFEATHER know how to get the logs.

I am experiencing an issue, but with a different UAA package which I'm going through on a training site.

[2018-03-16 02:51] DennisDenuto commented on #783
From the logs you attached it looks like your spring web context failed to initialize correctly. `java.lang.IllegalStateException: No WebApplicationContext found: no ContextLoaderListener or DispatcherServlet registered?`

Can you follow the instructions from https://github.com/cloudfoundry/uaa#deploy-to-cloud-foundry?
A couple of points to keep in mind when following the above instructions:
- Bef

[2018-03-16 22:56] DennisDenuto commented on #773
Hi @kingd0m, Thanks for creating this issue and investigating. Where did you see the warning about multiple slf4j bindings found?

[2018-03-19 10:25] kingd0m commented on #773
Hi @DennisDenuto, I see it them when I start local the Tomcat Server. Prerequisite is, that I have defined an own binding in my application. And this than collides with the one which is additionally is defined by the  cloudfoundry-identity-client-lib.

Best Regards,
Michael

[2018-03-19 14:12] theomega opened #789 "JAR for 4.11 not pushed to Maven Central"
The current version 4.11 is not available on Maven Central:
https://repo1.maven.org/maven2/org/cloudfoundry/identity/cloudfoundry-identity-uaa/

Can you please push the recent version there so we have an authoritative build?

And maybe, this can be done automatically?

@fhanik you did that previously, maybe you can help..

[2018-03-20 01:20] tnwang commented on #754
Closing this as the original PR was intended to only be for developer use, not a full feature docker image of UAA.

[2018-03-20 01:20] #754 closed

[2018-03-22 23:43] DennisDenuto commented on #773
Hi @kingd0m

I see, thanks for the explanation. Would something like this fix the warning you are seeing in your application: https://github.com/cloudfoundry/uaa/commit/d678c44a9d7e81a40db4d7fc6344fe6e0843f26c

[2018-03-23 00:02] vtintillier commented on #773
Hi @DennisDenuto

if it is no longer in the generated pom file, then yes. But ideally you should just never depend on a concrete slf4j implementation, only the -api one. It seems this is the culprit: https://github.com/cloudfoundry/uaa/blob/36e3fdfb520a9aef77ba8ad95542508ce2af6f3f/model/build.gradle#L18

I think this line should be removed.

Thanks

[2018-03-23 02:39] DennisDenuto commented on #773
AFAIK In our application modules we do depend against `slf4j-api` (org.slf4j.Logger) when logging.

Our application depends on the binding`slf4j-log4j12` because that is the underlying logging framework we have decided to use. From the `slf4j` docs: " if no binding is found on the class path, then slf4j-api will default to a no-operation implementation discarding all log requests."

We do depend o

[2018-03-23 16:08] strehle opened #792 "Is MFA officially released ?"
I read in http://docs.cloudfoundry.org/api/uaa/version/4.11.0/#mfa-providers

 MFA support is in active development and is not ready for production use.

Until now I dont see in release notes an official statement that it is ready for productive use

[2018-03-23 18:17] tnwang commented on #792
MFA is still pending database encryption of MFA credentials generated by Google Authenticator (https://www.pivotaltracker.com/story/show/155484018), which is coming up soon.

[2018-03-23 22:52] DennisDenuto commented on #773
@vtintillier good catch, looks like we are also depending on `slf4j-log4j12` in `cloudfoundry-identity-model`.
We can also [remove](9c385357250972916b8e686a7ecac61853575e93) the `slf4j binding` from the model library too.
I would be surprised if people are depending on the `model` library. If people are depending on  `client-lib` this [change](https://github.com/cloudfoundry/uaa/commit/e83e06107ed

[2018-03-25 11:23] blackhawksj opened #793 "uaa war deployed in tomcat not accepting clients"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-03-25 14:16] blackhawksj commented on #793
actually it was my mistake to rename the war as ROOT. renamed it to uaa.war and then it is working now.

[2018-03-25 14:16] #793 closed

[2018-03-26 06:50] vtintillier commented on #773
Hello @DennisDenuto

I tested your change locally. I added `apply plugin: 'maven-publish'` in the root `build.gradle` and ran `gradlew build publishToMavenLocal`. Then I looked in `$HOME/.m2/repository` and:
* `cloudfoundry-identity-model` pom file still depends on `slf4j-log4j12`, which is expected
* `cloudfoundry-identity-client-lib` pom file does not contain an exclusion of `slf4j-log4j12`, whi

[2018-03-26 21:28] 6palace opened #794 "Saved-Account cookies causing 400"
### What version of UAA are you running?

{"app":{"version":"4.10.0"},"links":{"uaa":"http://localhost:8080/uaa","passwd":"/forgot_password","login":"http://localhost:8080/uaa","register":"/create_account"},"zone_name":"uaa","entityID":"cloudfoundry-saml-login","commit_id":"90e0dcd","idpDefinitions":{},"prompts":{"username":["text","Email"],"password":["password","Password"]},"timestamp":"2018-03-

[2018-03-27 16:38] 6palace commented on #794
Cool to hear that GDPR is affecting UAA. #775 does help mitigate the problem by reducing cookie expiration to 1 day. It's questionable how useful a saved account is if it's only saved for 1 day though. Ty for response.

[2018-03-28 23:50] tnwang commented on #720
A subsequent separate issue has helped identiy that by default the UAA internal user store will handle `*.*`, `*.*.*`, and `*.*.*.*` for the email domain matchers for invitations.

You should be able to configure `emailDomain` to further extend beyond that for `*.*.*.*.*` if required (http://docs.cloudfoundry.org/api/uaa/version/4.11.0/#update).

[2018-03-29 02:25] DennisDenuto commented on #773
Hi @vtintillier thanks for trying this out.

I just tried the above myself, but I got different results. for `model` and `client-lib` I don't see `slf4j-log4j12` listed as a dependency and is excluded from being transitively depended on too.
* i.e. for `cloudfoundry-identity-model` pom.xml
[code]
* i.e. for `cloudfoundry-identity-client-lib` pom.xml
[code]

This also matches what `./gradlew cloudf

[2018-03-29 02:34] DennisDenuto commented on #789
Closing as Filip has uploaded to https://repo1.maven.org/maven2/org/cloudfoundry/identity/cloudfoundry-identity-uaa/4.11.0/

We have a story to automate publishing to maven central as part of our 'ship it' pipeline epic. https://www.pivotaltracker.com/story/show/155158903

[2018-03-29 02:34] #789 closed

[2018-03-29 02:58] DennisDenuto commented on #765
Hi @theomega  thanks for creating this issue.

Hmm this gets even a little more strange, because I tried the above with `uaa 4.11.0` & `UAAC 4.1.0` and I was unable to reproduce. Can you confirm this is still an issue with newer version of uaa?

[code]

[2018-03-29 18:35] nsharmacovs opened #796 "UAA issue while ssh into the container"
Hi,

I configured ssh-proxy with diego as per documentation https://docs.cloudfoundry.org/running/config-ssh.html

 i have created client ID ssh-proxy with
    uaa:
      clients:
        ssh-proxy:
          authorized-grant-types: authorization_code
          autoapprove: true
          override: true
          redirect-uri: /login
          scope: openid,cloud_controller.read,cloud_controller.w

[2018-03-29 18:40] jspawar commented on #796
@nsharmacovs Can you please update the issue with more details about what your setup is and the steps you're following to see the problem? A lot of the text above is from the issue template that's supposed to guide you toward providing the information we need.

[2018-03-29 19:24] nsharmacovs commented on #796
[code]

[2018-03-29 22:53] DennisDenuto commented on #743
@tnwang  PostgreSQL since version 9.5 has `UPSERT` syntax that we *could* use to handle this. Alternatively we could explicitly have uaa query the  `revocable_tokens` table to determine whether a revocable token already exists to determine whether to `create` vs `update` (this approach would need to row locking to prevent race conditions)

[2018-03-29 22:57] cppforlife commented on #743
common pattern that we use on bosh that works on all common dbs is to have
unique index on some column and catch exception for the update case.

On Thu, Mar 29, 2018 at 3:53 PM, Dennis Leon <notifications@github.com>
wrote:

[2018-03-29 23:29] DennisDenuto commented on #743
@cppforlife Thanks for that. Also If this is a common pattern then it is likely other jobs will also generate similar errors in Postgres.

@theomega, @jhamon and I think filtering out these `ERROR: duplicate key value violates` errors in your monitoring system is the preferred approach.

Also this also makes sense from a maintenance perspective, as this approach works across different db providers

[2018-03-29 23:29] #743 closed

[2018-03-30 03:39] DennisDenuto commented on #796
Hi @nsharmacovs
I *think*  `cf ssh` is using an `oauth token (from the cf cli)` and is trying to get an `authorization code` for the `ssh-proxy` client. This is where it looks like you are getting a `http 403` perhaps because the `oauth token` used is missing the `uaa.user` scope.

Can you please share your `cf` client details?
It should look something like this:
[code]

Also I am curious whether

[2018-03-30 04:33] nsharmacovs commented on #796
Below is what i have
[code]

[2018-03-30 05:09] DennisDenuto commented on #796
Thanks for the reply @nsharmacovs

Can you please try adding `uaa.user` scope to your `cf` client.
i.e.
[code]

to this instead:

[code]

[2018-03-30 09:51] viovanov opened #797 "uaa.url shouldn't be case sensitive"
### What version of UAA are you running?

[code]

### How are you deploying the UAA?

Using the BOSH release via [fissile](https://github.com/suse/fissile)

### What did you do?

Used uppercase letters in `uaa.url` (the bosh property).

### What did you expect to see? What goal are you trying to achieve with the UAA?

UAA to function normally.

### What did you see instead?

404 responses when bro

[2018-04-02 17:44] DennisDenuto commented on #796
Ping @nsharmacovs

[2018-04-03 00:32] harpratap commented on #538
@MitchK Can you list out the steps that you performed to solve this? I don't understand what manifest is doing here. Does it generate a sample uaa.yml for us?

[2018-04-03 08:38] htulsiani opened #798 "UAA not working with external Oauth2 IDP"
### What version of UAA are you running?
UAA 4.10.0

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`
{"app":{"version":"4.10.0"},"showLoginLinks":true,"links":{"uaa":"http://localhost:8080/uaa","passwd":"/forgot_password","login":"http://loc                                         alhost:8080/uaa","register":"/create_account"},"zone_name":"uaa","entityID":"uaa-8080-

[2018-04-03 19:14] DennisDenuto commented on #798
Thanks for creating this issue, It is a known issue that `uaa` does not support integration with github.

We would be happy to receive a PR that adds github integration. However at this time it is not currently on our roadmap.

[2018-04-03 19:14] #798 closed

[2018-04-04 01:31] harpratap opened #799 "How to deploy to production?"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-04-04 02:17] tnwang commented on #798
Thanks for the detailed analysis and example of properly set-up IdP configurations.

I think a lot of this is historical inertia for OAuth being a pure authorization protocol, not an authentication protocol. OpenID Connect ID tokens have been the replacement to represent authentication on top of OAuth 2.0.

It does appear that UAA could support OAuth 2.0 if the token was JWT spec. UAA appears to b

[2018-04-04 08:36] htulsiani commented on #798
Thanks @tnwang and @DennisDenuto  for your comments.

[2018-04-04 13:34] strehle commented on #797
hi, I think it is related to issue #730 and will be fixed with release of pull request #769

[2018-04-04 13:52] viovanov commented on #797
@strehle good to know, thanks

[2018-04-04 18:15] jhamon commented on #799
For testing and running locally, we mostly use the `cargoRunLocal` task. You can also exclude unwanted intermediate tasks with the `-x` flag. For example:

[code]

After about two minutes you should be able to visit the UAA at `http://localhost:8080/uaa/`. This local uaa is configured by editing values in the `uaa.yml` file. There should be a default administrative client called `admin` with clien

[2018-04-04 18:15] #799 closed

[2018-04-05 08:39] tack-sap commented on #750
Fixed via b7bc35b

Should now be "Temporary Authentication Code"

[2018-04-05 08:39] #750 closed

[2018-04-05 08:40] tack-sap commented on #726
Introduced Index via f51616e

[2018-04-05 08:40] #726 closed

[2018-04-05 13:27] ebertmi commented on #615
Any update on this?

[2018-04-05 16:17] brittag commented on #750
Thank you!

[2018-04-06 01:13] tnwang commented on #794
Saved Account cookie will still be valid for a year, but will have less attributes and will not be created if account chooser is disabled (discovery can still be enabled even if account chooser is not).

Current Account cookie has only the GUID, and we plan to only keep that around for 1 day, since it's tied to session management with UAA singular, and should not be long lived.

[2018-04-09 02:14] nsharmacovs commented on #796
uaa.user help me to over come this issue. You can close the case .

[2018-04-09 02:20] #796 closed, assigned to nobody

[2018-04-10 17:39] 6palace commented on #725
Hi @strehle and @tack-sap , out of curiosity, when does `select count(*) from groups where ((LOWER(displayName) = LOWER(?) and LOWER(identity_zone_id) = LOWER(?)))` run on startup, and why is the lowercase index necessary? Also, have you guys run into problems with some group displaynames being only differentiated by upper/lowercase?

[2018-04-10 18:55] strehle commented on #725
the lower index is something that is postgres specific. we found several of such issues with dynatrace monitoring and if we add the lower index (often in addition to existing index) then it speeds up.

[2018-04-11 03:49] #783 closed

[2018-04-11 12:23] danielman111 opened #801 "LDAP Binding don`t work"
Sending POST request to my uaa component with the following body:
[code]
and getting the following answer

[code]
where Id and created is null, any ideas why?
It looks like the binding is not created, but I am still getting a valid response.

[2018-04-11 19:08] 6palace commented on #679
@jhamon Hi Jen, did you guys ever come to a conclusion on port wildcards? We just realized that https://www.pivotaltracker.com/n/projects/997278/stories/154735792 only addressed custom protocols and did not allow port wildcards.

[2018-04-11 19:34] DennisDenuto commented on #801
Thanks for creating this issue. Can you please let us know which version of the `uaa` you are using?
yes, according to our api docs the response should have an `id` and `created` populated.

If you can also provide the result of running:
[code]
And also if you can provide the `uaa.log` too thanks!

[2018-04-11 22:37] tnwang commented on #679
Hi @6palace, could you let us know what use case the ports apply to? Is this something around how mobile applications utilize ports for redirect URIs?

We take PRs :)

[2018-04-12 06:41] danielman111 commented on #801
RESPONSE HEADERS:
[code]

using Version: 4.7.2.

where can I find the uaa.log file? i am using uaa as a docker container

[2018-04-12 14:44] htulsiani opened #802 "UAA does not transfer/relay the user scopes from a token acquired from external OIDC IDP"
### What version of UAA are you running?
4.10.0

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`
{"app":{"version":"4.10.0"},"showLoginLinks":true,"links":{"uaa":"http://localhost:8080/uaa","passwd":"/forgot_password","login":"http://localhost:8080/uaa","register":"/create_account"},"zone_name":"uaa","entityID":"uaa-8080-saml","commit_id":"a4132cb","idpDefinitions":

[2018-04-12 16:26] DennisDenuto commented on #801
Thanks for providing the `identity-zones` result. From what I can see the `uaa` saved your ldap identity-provider with an `id` and a `created` timestamp.
i.e. `"id": "1a3f1902-4a32-4c6e-8322-480b428b308c"` &&  `"created": 946684800000`
[code]

Can you confirm whether you can authenticate with your ldap provider?

Also to find the logs, while the uaa is running in a docker container you can `docker

[2018-04-13 02:44] DennisDenuto commented on #785
Thanks for creating this issue, reading `rfc6749` I think you are correct. However the `uaa` heavily relies on spring filters to provide `Basic Auth` functionality. Specifically as part of our filter chain we delegate to [BasicAuthenticationFilter](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/authentication/www/BasicAuthenticatio

[2018-04-13 02:48] DennisDenuto commented on #778
Thanks for creating this issue, reading rfc6749 I think you are correct. However the uaa [heavily relies](https://github.com/cloudfoundry/uaa/blob/master/server/src/main/java/org/cloudfoundry/identity/uaa/authentication/ClientBasicAuthenticationFilter.java#L74) on spring filters to provide Basic Auth functionality. Specifically as part of our filter chain we delegate to BasicAuthenticationFilter.

[2018-04-13 02:49] DennisDenuto commented on #785
Closing as it is a duplicate of https://github.com/cloudfoundry/uaa/issues/778

[2018-04-13 02:49] #785 closed

[2018-04-13 03:08] aeijdenberg commented on #778
@DennisDenuto - I'm confused by your comment.

RFC6749 does not supersede or replace RFC1945 - they both describe different layers of a stack.

e.g. RFC1945 describes how to encode a user ID and password and put into an authorization header.

RFC6749 describes pre-processing that should only apply in the context of OAuth 2.0 that should take place *before* applying RFC1945.

So it would be quite i

[2018-04-13 09:19] MatthiasWinzeler opened #803 "Possibility to disable UAA redirect uri enforcement?"
### What version of UAA are you running?
We're running UAA with the latest 3.x branch.

### How are you deploying the UAA?
We're deploying UAA as an app to CF.

### What did you do?

We're running a UAA as a Service offering (in our CF marketplace) that allows developers to obtain UAA clients for single-sign-on in their apps (the UAA is connected to our company's SAML IDP).

With UAA version 3 tha

[2018-04-13 10:03] strehle opened #804 "No validation of email for user API"
### What version of UAA are you running?

4.11.0 (or from dev)

### How are you deploying the UAA?

I am deploying the UAA
- locally only using gradlew
- using a bosh release I downloaded from bosh.io
- using cf-deployment
- as part of a commercial Cloud Foundry distribution

### What did you do?

-  create a new user, e.g. uaac user add testuser --emails i_like_snail_mail
- select a new pwd of yo

[2018-04-15 13:10] danielman111 commented on #801
Hi, the information about the LDAP identity providers that we see in the response is already exists before I sent my binding request, and its not changing at all.

The uaa says nothing relevant, most of the logs there are dated 4-5 days ago

[2018-04-15 22:11] DennisDenuto commented on #801
Hi @danielman111 Ah I see thanks for clarifying. Can you please try to `POST` the ldap idp again, and then upload the `uaa.log` so we can have a look?

Also assuming you are using curl, can you please provide the verbose flag (-v) to the command. And if you can also provide the output of the curl command and the entire `curl` command you used.

[2018-04-16 04:31] c4milo opened #805 "Issuer URL is reported wrong in /.well-known/openid-configuration"
### What version of UAA are you running?
4.11.0

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

### What did you do?

curl http://localhost:8080/uaa/.well-known/openid-configuration | jq .

### What did you expect to see? What goal are you trying to achieve with the UAA?
I expect to see **issuer** with value **http://localhost:8080/uaa** since that's what

[2018-04-16 12:04] bernardpletikosa commented on #765
Hi @DennisDenuto
I tried this again with UAA 4.11.0 & UAAC 4.1.0 and I could NOT reproduce this error.
I think we can close this one.

[2018-04-16 15:12] #765 closed

[2018-04-16 17:26] jhamon commented on #805
Right now it seems like the way [this has been implemented](https://github.com/cloudfoundry/uaa/blob/0252d75654f3286a0d1c34349b004a6cfd3957c4/server/src/main/java/org/cloudfoundry/identity/uaa/util/UaaTokenUtils.java#L214) is to always append `/oauth/token` to the issuer. This is consistent with the value we put into the `iss` claim of the JWT tokens [authored by the UAA](https://github.com/cloudf

[2018-04-16 17:36] jhamon commented on #804
We reproduced this.

[2018-04-16 17:41] tnwang commented on #803
Hi Matthias,

Open redirects are specifically warned against by the Oauth 2.0 spec (https://tools.ietf.org/html/rfc6749#section-10.15). We recommend doing the exercise clean-up, for the same reasons specified in the spec.

Some thoughts on how to perform the exercise:
1. If clients are already tied to these applications, you can have the people who own those clients add client specific redirect UR

[2018-04-16 20:34] c4milo commented on #805
@jhamon, the `issuer` I have configured is `http://localhost:8080/uaa`, the behavior is surprising given that we are driving the value from the IdP configuration and there is a parameter to declare the token URL already. It is also inconsistent with what very well known OpenIDConnect providers use, see for instance:

*  https://accounts.google.com/.well-known/openid-configuration
* https://auth0.c

[2018-04-16 23:35] c4milo commented on #805
It is also important to bear in mind that the issuer URL is often used by client libraries as base URL to reach out for `.well-known/openid-configuration`

[2018-04-17 07:59] MatthiasWinzeler commented on #803
@tnwang Thanks for your answer & the suggestions, we will work in this direction.

[2018-04-17 07:59] #803 closed

[2018-04-18 19:44] c4milo commented on #694
I don't know why it doesn't happen when using Gradle. With Tomcat, I fixed by adding extra saml configuration to my own `login.yml` file:

[code]

[2018-04-25 08:29] danielman111 commented on #801
Hi, I think the binding now is working, but when I try to get user token I get the following error:

[code]

The post request is the following:

[code]

Am I doing it good?
If not, How should I do it?

[2018-04-25 10:11] keymon commented on #734
@sreetummidi I think this feature request is important, and even if there are no plans for your team to implement it, we can discuss alternate approaches:

 - Would you welcome a PR?
 - Can we document a way to customise this login page?

[2018-04-25 10:13] keymon commented on #734
Other use case: We have several CF installations using a shared UAA installation as IDP. We do not want the user to go to a  login page of the local CF that is not really being use, to then have to click on a small link in the bottom to go to the IDP (also UAA) login page which looks the same.

It is a confusing user experience, and we want to offer an automated redirect to the IDP instead.

[2018-04-25 10:23] henrytk opened #808 "Unable to change a user's `origin` via the API"
### What version of UAA are you running?

4.11.0

### How are you deploying the UAA?

I am deploying the UAA using cf-deployment

### What did you do?

Migrate our users from UAA to a UAA IDP.

[code]

### What did you expect to see? What goal are you trying to achieve with the UAA?

I expected it to change the `origin` to 'idp-uaa'.

### What did you see instead?

[code]

The user does exist, as

[2018-04-25 10:32] ge-enrique-cano commented on #734
This is also an issue for us. We have ended up maintaining our own fork of UAA because of the login pages customisations.

[2018-04-25 23:05] aashah opened #809 "Authorization code token response (/oauth/token) is not compliant with OpenID connect 1.0 RFC by not including "id_token""
### What version of UAA are you running?

`"version": "4.13.0-SNAPSHOT"`

### How are you deploying the UAA?

I am deploying the UAA using cf-deployment

### What did you do?

Given a client with "openid" scope, and "authorization_code" grant type.
We followed the authoritization_code grant flow and inspected the response from `/oauth/token`

### What did you expect to see? What goal are you tryin

[2018-04-25 23:08] aashah opened #810 "Token request should not include "response_type" per Oauth2 RFC"
### What version of UAA are you running?

`"version": "4.13.0-SNAPSHOT"`

### How are you deploying the UAA?

I am deploying the UAA using cf-deployment

### What did you do?

Read the docs here: http://docs.cloudfoundry.org/api/uaa/version/4.12.0/#token

### What did you expect to see? What goal are you trying to achieve with the UAA?

We expect to **not** see `response_type` as a request paramet

[2018-04-28 01:57] markmabe commented on #455
@sreetummidi Hi is there a reason there are no plans to implement PKCE in UAA?

[2018-05-01 09:06] danielman111 opened #811 "Token Request With Ldap Authentication failed, invalid scope"
Hi, I am using the uaa to request a token, with grant-type "password".
I can see that the user is authenticated currently vs the LDAP (Search and Bind), but than I am getting the following error:

[code]

My binding request:
[code]

the uaa.log

[code]

What I can do in order my user will be in the correct scope?

[2018-05-01 19:01] bsekar opened #812 "Saml Service provider definition does not accept a URL for metadataLocation"
### What version of UAA are you running?

4.10.0

### What did you do?

Create a new SAML service provider. POST `/saml/service-providers` with payload that contains a url in the metadataLocation ex: `http://spzone.localhost:8080/uaa/saml/metadata`

### What did you expect to see? What goal are you trying to achieve with the UAA?
The serviceprovider definition should obtain the metadata XML from t

[2018-05-03 12:40] #811 closed

[2018-05-03 12:40] #801 closed

[2018-05-04 05:40] strehle opened #813 "missing maven central artifacts"
Hi, now you 3 versions out without deployment to maven central. Please deploy the latest one to http://central.maven.org/maven2/org/cloudfoundry/identity/
thanks in advance

### What version of UAA are you running?

4.12.0/1 , 4.13.0

### How are you deploying the UAA?

I am deploying the UAA
- locally only using gradlew
- using a bosh release I downloaded from bosh.io
- using cf-release
- using c

[2018-05-04 05:40] strehle commented on #813
@fhanik  can you please deploy it

[2018-05-04 09:27] JiaHaoJerry opened #814 "Could not find UaaMetrics object on MBean server. Please deploy UAA in the same JVM"
### What version of UAA are you running?

UAA version: 4.12.1

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`

 FAILURE

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

### What did you do?

I use command "gradlew run" to deploy UAA on my local machine. below is the error

[code]

And I check uaa-server.log under uaa/build/

[2018-05-04 09:39] bernardpletikosa opened #815 "How to change the log level (reducing the amount of debug logs)?"
### What version of UAA are you running?

4.11.0

### How are you deploying the UAA?

Official Maven JAR from Maven Central

### What did you do?
UAA is producing a lot of logs.
We want to define different log levels for different environments, but unable to do it or find documentation about it.

We are packaging it in a Docker container and we tried things like below but without success.

[code]

[2018-05-04 10:27] jeffhiltz commented on #815
Hi, I work with @bernardpletikosa and should point out that we have also tried adding the following to our `uaa.yml` file:

[code]

We're still seeing a lot of DEBUG messages.

[code]

[2018-05-04 14:10] fhanik commented on #813
@strehle I've notified the team.

[2018-05-05 00:09] DennisDenuto commented on #813
@strehle We are [currently in the process](https://www.pivotaltracker.com/story/show/157060251) of creating a pipeline to automate the publishing of our artifacts to nexus.

[2018-05-05 06:56] strehle commented on #813
hi @DennisDenuto I heard about, yes and question, was 4.13.0 release with this pipeline or you @fhanik  ?
Because 4.13.0 contains now empty JARs/wars .
Can you please check and redeploy ? Thanks in advance,

[2018-05-05 07:02] DennisDenuto commented on #813
@strehle We are still working on it, but yes 4.13.0 was misconfigured. We will republish again on monday through the pipeline.

[2018-05-07 22:16] DennisDenuto commented on #813
@strehle We have created https://wings.pivotal.io/teams/cf-identity-uaa/pipelines/uaa-oms?groups=nexus

We are continuing working on automating our release process. The publishing on nexus currently still requires someone to manually trigger off the job. The goal is to fully automate this in the future.

4.12.0/1 , [4.13.3](https://wings.pivotal.io/teams/cf-identity-uaa/pipelines/uaa-oms/jobs/publ

[2018-05-08 02:37] DennisDenuto commented on #814
Hello @JiaHaoJerry Thanks for creating this issue, unfortunately I am unable to reproduce.
[code]

Can you please provide some information on your environment (OS/ java version)?

[2018-05-08 05:25] navi2581 opened #816 "Issue while running gradle run"
I am getting the below issue while executing gradle run

Could not GET 'https://plugins.gradle.org/m2/io/spring/gr
adle/propdeps-plugin/0.0.9.RELEASE/propdeps-plugin-0.0.9.RELEASE.pom'.

uilding failed: sun.security.provider.certpath.SunCertPathBuilderException: unabl
e to find valid certification path to requested target

[2018-05-08 05:44] JiaHaoJerry commented on #814
Hello @DennisDenuto Thanks for your reply.
I use Windows10 to run UAA and  my java version is 1.8.0_131.

I modify _uaa/webapp/WEB-INF/spring/saml-idp.xml_ to add <property name="keyManager" ref="idpZoneAwareSamlKeyManager"/> to bean "idpMetadataManager".
After do this the error _java.lang.IllegalArgumentException: KeyManager must be set_ did not appear . But the process still stop on 97%. The log

[2018-05-08 08:49] jeffhiltz commented on #815
Hi @DennisDenuto, thanks for the response.

Is there anything I can do in the mean time to change the log level for that class?  Separate logging config file?  Command line parameter?

[2018-05-08 11:01] strehle opened #817 "Feature-Request: active switch in identity zone"
### What did you expect to see? What goal are you trying to achieve with the UAA?

An Identity Zone in UAA represents an account of a customer in a CF org/space.
Customers often want trail some scenarios and then decide whether they want stop or proceed their test.
In between of these steps there are sometimes several weeks and therefore sometimes a customer account should be deactivated but not d

[2018-05-08 12:54] strehle commented on #813
thank you, I will adapt your assemblies soon

[2018-05-08 21:30] DennisDenuto commented on #816
Hi @navi2581 it looks like the [jdk truststore](https://docs.oracle.com/cd/E19830-01/819-4712/ablqw/index.html) you have installed on your local workstation is missing the CA certificate for 'https://plugins.gradle.org'.  Please refer [here](https://discuss.gradle.org/t/ssl-problem-when-downloading-plugin-from-openjdk-1-7/23430/4) for a discussion related to what you are experiencing. I think this

[2018-05-08 21:30] #816 closed

[2018-05-10 02:38] DennisDenuto commented on #814
@JiaHaoJerry thanks for providing that information. Can you show the `git diff` of what you changed in `uaa/webapp/WEB-INF/spring/saml-idp.xml to add to bean "idpMetadataManager"`

[2018-05-10 02:41] DennisDenuto commented on #813
@strehle Are you able to share how you are using the artifacts uploaded to maven central? I have heard security scans are being run?

[2018-05-10 03:17] DennisDenuto commented on #808
Thanks for creating this issue. I think you are correct in that the uaa cli does not allow changing a user's origin.

I think one approach you can take to change the users origin is to the `/Users` API to [list](http://docs.cloudfoundry.org/api/uaa/version/4.12.0/#list-3) all the users (keep in mind this api uses pagination)

i.e. to list users with origin = uaa, and then use jq to 'map' each user

[2018-05-10 22:05] crizo23 opened #818 "Followed quickstart, got illegalargumentException"
### What version of UAA are you running?
4.13 (current)

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`
nothing

### How are you deploying the UAA?
- locally only using gradlew

### What did you do?
./gradlew run from uaa root directory

### What did you expect to see? What goal are you trying to achieve with the UAA?

### What did you see instead?

Please include

[2018-05-11 02:15] DennisDenuto commented on #818
Thanks for creating this issue. Hmm I am unable to reproduce this error.
I have tried:
[code]

Can you please confirm that you do not have any local changes in your uaa repo. Can you confirm that `./uaa/src/main/resources/required_configuration.yml` contains [the following properties](https://github.com/cloudfoundry/uaa/blob/master/uaa/src/main/resources/required_configuration.yml#L4-L8)

[2018-05-11 14:58] strehle commented on #813
@DennisDenuto  we have different scenarios , e.g. one where we build uaa own with your model,server etc jars + HANA DB support (https://www.sap.com/products/hana.html) here we use tokenenhancer

yes we run code scans and vula scans, however sometimes reading CVE shows issue, e.g.
https://pivotal.io/security/cve-2018-1260

[2018-05-11 14:58] strehle commented on #813
since maven deployment works now I close this, thanks

[2018-05-11 14:58] #813 closed

[2018-05-11 17:46] crizo23 commented on #818
@DennisDenuto Thanks for the reply.
The only local change I made was specifiying jdk 1.8 in gradle.properties. I added this:
org.gradle.java.home=C:/Program Files/Java/jdk1.8.0_92

And yes, I confirmed that required_configuration.yml exists and has those properties.
I also tried deleting all local maven and gradle caches but that had no affect.

[2018-05-13 15:57] making commented on #777
@tnwang

Can you please prioritise this? I believe this is important for k8s integration.

https://kubernetes.io/docs/admin/authentication/#option-1-oidc-authenticator

[2018-05-14 09:19] JiaHaoJerry commented on #814
@DennisDenuto
uaa/webapp/WEB-INF/spring/saml-idp.xml
Before edit the code as below:
[code]

After edit:
[code]

[2018-05-14 15:29] tnwang commented on #777
Thanks for raising this issue. We are aware of this and will be working on it soon.

[2018-05-14 18:47] c4milo commented on #805
Another detail I noticed is that most of the URLs aren't taking the configured `issuer` URL as base URL:

![](https://cldup.com/dYe-b1kAm2.png)

[2018-05-14 20:18] crizo23 commented on #818
That patch works. Thanks @DennisDenuto !

[2018-05-14 20:53] #818 closed

[2018-05-14 20:55] DennisDenuto commented on #818
Added a chore to fix it properly https://www.pivotaltracker.com/story/show/157576068

[2018-05-17 14:08] ssteveli opened #824 "GET /Groups includes group membership, which suffers from scaling issues"
Our membership among groups is growing and unfortunately this has caused performance issues with the `/Groups` endpoint.   The root cause appears to be that the members of the group are being added as the `ScimGroup` is realized in the UAA, with group membership growing the operation gets slower and slower over time.

In our use case we only need the `id` and `displayName` when we call the endpoin

[2018-05-20 05:34] binoydev opened #827 "<filter> should be before <filter-mapping> in web.xml"
https://github.com/cloudfoundry/uaa/blob/4.11.0/uaa/src/main/webapp/WEB-INF/web.xml#L36
### What version of UAA are you running?
4.11.0

### How are you deploying the UAA?

I am deploying the UAA via eclipse(neon.2) & **jetty**(8.1.14.v20131031) server

### What did you see instead?

UAA is not starting on Jetty server. As per java spec  **filter** should be before **filter-mapping** in web.xml
ht

[2018-05-20 15:41] chenzhenyang opened #828 "Spring Boot Refactor"
Spring Boot Refactor

[2018-05-20 20:10] DennisDenuto commented on #828
@chenzhenyang Can you please provide more information. The `uaa` currently does not use spring boot. Is this a suggestion to use spring boot?

[2018-05-23 02:34] DennisDenuto commented on #828
Closing as not enough information provided.

[2018-05-23 02:34] #828 closed

[2018-05-23 07:55] JiaHaoJerry opened #830 "Can not redirect to IDP login page if login to SP"
### What version of UAA are you running?

UAA version: 4.12.1

### How are you deploying the UAA?

I deploy 2 UAA, One is be the IDP, another is the SP as Below step:

1.Get IDP's metadata and SP's metadata.
2.Call /saml/service-providers via IDP add SP's metadata.
3.Call /identity-providers via SP add IDP's metadata.
4. Initiate IDP Login Flow.: Use  browser Access /saml/idp/initiate?sp=xxx, It c

[2018-05-23 22:29] c4milo opened #833 "If a user is a member of a group of groups, please include the granular groups in the tokens"
### What version of UAA are you running?
4.14.x

### How are you deploying the UAA?
I am deploying the UAA
- Using our own internal tooling.

### What did you do?
1. I created group A,B,C,D.
2. I created group ROLE_A
3. I added A,B,C,D as members of ROLE_A
4. I added user TOM as a member of group ROLE_A

### What did you expect to see? What goal are you trying to achieve with the UAA?
I was expect

[2018-05-24 02:41] DennisDenuto commented on #814
Ping @JiaHaoJerry

[2018-05-24 05:29] JiaHaoJerry commented on #814
@DennisDenuto It works. Thanks a lot.

[2018-05-24 06:11] #814 closed

[2018-05-24 09:54] bandesz opened #834 "Secure flag for the X-Uaa-Csrf cookie"
### What version of UAA are you running?

UAA version: 4.12.1

### How are you deploying the UAA?

I am deploying the UAA using cf-deployment.

### What did you do?

[code]

This came up during our latest pentest as a low severity issue. If there is no specific reason to not to have the secure flag then it might be worth adding it as this could regularly come up in any pentest.
To my understanding

[2018-05-24 10:10] bandesz opened #835 "Secure flag for the Current-User cookie"
### What version of UAA are you running?

UAA version: 4.12.1

### How are you deploying the UAA?

I am deploying the UAA using cf-deployment.

### What did you do?

I logged in and checked the cookies.

I can see that the `Current-User` cookie is set without the secure flag.

It also doesn't have the httpOnly flag, but that was already explained in a previous issue: https://github.com/cloudfoundr

[2018-05-24 23:11] c4milo commented on #834
I was able to get this working in Tomcat by setting this Valve in server.xml and setting `require_https: true` in login.yml. I'm not using `cf-deployment` though.

[code]

[2018-05-24 23:14] c4milo opened #836 "Expose mail.debug config through uaa.yml"
This is very useful when dealing with SMTP issues.

[2018-05-25 03:53] DennisDenuto commented on #808
ping @henrytk

[2018-05-25 08:26] henrytk commented on #808
@DennisDenuto thanks for the detailed response which solves the problem. I made a false assumption about the API based on the CLI, so really I should have raised this issue on the CLI repository. If it still causes pain in the future I shall raise an issue there.

No.

Closing this issue.

[2018-05-25 08:26] #808 closed

[2018-05-25 21:23] c4milo opened #837 "Invite emails are not being sent"
### What version of UAA are you running?
4.x

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`
[code]

### How are you deploying the UAA?

I am deploying the UAA using Tomcat 9

### What did you do?
I'm using the API to send invites. The SMTP configuration points to a local SMTP server.

### What did you expect to see? What goal are you trying to achieve with the UAA

[2018-05-26 10:03] vtintillier commented on #815
You may want to exclude commons-logging from your classpath (e.g. via Maven exclusiona) and add the jcl-over-slf4j bridge instead: https://www.slf4j.org/legacy.html#jcl-over-slf4j

[2018-05-26 10:06] vtintillier commented on #773
Hello @DennisDenuto

sorry for the late response, looks good then. Any chance it can get merged?

Thanks

[2018-05-29 10:54] bandesz commented on #834
@c4milo thanks for the response, you're right, the secure flag is added when we enabled `uaa.require_https` in UAA release.

I'm closing this issue.

[2018-05-29 10:54] #834 closed

[2018-05-29 11:00] bandesz commented on #835
I reported a similar issue in https://github.com/cloudfoundry/uaa/issues/834 about the `X-Uaa-Csrf` not having the Secure flag. That issue can be solved by enabling `require_https`, but the `Current-User` cookie **still won't have the secure flag**.

[2018-05-29 15:50] chrisfkell opened #838 "Username replacement behavior"
UAA Version: 4.7.4
UAA Deployment: Commercial CF Distribution

Issue: We utilize CF-Management to sync AD users into UAA for user management. We have noticed some odd behavior where if a user on their initial login uses a capital letter in their username the initially synced username is updated to contain capital letters that they have specified.

## Example:
### Initial Sync:
externalid: abc
user

[2018-05-31 08:06] JoshuaAndrew opened #840 "Authorization Code Grant(Api flow)"
### What version of UAA are you running?
What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`
[code]

### How are you deploying the UAA?
I am deploying the UAA with docker

### Questions
http://docs.cloudfoundry.org/api/uaa/version/4.13.0/#api-flow

**I found this document, but what puzzles me is that How can I obtain this bearer token within header??**

[code]

**If any

[2018-05-31 08:12] JoshuaAndrew commented on #840
@fhanik
Can you give me some advice ?

[2018-05-31 15:02] fhanik commented on #840
Any user token containing uaa.user scope. In the documentation it uses the token from a `cf login`

https://github.com/cloudfoundry/uaa/blob/7e83f4cb6c1d550422d567541892e6a95befb037/uaa/src/test/java/org/cloudfoundry/identity/uaa/login/TokenEndpointDocs.java#L133-L150

[2018-05-31 15:02] #840 closed

[2018-06-01 07:34] JoshuaAndrew commented on #840
@fhanik
Thanks,  I appreciate it

[2018-06-01 17:17] tnwang commented on #837
Hi there,

UAA does not send emails for the invite_users endpoint. The endpoint provides the inviteLink you can send to the user, and allows you to send the email using any format that you wish, allowing for much more flexible branding as the invite user endpoint is typically meant to be used by applications looking to add their own customizations when sending invitations.

Our documentation seems

[2018-06-01 17:17] #837 closed

[2018-06-04 10:50] agentgonzo opened #842 "Docker/kubernetes deployment of UAA"
### How are you deploying the UAA?

I am _wanting to deploy_ the UAA

- other (please explain)
I want to be able to deploy UAA using docker (for me on kubernetes, but even a docker container would be fine). There are a few third-party images that people have build, but it would be ideal if we could have an official docker image

[2018-06-05 11:49] naresh33 commented on #526
@sreetummidi
 is there any other solution for allowing UAA Login to be embedded within an iframe?

[2018-06-05 17:42] jhamon commented on #526
@abh1kg Can you elaborate on the integration scenario you are trying to achieve that you think requires an iframe? There are ways to have the user redirected back to your app after login, if that is your concern.

[2018-06-05 18:26] jzheaux commented on #620
@sreetummidi, The instructions here still seem to have the same omission:

https://docs.cloudfoundry.org/concepts/architecture/uaa.html

Specifically, step 5 states:

which still fails as the OP describes.

[2018-06-05 19:07] jhamon commented on #620
That documentation is incorrect. The command you have provided here `uaac token get marissa koala` seems to represent a misunderstanding about what the uaac is doing. When you use the uaac you are exercising the UAA's OAuth functionality using a specific OAuth client and grant type. It is impossible to get a token without a client. The (incorrect) command you found in that documentation is attempt

[2018-06-05 19:21] jzheaux commented on #620
@jhamon Thanks for the thorough explanation! That's clear now, and I can now see how the command in the docs is incorrect.

Also, I can confirm that both the commands you just shared work for me. Thank you for your help!

[2018-06-05 23:30] jhamon commented on #835
I may be misunderstanding the implications here, but is it correct to say a secure cookie is one that can only be transmitted via https? It seems like this change would make it extremely difficult to do automated testing of the `uaa-singular` client library that depends on this cookie. Where firing up a local UAA has in the past been sufficient, wouldn't I now need to configure SSL just to test th

[2018-06-06 08:34] bandesz commented on #835
@jhamon the secure flag should only be added if the `require_https` option is set to true. This is the case with other cookies, like `X-Uaa-Csrf`.

[2018-06-07 03:45] JoshuaAndrew commented on #842
@agentgonzo

**step 1  generate docker image**
[code]

**step 2 run uaa in docker**

[code]

[2018-06-07 04:00] JoshuaAndrew opened #845 "UAA CorsFilter"
### What version of UAA are you running?
What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`
[code]

### How are you deploying the UAA?
I am deploying the UAA with docker

### Questions

http://docs.cloudfoundry.org/api/uaa/version/4.14.0/#list-6

**I found this document, I send request  to this api with header X-Identity-Zone-Id and X-Identity-Zone-Subdomain from my br

[2018-06-08 09:13] JoshuaAndrew commented on #845
@fhanik   Thanks a lot,  Eureka! I've got it!'

[code]

[2018-06-12 22:45] c4milo opened #846 "Horizontally scaling UAA without configuring sticky sessions in Load Balancers"
### What version of UAA are you running?
4.13.4

### How are you deploying the UAA?
We are deploying UAA inside a Tomcat 9 container, as a WAR.

### What did you expect to see? What goal are you trying to achieve with the UAA?
We would like to load balance requests between instances. Surprisedly, sessions seem to be stored in memory by default, forcing us to configure sticky sessions in our load b

[2018-06-13 12:49] kannangce opened #847 "Multiple email id support"
We are storing only one email per user. Still, in the request and response, we are having the email fields as an array. This is misleading.
I understand the reason for having the email as an array is as per the SCIM standard. But to be consistent, we should also support multiple mail-ids per user.

[2018-06-13 16:17] strehle opened #848 "Feature request: time line for spring 5.x upgrade"
Spring Framework 5 is out a while now and therefore the question is:
Are you planning an upgrade of usage in uaa ?

Some refactoring have to be done
https://github.com/spring-projects/spring-framework/wiki/Upgrading-to-Spring-Framework-5.x
e.g. guava , velocity

[2018-06-13 17:07] jhamon commented on #848
We don't have a specific timeline. Are there features in Spring 5 you think we should be excited about?

[2018-06-13 17:10] jhamon commented on #847
We don't have plans to do this any time soon. As you said, the current API is derived from the SCIM standard, and we're not aware of use-cases that necessitate or benefit from multiple email addresses in the UAA. It actually seems like it would add confusion about which email to check, which email to log in with (since email is often also the username), etc.

[2018-06-13 17:13] jhamon commented on #846
I don't understand how we could implement this without in-memory sessions. Is there another project doing this that you think we should look at to learn about other approaches? Or do you have specific thoughts you could share as a PR? @c4milo

[2018-06-13 18:07] jhamon commented on #846
We're very focused on the use case for UAA within the context of CF deployments where relying on gorouter sticky sessions has not been a problem. Storing sessions somewhere else like Redis could be interesting but it's not something we've had CF customers/users asking us for.

Any thoughts on this @tnwang ?

[2018-06-18 06:01] KMahesh045 opened #851 "Why does Change password redirect to "Profile"?"
I am trying to change my password in UAA using the URL: "uaa/change_password"

After successful password changes the change password dialog is automatically redirected to "uaa/profile". But after successful password changes how can I redirect to "uaa/login"?

[2018-06-18 16:21] jhamon commented on #847
Any thoughts, @kannangce ?

[2018-06-19 07:55] drnic opened #854 "[cf push] java.sql.SQLException: Driver:org.hsqldb.jdbcDriver returned null for URL"
### What version of UAA are you running?

Trying to deploy master branch to PWS/CF.

### How are you deploying the UAA?

I am trying to follow the "deploy to cf" instructions in the readme. So far I'm made the following two PRs - https://github.com/cloudfoundry/uaa/pull/852, https://github.com/cloudfoundry/uaa/pull/853.

In addition, I've attempted to create + bind two different SQL services - cle

[2018-06-19 08:51] drnic commented on #854
I changed my manifest from suggestions in https://github.com/cloudfoundry/uaa/blob/master/docs/Sysadmin-Guide.rst#database:

[code]

But get a similar error:

[code]

[2018-06-20 00:12] drnic opened #855 "Contact Authy to add the Cloud Foundry logo to their list"
/cc @christopherclark

I just enabled MFA/2FA for my UAA and set it up on Authy - the most fabulous 2FA app for iOS. Unfortunately their list of pretty logos includes many corporations and projects, but not Cloud Foundry. I was sad.

Could the CFF please contact https://support.authy.com/hc/en-us and talk to them to get our CF logo into their list so that any UAA/CF users who want to use Authy for

[2018-06-20 13:20] 3d3n commented on #620
To follow up on the questions asked above, @jhamon how do I get an authorization grant for the admin admin client which was configured . I can't seem to know what to do after getting the token for the admin client as all PI calls return an error.
P.S i am also developing locally.

[2018-06-22 18:21] DennisDenuto commented on #773
fyi these changes have been pushed to develop
https://github.com/cloudfoundry/uaa/commit/adc526eea5d1927fb0e2087ed8133c8c7bd9743e

[2018-06-22 18:21] #773 closed

[2018-06-23 22:53] DennisDenuto commented on #827
@binoydev Thanks for creating this issue. Are you able to provide instructions on how you are running uaa with jetty. (We do not have a lot of experience working with jetty).

Ideally you can point us to a docker image with the necessary jetty config file changes needed to deploy / run `uaa.war`.

Can you also please link us to the spec wrt the order of `filter` and `filter-mapping`.

[2018-06-23 23:56] DennisDenuto commented on #802
@htulsiani
Thanks for creating this issue. When requesting an `id token` from the UAA, you are correct in that the `scope` claim is hardcoded to `openid`.

Resource Providers use `scopes` as a mechanism of checking to see if the client has permission to access a resource on behalf of a user. However in this use case, you should [really be using an access token](https://tools.ietf.org/html/rfc6749#

[2018-06-26 12:39] w7089 commented on #842
@JoshuaAndrew
does it mean that some 3rd party docker image belonging to _index.tenxcloud.com_ is used?

[2018-06-27 01:50] JoshuaAndrew commented on #842
@w7089
DOCKER_REPO_URL  can by any  docker image repo, It happened that I used _index.tenxcloud.com_ here

[2018-06-27 07:34] w7089 commented on #842
But there's no official docker repository of cloud foundry where image of uaa can be downloaded from, correct?

[2018-06-27 16:53] DennisDenuto commented on #842
@w7089 The gradle task that builds a docker image (`./gradlew -x javadocJar -x sourceJar  clean buildImage`) was contributed by the community. The intent was for development usage only (it hardcodes private keys etc). However we have discovered that it has been used in the wild for production purposes. This plugin is considered by the team deprecated. We do not test this image in our pipeline, and

[2018-06-27 21:01] burcakulug commented on #631
This answer really helped me a lot to figure out the similar issue. However, this snippet doesn't contain `internalProxies` property. If this is not set, it doesn't really work properly. You need to provide a regex matching the internal proxy IPs.

[2018-06-28 10:13] lordcf opened #856 "Using custom port for login link."
Hi Team, I m working on a PoC in AWS china, beijing region, as per china gov rule, Currently I cannot access CF on standard ports (80,443,8080).
To overcome this I  put my router VM  behind AWS ELB, Now  my ELB listen on port 3443(TCP) and forward it to router on  443(TCP).

I'm able to set cf api with command:
`cf api api.sys.mydomain.com:3443 --skip-ssl-validation`

But CF login fails with error

[2018-06-29 03:02] DennisDenuto commented on #856
Hello @lordcf Thanks for creating this issue. I am going to make an assumption that you have deployed your `cf` with bosh.

In order to change the port that is returned by the `/info` endpoint, you will need to configure the [uaa.url property](https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/spec#L138) to -> `https://login.sys.mydomain.com:3443`.

Let us know how it goes!

[2018-06-29 03:04] #845 closed

[2018-06-29 03:07] DennisDenuto commented on #836
Hi @c4milo Thanks for creating this issue. It sounds like you are proposing a change to the uaa to improve debugging SMTP issues? (We are all for improving error messages and debugging uaa!)

Can you please provide details about the proposed change and what kind of issues you have faced with SMTP/uaa?
I am also not sure what you mean by exposing `mail.debug`.

[2018-06-30 16:56] GARENFEATHER commented on #783
sorry for the too-late response @DennisDenuto
you said that I should update my database url + username + password, which means  an independent database is necessary for default UAA server?

[2018-06-30 17:40] DennisDenuto commented on #783
Hi @GARENFEATHER yup that should work.

[2018-06-30 18:56] GARENFEATHER commented on #783
@DennisDenuto If so I would prefer run it locally cz I have no server resources online now.... then I got error like this:

[code]

[2018-07-03 12:35] c4milo commented on #836
@DennisDenuto, I did until I realized UAA doesn't actually send any emails. The API and docs are pretty lacking in this regard.

[2018-07-04 05:17] kannangce commented on #847
It's not about any use case.  The concern was that having e-mail is mentioned as array, giving an impression that we support multiple mails. But actually supporting only one mail.

[2018-07-04 05:52] drnic opened #859 "[docs] update sysadmin-guide for new JWT signing keys system"
https://github.com/cloudfoundry/uaa/blob/master/docs/Sysadmin-Guide.rst#id8 documents the deprecated configuration for JWT signing keys; could this section be upgraded to the new syntax and also include a discussion on when/how to rotate keys?

[2018-07-04 15:07] lordcf commented on #856
sorry for delayed reply.
As per your suggestion  I made change in my manifest, I updated ['properties.login.url'](https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/spec#L1194) instead of  'uaa.url'](https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/spec#L138).

Now I can see intended  `"authorization_endpoint":"https://login.sys.cfcn.portal-dev.bentleymotors.com:344

[2018-07-05 01:51] aeijdenberg commented on #332
Why is this closed? The docs (http://docs.cloudfoundry.org/api/uaa/version/4.19.0/index.html#revoke-a-single-token) continue to state that `You can use any token with matching token ID to revoke itself.`, when this is still not true.

Note the refresh token that I'm trying to revoke is of format JWT - perhaps the clarity needed is that these are not revocable at all?

[2018-07-05 07:36] lordcf commented on #856
Rather if I didn't set login.url I'm getting same previous error  for port 443 and authorization_endpoint also do not includes custom port 3443

[2018-07-08 06:58] binoydev commented on #827
@DennisDenuto  This is the link which helped me to solve
https://stackoverflow.com/a/10706621/7348879

I don't do any config changes for running uaa.war in jetty.  I was trying to run uaa.war in google app engine  which by default has jetty container. I was debugging this issue in eclipse. Same as tomcat eclipse has support for jetty also.

[2018-07-09 01:43] DennisDenuto commented on #827
ok. can you confirm that when you change the order of filter and filter-mapping that it fixes the problem you are seeing?

[2018-07-11 23:43] drnic opened #862 "[api-docs] GET /Users/ID requires scim.read not scim.write"
TL;DR - I'm happy to fix the API docs - where are they?

The [current api docs for "Get a user"](http://docs.cloudfoundry.org/api/uaa/version/4.19.0/index.html#get-3) say that `scim.write` or `uaa.admin` is required; but instead it is `scim.read`, `zones.uaa.admin`, or `uaa.admin`.

Demonstration:

[code]

This works.

If we change it to `scim.write` it does not work:

[code]

The error shows the

[2018-07-12 02:54] DennisDenuto commented on #862
Hi @drnic, Thanks for creating this issue.

These docs are generated via 'test' code.

https://github.com/cloudfoundry/uaa/blob/8bf1c4da49648f70de29645d5d5360e25ef82c3c/uaa/src/test/java/org/cloudfoundry/identity/uaa/scim/endpoints/ScimUserEndpointDocs.java#L681-L681

To run the test code and generate the [slate](https://github.com/lord/slate) markdown files you can use the gradle command: `./grad

[2018-07-12 20:48] BloodWorkXGaming commented on #717
I'm sorry for answering to such an old issue, however I just wanted to help anyone out running into the same issue and stumbling onto this issue:
 replacing: `-DLOGIN_CONFIG_URL=file://" + new File(".").absolutePath + "/uaa/sr...` by `-DLOGIN_CONFIG_URL=file:///" + new File(".").absolutePath + "/uaa/sr`  (tripple ///) fixed the issue for me due to reasons described here: https://stackoverflow.com/

[2018-07-16 03:21] drnic opened #867 "Cannot get /token_key or /token_keys to return symmetric keys"
### What version of UAA are you running?

uaa-release v60

### How are you deploying the UAA?

I am deploying UAA via uaa-release in virtualbox using https://github.com/starkandwayne/uaa-deployment

[code]

### What did you do?

The UAA API docs say that `/token_key` should return symmetric keys if I provide `-u client:secret` for a client that has `uaa.resource` authority http://docs.cloudfoundry

[2018-07-17 04:12] DennisDenuto commented on #867
Hi @drnic Thanks for creating this issue. It looks like you have only configured an `rsa-sha256` key in your deployment (https://github.com/starkandwayne/uaa-deployment/blob/master/ops/2-uaa.yml#L43-L44)

If you want to see the 'symmetric' key you will need to create a `hmac-sha256` key. (Use any value *not* beginning with [`-----BEGIN`](https://github.com/cloudfoundry/uaa/blob/master/server/src/m

[2018-07-17 04:23] DennisDenuto commented on #854
@drnic Thanks for creating this issue. Can you try using `jdbc:postgresql` instead of `jdbc:postgres`

Can you confirm that when you ssh into the uaa vm that you can connect to your posgresql db.

[2018-07-17 04:31] DennisDenuto commented on #851
@KMahesh045 Thanks for creating this issue. There is no configuration in the `uaa` to change where a user gets redirected after they change their password.
It is hardcoded to go to 'uaa/profile' https://github.com/cloudfoundry/uaa/blob/fef6a0467e26737c94deb531f405a0c96df14b35/server/src/main/java/org/cloudfoundry/identity/uaa/account/ChangePasswordController.java#L79-L79

[2018-07-17 04:31] #851 closed

[2018-07-17 04:32] #842 closed

[2018-07-17 04:36] DennisDenuto commented on #836
@c4milo Fair enough. Improving uaa docs is definitely on the team radar. If you would like to have a go at improving docs we love PRs that improve docs :-)

[2018-07-17 04:36] #836 closed

[2018-07-17 07:02] drnic commented on #854
@DennisDenuto ahh thanks for spotting that; I should have tried harder.

For anyone else, the combo that got me past the various spring/postgresql errors when using elephantsql/tiny-turtle (max 4 connections) was:

[code]

[2018-07-17 07:02] #854 closed

[2018-07-17 07:08] drnic commented on #854
After fixing up the other generated credentials/encryption keys etc, success:

![screen shot 2018-07-17 at 5 07 40 pm](https://user-images.githubusercontent.com/108/42801741-f39977ee-89e3-11e8-94f0-f6c3b62b9c01.png)

[2018-07-17 07:18] drnic commented on #854
@DennisDenuto where in the UAA or Spring stack can I raise the issue for a cf postgresql binding to accept both `postgres://` and `postgresql://`? It feels awkward to manually use service keys so you can manually construct the `UAA_CONFIG_YAML` rather than use cf bindings?

[2018-07-17 07:30] KMahesh045 commented on #851
@DennisDenuto Will it be taken as a feature request? or is there a issue available in backlog to make this as configurable? thanks.

[2018-07-17 12:46] binoydev commented on #827
@DennisDenuto yes changing the filter & filter-mapping order fixed the problem

[2018-07-18 14:51] mrrumcajz opened #871 "Attempting to deploy in JBoss EAP 7.1 results in failure"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-07-19 14:36] 3d3n commented on #607
Hi @sreetummidi , I have a similar problem, after deploying UAA onto Bluemix account.

UAA successfully deployed  but when accessed in browser displays 'FAILURE' as response, please help.
[uaa_bluemix log.txt](https://github.com/cloudfoundry/uaa/files/2210357/uaa_bluemix.log.txt)

[2018-07-20 16:05] strehle opened #872 "PLEASE update master with 4.19.2"
from my point of view master should have to latest release, means you released 4.19.2 officially and then master should have rev. from 4.19.2

[2018-07-20 21:17] bruce-ricard commented on #872
A bit of background as to how we are currently structuring our branches in the `uaa`:
1) develop has our latest commits
2) we run our develop commits in CI
3) assuming they pass CI, when we want to cut a new release, we perform the following:
3.1) we cut a new release from develop. (This involves creating a github release, and updating the version file)
3.2) we fast forward master to develop
3.3)

[2018-07-20 21:51] strehle commented on #872
I support many of your thought, however I thing.

develop should always contain the lastest fixes from a CVE. Releasing for a separate branch but not providing this to develop will increase confusion.

If you argue master is a stable view on develop, then you should also commit CVE fixed which are in develop also to master, e.g.
compare yourself server/src/main/java/org/cloudfoundry/identity/uaa/o

[2018-07-20 22:09] drnic opened #873 ""Cloudbees" explicitly referenced in templates"
What is the history behind "Cloudbees" and "https://cloudfoundry.cloudbees.com/authenticate " being referenced in HTML templates?

https://github.com/cloudfoundry/uaa/search?q=Cloudbees&unscoped_q=Cloudbees

[2018-07-20 23:01] bruce-ricard commented on #872
If the CVE is also on develop, develop **always** contains the CVE fix. Our typical way of doing this is to fix the issue on develop, and then cherry-pick the commits to the impacted release branches. For completeness sake, if for some reason develop does **not** have the issue from the CVE, for example because a new feature got rid of it, we obviously won't have the CVE fix on develop. So develop

[2018-07-21 23:33] DennisDenuto commented on #827
Hi @binoydev can you try running the `uaa` from the [reorder_filtermapping](https://github.com/cloudfoundry/uaa/tree/reorder_filtermapping) branch that contains the `filter` & `filter_mapping` order changed.

Can you verify that this fixes your issue with jetty?

[2018-07-22 00:30] DennisDenuto commented on #871
@mrrumcajz Thanks for creating this issue. I *think* what is going on here is that `jboss EAP7.1` is unable to add a listener to the servlet's context (in this case the spring dispatcher servlet) because the servlet implementation that jboss is using [prevents a listener to be added if the servlet context has been initialized](https://github.com/undertow-io/undertow/blob/master/servlet/src/main/ja

[2018-07-22 00:53] DennisDenuto commented on #830
Hi @JiaHaoJerry
can you verify that when you went to the 'SP's login page' whether you saw a link to the 'IDP's Login page'.
or
can you provide a screenshot of when you visit the SP's login page.

and can you also please provide your `/identity-providers` configuration

[2018-07-22 00:57] DennisDenuto commented on #815
fyi this has been fixed and will be in the next release of `uaa`

[2018-07-22 00:57] #815 closed

[2018-07-22 01:00] #797 closed

[2018-07-22 01:06] DennisDenuto commented on #812
Hello @bsekar
Thanks for creating this issue. Can you please provide the uaa logs? you should be able to find the location of the logs by running `lsof | grep uaa.log`

Also the link you have provided to point to the bug is now invalid. Are you able to update it?

[2018-07-22 02:41] DennisDenuto commented on #447
Done.
Pivotal | Pivotal Cloud Foundry 2.2 UAA | 17-Jul-2018

[2018-07-22 02:41] #447 closed

[2018-07-22 02:46] DennisDenuto commented on #615
There has been a 'idp discovery' feature pushed onto develop that address this issue. See https://www.pivotaltracker.com/story/show/155403107

There is currently an edge case bug. The idea is for this to be available ideally next release.

[2018-07-23 09:56] strehle commented on #872
you may first define then develop as default branch so that git clone git@github.com:cloudfoundry/uaa.git sync this branch and not master.

The use case is the first entry to uaa repo. If you sync first you get master because this is defined as default. but currently this branch does not contain the latest CVEs correction, so it is not a stable branch any newbies should use

[2018-07-23 16:47] jhamon commented on #872
@strehle We have made `develop` the default branch.

[2018-07-23 16:47] #872 closed

[2018-07-23 23:17] tnwang commented on #802
As an updated, we did confirm UAA is mapping over external groups from OIDC providers correctly. That is, UAA-zone-2 can map groups against a `scope` or `roles` claim from UAA-zone-1.  https://www.pivotaltracker.com/story/show/155573014 has more details.

However, one UAA-zone-1 cannot pass over its group information via OIDC to UAA-zone-2 as we do not expose a user's groups in the ID token from U

[2018-07-23 23:37] drnic opened #874 ""Show on home page" only for bootstrapped clients? PR welcome?"
From what I can see, I can only configure my clients to appear on the UAA home page during `uaa.yml` bootstrapping using attributes `show-on-homepage`, `app-launch-url`, and `app-icon`.

An example of a home page icon/launch URL:

<img width="354" alt="screen shot 2018-07-24 at 9 40 46 am" src="https://user-images.githubusercontent.com/108/43108553-b5be7fae-8f25-11e8-8a98-07906fb4dc32.png">

These

[2018-07-23 23:39] drnic commented on #874
One reason to support configuration of client homepage information is the large size of `app-icon` base64 images. If I'm required to configure them via `uaa.yml`, then my Cloud Foundry env variable containing the `UAA_CONFIG_YAML` env var becomes huge and might not fit into the Cloud Controller DB text field.

Another reason is to allow and encourage operators to add a home page presence to their

[2018-07-24 03:31] drnic commented on #874
To anyone else struggling with 20kb png files can become huge base64 strings, I discovered https://tinypng.com/ converted my 20Kb png into 2kb png (and thus a similarly 90% smaller base64 string)

[2018-07-24 05:59] drnic opened #875 "spring_profiles is a list of tokens but only a string; but bosh operator files like real arrays"
https://github.com/cloudfoundry/uaa/blob/master/uaa/src/main/resources/uaa.yml#L5-L9

I'm trying to deploy UAA to CF, but am building up my `uaa.yml` using `bosh int` (operator files). I have `mysql.yml` + `postgresql.yml` which set `spring_profiles: mysql` and `spring_profiles: postgresql` respectively.

I'd also like a `ldap.yml` operator file that appends `ldap` to the `spring_profiles` "list";

[2018-07-24 09:49] leeloodub opened #876 "Client Configuration Does Not Work With Whitespaces"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-07-25 05:20] saumilsdk opened #877 "Does UAA support email configuration for AWS SES?"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-07-25 07:40] drnic commented on #877
What did you try that didn’t work as expected? (You’ve not filled in the template for new issues - so it’s not possible to help specifically yet)

[2018-07-25 08:30] saumilsdk commented on #877
Hi @drnic I couldn't try anything to integrate AWS Simple Email Service as there is no documentation as such. Does UAA support such extension?

[2018-07-25 11:45] drnic commented on #877
I’ve not user SES but the configuration ropions for SMTP are demonstrated at
https://github.com/cloudfoundry/uaa/blob/master/uaa/src/main/resources/uaa.yml#L628-632

[2018-07-25 15:19] KramKroc opened #878 "Running gradle in parallel causes issues with StopWatch"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-07-25 18:02] 3d3n opened #879 "unable to get a refresh token for clients"
### What version of UAA are you running?

What output do you see from `curl <YOUR_UAA>/info -H'Accept: application/json'`

[code]

### How are you deploying the UAA?

I am deploying the UAA

- on the bluemix environment

### What did you do?
-ran curl commands for clients credentials to get a refresh_token for clients (including default clients like 'cf')  in the uaa with a refresh_token authorize

[2018-07-25 20:49] drnic commented on #879
Please fill in the issue template to describe what you’ve tried etc

[2018-07-25 23:15] jhamon commented on #879
The example you showed in the attached text file shows you're trying to use the `admin` client. This client only has `client_credentials` for authorized grant types and will not be able to get a refresh token.

[2018-07-26 05:44] 3d3n commented on #879
I got the same result when I used 'cf' and a client I created in uaa, both having the refresh_token grant_type.

[2018-07-26 05:49] drnic commented on #879
Perhaps your UAA/zone is configured to not provide refresh tokens?

I think it is https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/spec#L630

________________________________
From: Ajibade Eden <notifications@github.com>
Sent: Thursday, July 26, 2018 3:45 pm
To: cloudfoundry/uaa
Cc: Dr Nic Williams; Comment
Subject: Re: [cloudfoundry/uaa] unable to get a refresh token for clients

[2018-07-26 06:58] tack-sap commented on #879
Hi,

There is no such thing as refresh tokens for the client_credentials grant (or just a client). A refresh token carries information about an authenticated user - which you don't have with client_credentials. You can get a refresh token with every grant type that includes a user (e.g. password, authorization_code, ...).

The refresh_token grant however is not used to get a refresh token, but to

[2018-07-26 07:03] 3d3n commented on #879
@drnic yes the zone is configured to give refresh tokens.

@tack-sap that makes more sense, thanks

[2018-07-26 07:58] saumilsdk commented on #877
I have tried following configuration of uaa.yml and seems working fine. Closing the issue:
smtp:
  host: email-smtp.us-east-1.amazonaws.com
  port: 587
  username: <usernameOfSES>
  password: <passwordOfSES>
  auth: true
  starttls: true

[2018-07-26 07:58] #877 closed

[2018-07-26 10:02] #879 closed

[2018-07-26 12:14] vinaylakkam opened #880 "id_token doesn't have claim `at_hash` in implicit flow"
### What version of UAA are you running?

4.19.0

### How are you deploying the UAA?

I am deploying the UAA

Used https://mvnrepository.com/artifact/org.cloudfoundry.identity/cloudfoundry-identity-uaa/4.19.2 war and deployed to tomcat

### What did you do?

I'm using the Implicit flow with below http request

GET /uaa/oauth/authorize?client_id=ui&redirect_uri=http%3A%2F%2Flocalhost%3A9000%2Fcallb

[2018-07-29 20:16] kannangce opened #881 "Irrespective of the application port SAML metadata is always 8080"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-07-30 03:59] kannangce opened #882 "Error in using SAML /oauth/token endpoint"
**SECURITY NOTICE: If you have found a security problem in the UAA, please do not file a public github issue. Instead, please send an email to security@cloudfoundry.org**

Thanks for taking the time to file an issue. You'll minimize back and forth and help us help you more effectively by answering all of the following questions as specifically and completely as you can.

### What version of UAA ar

[2018-07-30 07:57] kannangce commented on #882
After digging further, and debugging Tomcat code, found out that the header was causing the issue.
Was sending the host as `localhost` as specified in the [API](https://docs.cloudfoundry.org/api/uaa/), in section "SAML2 Bearer Grant". Then figured out, that we need to specify the port as well, along with that. Or else we can also skip the "Host" header.

[2018-07-30 07:57] #882 closed

[2018-07-30 16:27] kannangce opened #883 "SAML2 Bearer grant - API documentation misleading"
The API documentation for the SAML2 Bearer says the request will be sent to the endpoint `http://xgm4zg.localhost:8080/uaa/oauth/token/alias/xgm4zg.cloudfoundry-saml-login` with the header `Host: xgm4zg.localhost`.

This will cause an issue mentioned here (#882) . Please consider doing one of the below,

1. Ideally, the Host header need not be included, so that can be removed from the sample reque

[2018-07-30 17:10] tnwang commented on #881
Do you see this with the latest version of UAA? We were not able to replicate this issue when using the latest UAA BOSH release and setting the ports.

[2018-07-30 17:16] DennisDenuto commented on #881
@kannangce
Thanks for creating this issue, It looks like the SAML bindings will use the value specified in [entityBaseUrl](https://github.com/cloudfoundry/uaa/blob/8506fa5d87979cf141f0aea8b5f411579f597087/uaa/src/main/resources/uaa.yml#L492)

[2018-07-31 15:25] sebastianGit opened #884 "Public information providing overview of CF UAA Versions that get security updates"
Dear CF UAA team,

Is there currently any place (e.g., web page on Github or elsewhere) available, where one can find the following information:
•	Versions of CF UAA (a) for which security updates will be provided and (b) what is the planned time frame in which it is expected that those versions get updates
•	Versions of CF UAA for which no more security updates will be provided
If such a place is

[2018-08-02 02:55] tirom opened #885 "cargoRunLocal was stuck"
Putting task artifact state for task ':cargoRunLocal' into context took 0.0 secs.
Up-to-date check for task ':cargoRunLocal' took 0.029 secs. It is not up-to-date because:
  Task.upToDateWhen is false.
Deployable artifacts = [E:\Learning\netcore\git\uaa_test\uaa\statsd\build\libs\cloudfoundry-identity-statsd-4.20.0-SNAPSHOT.war, E:\Learning\netcore\git\uaa_test\uaa\samples\api\build\libs\cloudfoun

[2018-08-02 03:14] pratikkumar90 opened #886 "Ability to publish event when user is created or updated"
### What version of UAA are you running?

4.12

### How are you deploying the UAA?

I am deploying the UAA locally by deploying the war file (downloaded from maven repository) in a tomcat server (8.0+).

### What did you do?

Trying to create users in UAA by invoking the "/Users" endpoints.
Successfully able to create create/update users in UAA.

### What did you expect to see? What goal are you t

[2018-08-02 14:50] jhamon commented on #885
What you are seeing is the expected behavior; this task does not complete or exit until manually killed. The log shows Tomcat has started on port 8080 so you should find UAA running at http://localhost:8080/uaa

[2018-08-02 14:50] #885 closed

[2018-08-02 19:59] jhamon commented on #884
If you need critical security fixes you should always upgrade to the latest release of UAA. The release lines you mentioned have received backports of key security fixes in the past because they are included in Pivotal's commercial product offerings, but we don't make any public commitments about long-term support of open source releases. In the future, Pivotal may shift to maintaining these secur

[2018-08-02 19:59] #884 closed

[2018-08-02 22:54] jhamon opened #887 "Questions about UaaTokenEnhancer"
Hey @strehle @tack-sap @torsten-sap we recently ran into some regressions related to UAA token enhancer and am wondering if you can clarify for us some things about how it is used. The tests that were contributed along with the feature aren't enough for me to understand how this is meant to be used. Are you expecting to modify claims in the token? Or only add additional claims?

The way this is cu

[2018-08-03 13:27] strehle commented on #887
Hi @jhamon ,

the interface of token enhance was extended with enhance and this method replaces former (existing) method getExternalAttributes.
We did the enhancements with help of @fhanik  and he pointed out that we should call token enhancer only once and use this result to enhance access and refresh tokens.
Thats why we requested https://github.com/cloudfoundry/uaa/pull/768

No, we dont modify

[2018-08-07 03:39] DennisDenuto commented on #886
@pratikkumar90 Thanks for creating this issue. AFAIK the UAA does not currently have an event based notification for when users are created.

In lieu of this feature you could however build a notification system from the existing APIs:
1) [list all the Users](https://docs.cloudfoundry.org/api/uaa/version/4.19.0/index.html#list-3) sortBy `createdDate`, orderBy `descending` and count `1`.
2) keep a

[2018-08-07 03:55] DennisDenuto commented on #880
Hi @vinaylakkam
Thanks for creating this issue. You are correct, the [spec does specify](https://openid.net/specs/openid-connect-core-1_0.html#HybridIDToken) providing the `at_hash` claim when using the hybrid flow with `id_token` and `access_token`. It should also provide the `c_hash` when using the hybrid flow with `id_token` and `code`.

Can you share how this is affecting your usage of the UAA

[2018-08-07 03:59] #867 closed

[2018-08-07 04:02] #862 closed

[2018-08-07 08:04] saumilsdk opened #889 "UAA not sending verification email on create user API"
I am creating a user in uaa zone. I am providing email with primary = true and verified = false. When i call the API user gets created but no email is sent out for verification.

[2018-08-07 09:41] saumilsdk commented on #719
Hi @jamelseagraves can you please provide details how did you solve it? I am facing the same issue.

[2018-08-08 06:50] vinaylakkam commented on #880
Hi Denis,

Yes. The token validation is failing with open-id-connect complaint library (oidc-client-js) as it doesn't have 'at_hash' claim. I believe UAA is a fully complaint open-id-connect auth server. Please let me know if there is configuration that I'm missing to get the 'at_hash' claim

[2018-08-08 09:40] MatthiasWinzeler commented on #615
@DennisDenuto Great to hear! To achieve my desired behavior in the initial issue report (i.e. default redirect to external IDP but local users still possible), will I need to set the `login_hint` or is setting `config.defaultIdentityProvider` sufficient?

[2018-08-08 10:53] tack-sap commented on #615
For the 99% case you just need to set the `config.defaultIdentityProvider` - every request to the login page is then redirected to the external provider configured as default.
When you want to login with the internal user store (or any other configured IdP) using the UI flow you then need to pass the `login_hint` with your request.

As you say your internal users don't use the UI flow: When you wa

[2018-08-08 10:57] MatthiasWinzeler commented on #615
@tack-sap Sounds like it solves our issue in a very elegant way. Many thanks for respecting this use case! Will close this issue once it's released and tested.

[2018-08-09 00:43] DennisDenuto commented on #889
@saumilsdk  Thanks for creating this issue, It looks like you haven't configured UAA's smtp server configuration. https://github.com/cloudfoundry/uaa/blob/develop/uaa/src/main/resources/uaa.yml#L652-L656

[2018-08-11 05:55] saumilsdk commented on #889
hey @DennisDenuto i have configured SMTP and verification email going if i do sign-up on webpage. But if I use API to create user, it doesn't send any verification email.

[2018-08-11 22:49] DennisDenuto commented on #889
Hey @saumilsdk  Currently in the UAA the logic for when you create a user via the API is that a verification email is not sent. (This is true regardless if you set `verified` to true or not).

As you pointed out, using `uaa` self-service does send a verification email with a code that expires in an hour. One reason for this difference in behavior is you do not have to be authenticated/authorized t

[2018-08-12 04:10] binoydev commented on #827
@DennisDenuto  yes it works. Thanks for the update

[2018-08-12 05:16] saumilsdk commented on #889
The use case is we have set of users for which we want to generate the verification link via API. We don't want those users to go to webpage and do signup individually. So using API we want to add bulk user with verified=false until they verify the email.

[2018-08-12 07:34] saumilsdk opened #890 "Client in different zone not able to create access token"
I have created a client in zone "test" with secrete "test" successfully. When I call POST {{server}}/oauth/token?grant_type=client_credentials&response_type=token&token_format=jwt with Header X-Identity-Zone-Id=test says
{
    "error": "unauthorized",
    "error_description": "Bad credentials"
}

Same thing works fine in localhost without any change that too with same DB